.tagListEl {
    background-color: #f2f2f2;
    color: #3C5665;
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
}

.tagListEl:hover {
    color: #f2f2f2!important;
    background-color: #587D92;
}

.tagListEl.active,
.tagListEl:active {
    color: #f2f2f2!important;
    background-color: #3C5665;
}

.subtypeSection {}

#ajaxFormModal #description {
    min-height: 180px;
}

#ajaxFormModal .btn.btn-link {
    background-color: #eaeaea;
    border-radius: 4px;
}

#ajaxFormModal .btn.btn-link:hover {
    background-color: #ddd;
}

#ajaxFormModal .sectionRemovePropLineBtn {
    padding: 0 0 0 15px !important;
}

.btn-dyn-checkbox {
    border: 4px solid rgba(255, 255, 255, 0.5);
    font-weight: 800;
    font-size: 15px;
    color: white !important;
}

.btn-dyn-checkbox.active,
.btn-dyn-checkbox:active,
.btn-dyn-checkbox:hover {
    border: 4px solid rgba(191, 191, 191, 0.5);
}

.population-elt-finder:hover {
    background-color: rgba(191, 191, 191, 0.5);
    cursor: pointer;
}

#finderSelectHtml #list-finder-selected {
    max-height: 200px;
    overflow-y: overlay;
}

#finderSelectHtml #list-finder-selection {
    height: 400px;
    overflow-y: overlay;
}

.population-elt-finder {
    padding: 5px 0px;
}

.population-elt-finder .checkbox-content {
    padding: 7px 10px 0px 10px;
}

.population-elt-finder .checkbox-content label {
    margin-bottom: 0px;
    vertical-align: bottom;
    font-size: 20px;
}

.population-elt-finder .checkbox-content .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
}

.population-elt-finder .checkbox-content .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.population-elt-finder .checkbox-content label input[type="checkbox"] {
    display: none;
}

.population-elt-finder .checkbox-content label input[type="checkbox"]+.cr>.cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.population-elt-finder .checkbox-content label input[type="checkbox"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.population-elt-finder .checkbox-content label input[type="checkbox"]:checked+.cr {
    background-color: #2BB0C6;
    color: white;
    box-shadow: 0px 0px 16px rgba(250, 250, 250, 0.9);
    border: 1px solid white;
}

.population-elt-finder .checkbox-content label input[type="checkbox"]:disabled+.cr {
    opacity: .5;
}

.select2-results .optgroup {
    color: black !important;
}

.select2-results .subgroup {
    margin-left: 20px;
}

.md-header.btn-toolbar .btn-group button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.md-header.btn-toolbar .btn-group button span {
    color: black;
}

#ajax-modal .bootstrap-switch-wrapper {
    /*border: none;*/
}

.bootstrap-switch .bootstrap-switch-label {
    background-color: white !important;
    color: transparent !important;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background-color: #999 !important;
    color: white !important;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background-color: #34a853 !important;
    color: white !important;
}


/*#ajax-modal{
	z-index: 2000000;
}*/

.qq-uploader {
    border: 1px solid #ccc;
}

.qq-paste-input {
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    padding: 20px;
}

ul.tplList {
    list-style-type: none;
}

.tplList li {
    display: inline-block;
}

.tplList input[type="radio"] {
    display: none;
}

.tplList label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.tplList label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.tplList label img {
    height: 200px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.tplList :checked+label {
    border-color: #ddd;
}

.tplList :checked+label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

.tplList :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}

.form-array-container {
    position: relative;
    padding: 25px 5px 5px;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    margin-top: 10px;
}

.form-array-delete {
    position: absolute;
    display: flex;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: red;
    top: 2px;
    right: 2px;
}

.form-array-add {
    display: block;
    margin-top: 10px;
    width: 100%;
    color: green;
}