td{padding:5px;}
	.panel-lines {
		padding:10px;

	}
	td, tr{
		text-align: center;
		text-align: -moz-center;
		text-align: -webkit-center;
	}
	#notifications-settings .toggle{
		float:right;
		min-height: inherit;
	    min-width: inherit;
	    width: 55px !important;
	    height: 25px !important;
	    margin-top: 5px;
	}
	.btn-show-block{
		font-size: 18px;
		font-weight: 700;
		line-height: 40px;
		cursor: pointer;
	}
	/*.contain-section-params:not(:first-child) .btn-show-block{
		border-top:1px solid rgba(244,244,244,0.8);  
	}
	.btn-show-block:hover{
		background-color: rgba(244,244,244,0.64);
	}*/
	.btn-show-block:hover, .btn-show-block:focus{
		text-decoration: none;
	}
	.btn-show-block span{
		vertical-align: sub;
	}
	.btn-show-block .hover-line{
		font-weight:inherit;
		font-size: 12px;
	}
	.btn-show-block:hover .hover-line{
		vertical-align: sub;
		text-decoration: underline !important;
	}
	.show-block{
		display: none;
	}
	.show-block i{
		width: 20px;
    	text-align: center;
    	font-size: 16px;
	}
	.show-block label{
		font-size: 14px;
    	line-height: 34px;
    	font-weight: normal;
    	margin-bottom: inherit;
	}

	.show-block .notification-label:hover{
		background-color: rgba(244,244,244,0.3);
    	border-radius: 2px;
	}
	.show-block .bootstrap-switch{
		height: 25px !important;
    	line-height: 10px !important;
    	min-width: 75px !important;
    	float:right;
    	margin-top: 5px;
	}
	.show-block .bootstrap-switch .bootstrap-switch-handle-on{
		background-color: #5cb85c !important;
		height: 23px;
	}
	.show-block .bootstrap-switch .bootstrap-switch-handle-off{
		box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
		background-color: #e6e6e6 !important;
		height: 23px;
	}
	.show-block .bootstrap-switch .bootstrap-switch-handle-off:hover{
		background-color: #d4d4d4 !important;
	}
	.show-block .bootstrap-switch .bootstrap-switch-handle-on:hover{
		background-color: #449d44 !important;
	}
	.show-block .bootstrap-switch .bootstrap-switch-label{
		background-color: white !important;
		height: 25px;
    	vertical-align: super;
	}
	.settings-header{
		border-bottom: 1px solid #e5e5e5;
	}
	/*.settingsHeader{
		position: fixed;
	    top: 60px;
	    z-index: 100;
	    right: 5px;
    	left: 25%;
	}*/
	.scroll-container{
		background-color: white !important;
		border:none !important;
		margin-bottom: none !important;
	}
	/*#community-settings{
		margin-top: 133px !important;
	}*/
	.link-docs-menu{
		font-size: 23px;
		font-weight: bold;
		background-color: white;
		border-radius: 3px;
	}
	.settingsHeader .btn-scroll-type, .settingsHeader #btnSettingsInfos{
		font-size: 18px;
    	font-variant: small-caps;
    	padding: 10px 20px;
	}
	#search-in-settings{
		border-radius: 0px;
	}
	.notification-label-communtiy .thumb-send-to {
	    border-radius: 50%;
	    padding: 3px;
	    margin-top: 7px;
	}
	/*#modalExplainSettings, #modal-confidentiality{
		top: 60px !important;
	}*/
	#modalExplainSettings, #modal-confidentiality{
		z-index: 150000;
		background-color: rgba(0,0,0,0.4);
	}
	@media (max-width: 991px) {
	  .settingsHeader{
	     left: 0px;
		} 
	}
	/*@media (min-width: 991px) {
		#modalExplainSettings, #modal-confidentiality{
			left: 25% !important;
		}
	}*/

	.sub-cat{
		padding-left: 30px;
	}


	/*style made by nicoss*/

	#menu-settings .link-docs-menu.active{
		background-color: #9fbd38;
	}
	.setting-container{
		margin-top: 25px;
		margin-bottom: 10px;
	}
	.setting-logo{
		position: relative;
	}
	.setting-logo span{
		position: absolute;
	    width: 70px;
	    height: 70px;
	    margin-top: -35px;
	    padding: 10px;
	    margin-left: -43px;
	    text-align: center;
	    color: #fff;
	    background-color: #3f4e58;
	    border-radius: 50%;
	    display: table;
	    border:  3px solid #fff;
	}
	.setting-cont-1{
		background:#3f4e58;
		box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
		color: #fff;
		min-height: 236px;
	}
	.setting-cont-1 h3, .setting-cont-2 h3{
		text-align: center;
		margin-bottom:15px;
		color:#fff;
	}
	.setting-cont-2{
		background: #fff;
		box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
		min-height: 190px;
	}
	.settings-header {
	    text-align: center;
	    color: #3f4e58;
	    border-bottom: 1px solid #9fbd38;
	}
	
	.show-block .notification-label, .div-btn-setting {
	    line-height: 20px;
	    margin-top: 5px;
	    border-bottom: 1px dotted #3f4e58;
	}
	.modal-body .box {
	    border-radius: 3px;
	    box-shadow: 0 2px 5px 0 rgb(63, 78, 88), 0 2px 10px 0 rgb(63, 78, 88);
	    padding: 10px 25px;
	    text-align: right;
	    display: block;
	    margin-top: 60px;
	    min-height: 442px;
	}
	.modal-body .box-icon {
	    background-color: #3f4e58;
	    border-radius: 50%;
	    display: table;
	    height: 70px;
	    margin: 0 auto;
	    width: 70px;
	    margin-top: -48px;
	    transition: all .3s ease-out;
	}
	#notifications-settings .box-icon, #myAccount-settings .box-icon {
	    background-color: #fff;
	    border-radius: 50%;
	    display: table;
	    height: 70px;
	    margin: 0 auto;
	    width: 70px;
	    margin-top: -35px;
	}
	.modal-body .box-icon span{
	    color: #fff;
	    display: table-cell;
	    text-align: center;
	    vertical-align: middle;
	}
	#notifications-settings .box-icon span, #myAccount-settings .box-icon span {
	    color: #3f4e58;
	    display: table-cell;
	    text-align: center;
	    vertical-align: middle;
	    /*border: 3px solid #3f4e58;*/
	    border-radius: 50%;
	    box-shadow: 0 2px 5px 0 rgb(63, 78, 88), 0 2px 10px 0 rgb(63, 78, 88);
	}
	.modal-body .info h4 {
	    font-size: 22px;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	}
	.modal-body .info .confidentialitySettings.active, .setting-container .confidentialitySettings.active {
	    background-color: #9fbd38;
	    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
	    color: #fff;
	    transition: all 0.5s ease 0s;
	    border: 1px solid #88a22e;
	}
	.modal-body .info > a {
	    background-color: #03a9f4;
	    border-radius: 2px;
	    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	    color: #fff;
	    transition: all 0.5s ease 0s;
	}
	.modal-body .info > a:hover {
	    background-color: #0288d1;
	    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
	    color: #fff;
	    transition: all 0.5s ease 0s;
	}
	@media (max-width: 767px) {
		.setting-container{
			margin-top: 10px;
		}
		.modal-body .sect-notification, .modal-body .sect-infoGe {
			padding: 0px;
		}
		.modal-body .info h4 {
		    font-size: 18px;
		    letter-spacing: 2px;
		    text-transform: uppercase;
		}
		.setting-logo span {
		    width: 56px;
		    margin-top: -30px;
		    height: 50px;
		}
		.setting-logo span i, .modal-body .box-icon span, #notifications-settings .box-icon span, #myAccount-settings .box-icon span{
		    font-size: 2em;
		}
		.modal-body .box-icon {
		    height: 55px;
		    width: 55px;
		    margin-top: -38px;
		}
		#notifications-settings .box-icon, #myAccount-settings .box-icon {
		    height: 55px;
		    width: 55px;
		    margin-top: -28px;
		}
		.setting-cont-1{
			padding-bottom: 12px;
		}
		.settings-header h3{
			font-size: 20px;
		}
		.notificationsPod , #myAccount-settings{
			margin-top: 30px;
		}
		.modal-body .box {
			min-height: 222px;
		}
		.show-block label, .show-block .bootstrap-switch  {
			width: 100%;
			text-align: center;
			line-height: 24px;
		}
		.link-docs-menu {
    		font-size: 17px;
    	}
	}
	.link-setting a.btn-default, .link-setting a.btn-success, .link-setting a.btn-danger {
		width: 100%;
		font-weight: 700;
	}
	.div-btn-setting .btn-setting-update {
		width: 90%;
		font-weight: 700;
		margin: 10px;
	}
	.link-setting {
		padding: 5px 10px;
	}
	.link-setting a.btn-default:hover, .link-setting a.btn-default:active, .link-setting a.btn-default:focus, .elementSettingsNotifs a.btn-default:hover, .elementSettingsNotifs a.btn-default:active, .elementSettingsNotifs a.btn-default:focus {
		background-color: #9fbd38;
	    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
	    color: #fff;
	    transition: all 0.5s ease 0s;
	    border: 1px solid #88a22e;
	}
	.desc-network {
	    border-bottom: 1px dotted #29b8ee;
	    padding: 10px 0;
	}
	.notificationsPod, #myAccount-settings{
		margin-top: 40px;
		/*border: 3px solid #3f4e58;*/
		border-radius: 5px;
		box-shadow: 0 2px 5px 0 rgb(63, 78, 88), 0 2px 10px 0 rgb(63, 78, 88);
	}
	.btn-u-icon { 
		background: #ffffff;
	    margin-right: 4px;
	    float: left;
	    width: 35px;
	    height: 35px;
	    font-size: 25px;
	    line-height: 38px; 
	    color: #9fbd38;
	}
	.btn-n-icon {
	    background: #3f4e58;
	    margin-right: 4px;
	    float: left;
	    width: 48px;
	    height: 37px;
	    font-size: 25px;
	    line-height: 36px;
	    color: #9fbd38;
	    border-radius: 4px;
	    text-align: center;
	    margin-top: 4px;
	    margin-left: -10px;
	}
	.icon-btn-update { 
		padding: 2px;
	    border-radius: 50px;
	    text-align: center;
	    line-height: 32px;   
	}
	.btn-show-block {
		background-color: #fff;
		border: 2px solid #9fbd38;
		border-radius: 4px;
		margin: 15px 0px ;
	}
	.btn-show-block:hover {
		background-color: #9fbd38;
		color: #fff;
		border: 2px solid #88a22e;
	}
	.div-btn-setting a.btn-primary{
		background-color: #3f4e58;
	}
	.div-btn-setting a.btn-setting-update:hover , .div-btn-setting a.btn-setting-update:active, .div-btn-setting a.btn-setting-update:focus {
		background-color: #9fbd38;
	}
	.div-btn-setting a.btn-setting-update:hover span, .div-btn-setting a.btn-setting-update:active span, .div-btn-setting a.btn-setting-update:hover focus {
		color: #3f4e58;
	}

	/*End style made by nicoss*/