/*IMAGE UPLOAD*/
    #fileuploadContainer{
        position: relative;
        width: 100%;
        background-color: transparent;
    }
    .fileupload-new .thumbnail, .fileupload-exists .thumbnail{
        height: auto;
    }
    .fileupload-new, .fileupload-preview{
        max-height: 250px;
        overflow-y: hidden;
    }
    .fileupload-preview .thumbnail, .fileupload-new .thumbnail{
        /*min-height: 250px;*/
        /*line-height: 250px;*/
        background-color: black;
    }
    .fileupload-preview.thumbnail, .fileupload-new.thumbnail {
        border: 3px solid white !important;
    }
    .fileupload, .fileupload-preview.thumbnail, .fileupload-new .thumbnail, .fileupload-new .thumbnail img, .fileupload-preview.thumbnail img{
        padding : 0px;
        margin:0px !important;
        transition: none !important;
        border-radius: 0px !important;
        /*min-height: 250px;*/
        width:100%;
    }

    .photoUploading{
        position: absolute;
        width: 100%;
        display: none;
        top:35%;
        left: 0%;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    .fileupload-preview img{
        max-height:100%; 
    }

    #profil_imgPreview, #slider_imgPreview{
        background-color:#E7EBEF;
        background-color: transparent !important;
        border: 0;
    }
    .user-image .user-image-buttons {
      position: absolute;
      top: 10px;
      left: 10px;
      display: none;
    }
    .user-image .user-image-buttons a.fileupload-new:hover{
        color: #0095FF;
        background-color: white;
        border:1px solid #0095FF;
        border-radius: 3px;
        margin-right: 2px;
    }
    .user-image .user-image-buttons a.fileupload-new{
        background-color: #0095FF;
        color: white;
        border-radius: 3px;
        margin-right: 2px;
    }
    .user-image .user-image-buttons .btn-red:hover{
        color: #ea4335;
        background-color: white;
        border:1px solid red;
        border-radius: 3px;
        margin-right: 2px;
    }
    .user-image .user-image-buttons .btn-red{
        background-color: #ea4335;
        color: white;
        border-radius: 3px;
        margin-right: 2px;
    }
    .user-image:hover .user-image-buttons {
      display: block;
    }
    /*IMAGE UPLOAD*/