*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-size: 2000px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin:0px;
}

menu.a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
}

.menu-opener {
  cursor: pointer;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 64px;
}
.menu-opener:hover, .menu-opener.active {
  background: #f1c40f;
}

.menu-opener-inner {
  background: #fff;
  height: .5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  background: white;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
  background: #f1c40f;
  color: transparent;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  z-index: -1;
}
.menu.active {
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
}
.menu.active .menu-link {
  color: white;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link li {
  margin: auto;
}

.title{ z-index:-1;font-size: xx-large;font-weight: bolder;margin-top: 20px;padding:10px;margin-bottom: 10px}
.stepContainer{width: 80%;margin: 0 auto;margin-top: 40px;}
.topSpacer{margin-top: 100px;}
.step{ border: 1px solid white;  color:white;   margin-bottom: 10px;  padding:10px;  background-color: #000;  opacity: 0.8;}
.step > input{height: 30px;margin-top: 3px;margin-bottom: 10px;}
a.btn{background-color: yellow; color:#000; padding: 3px;text-decoration: none;font-weight: bold;}
a.btn:hover{background-color: #F1C40F;}
.stepTitle{color: #F9E78B;font-weight: bold;margin-bottom: 3px;}
.hide{visibility: hidden;}
.hidden{display: none;}
.communected{color: yellow; font-size: 4em; font-weight: bold;border: 1px solid yellow; border-radius: 50%;padding: 10px;text-align: center}
.communectedcp{color: yellow; font-size: 1.3em; font-weight: bold;border: 1px solid yellow; border-radius: 50%;padding: 5px;text-align: center}
.fr{float: right; }
.highlight{font-weight: bold;color: yellow;}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
  .title{font-size: large;font-weight: bold;margin-top: 37px;margin-left: 77px;}
  .topSpacer{margin-top: 280px;}
}

/* ---------------- Loader ------------------- */

.loader,
.loader:before,
.loader:after {
  background: yellow;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
}
.loader {
  text-indent: -9999em;
  margin: 5% auto;
  position: relative;
  font-size: 11px;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.loader:after {
  left: 1.5em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 yellow;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em yellow;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 yellow;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em yellow;
    height: 5em;
  }
}
