/* ==========================================================================
   Oceatoon custom styles
   ========================================================================== */
.debug{border:1px solid red;}
.hero-unit{background-color:#fff}
.center{text-align:center}
div.space1{font-size:1px;clear:both;height:1px;margin:0px;padding:0px;line-height:0px}
div.space2{font-size:1px;clear:both;height:2px;margin:0px;padding:0px;line-height:0px}
div.space5{font-size:1px;clear:both;height:5px;margin:0px;padding:0px;line-height:0px}
div.space10{font-size:1px;clear:both;height:10px;margin:0px;padding:0px;line-height:0px}
div.space15{font-size:1px;clear:both;height:15px;margin:0px;padding:0px;line-height:0px}
div.space20{font-size:1px;clear:both;height:20px;margin:0px;padding:0px;line-height:0px}
div.space30{font-size:1px;clear:both;height:30px;margin:0px;padding:0px;line-height:0px}
div.space60{font-size:1px;clear:both;height:60px;margin:0px;padding:0px;line-height:0px}
div.m5{margin:5px}
div.m10{margin:10px}
div.m15{margin:15px}
div.p5{padding:5px}
div.p10{padding:10px}
div.p15{padding:15px}
div.p40{padding:15px}
div.pl15{padding-left:15px}
div.mr15{margin-right:15px}
.fsxxs{font-size:xx-small}
.fsxs{font-size:x-small}
.fss{font-size:small}
.fsn{font-size:normal}
.fsl{font-size:large}
.fsxl{font-size:x-large}
.fsxxl{font-size:x-large}
.fb{font-weight:bold}

body{width:100%;height:100%;background-image:url('../img/PATTERN.jpg');background-repeat:repeat;padding-top: 60px;padding-bottom: 40px;}
.yellowph,.brand{color:#F5E414}
.btn-ph {
background-color: #F5E414;
background-image: linear-gradient(to bottom, #F5E414, #F5E414);
background-repeat: repeat-x;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
color: #000000;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-ph:hover,.btn-ph:active,.btn-ph:disabled,.btn-ph[disabled]{
background-color: #F5E414;
background-image: linear-gradient(to bottom, #F49F16,#F5E414);
background-repeat: repeat-x;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
color: #000000;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

ol.carousel-indicators {
list-style:none;
}
.carousel-controls{position:relative;top:0px;}

/* affichage textarea sur 400 pixels */
#register textarea{width:400px}

.valid {
  width: 24px;
  height: 24px;
  background: url(assets/img/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

/* **************************
***   Stepper formulaire 
*/
.step-by-step {
    margin: 0 auto;
    max-width: 411px;
}

.step-by-step ul {
    margin-right: 35px;
    position: relative;
}

.step-by-step ul li {
    position: relative;
    float: left;
    width: 50%;
    height: 36px;
    background: url("http://s.cdpn.io/3561/step_by_step.png") no-repeat left -108px;
}

.step-by-step ul li.first-step {
    background-position: left 0;
}

.step-by-step ul li.last-step {
    position: absolute;
    right: -35px;
    top: 0;
    width: 36px;
    background-position: right 0;
}

.step-by-step ul li.step-current {
    background-position: left -144px;
}

.step-by-step ul li.step-current.first-step {
    background-position: left -36px;
}

.step-by-step ul li.step-current.last-step {
    background-position: right -36px;
}

.step-by-step ul li.step-ok {
    background-position: left -180px;
}

.step-by-step ul li.step-ok.first-step {
    background-position: left -72px;
}

.step-by-step ul li.step-ok.last-step {
    background-position: right -72px;
}

.step-by-step ul li span {
    position: absolute;
    left: -40px;
    top: 45px;
    width: 120px;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    color: #b1b8bf;
}

.step-by-step ul li.step-current span {
    color: #4C5B6A;
}

.step-by-step ul li.step-ok span {
    color: #999FA5;
    text-decoration: line-through;
}









