#cornerDev{position:fixed;border:2px solid red;background-color:purple;width:200px;height:16px;z-index:10000;padding:10px;}
#cornerInProgress{position:fixed;border:2px solid purple;background-color:#333;width:200px;z-index:10000;padding:10px;bottom:0px;right:0px;display:none}
#cornerToBeTested{position:fixed;border:2px solid orange;background-color:#033;width:200px;z-index:10000;padding:10px;bottom:0px;right:0px;display:none}
#cornerComments{position:fixed;border:2px solid #02F;background-color:#003;width:200px;z-index:10000;padding:10px;bottom:0px;right:0px;display:none}
#cornerUseCase{position:fixed;border:2px solid #EE0;background-color:#300;width:200px;z-index:10000;padding:10px;bottom:0px;right:0px;display:none}
#cornerZones{position:fixed;border:2px solid #EE0;background-color:#300;width:200px;height:100px;z-index:10000;padding:10px;bottom:0px;right:0px;display:none}
#cornerActions{position:fixed;border:2px solid orange;background-color:#030;width:250px;z-index:10000;padding:10px;bottom:0px;left:230px;display:none; }
#cornerDevContainer img{vertical-align:middle}
#cornerDevContainer a{color:yellow;font-weight:bold;}
#cornerDevContainer a:hover{color:yellow}
#cornerDev span{color:orange;font-weight:bold;text-decoration: underline;}

.pl10{padding-left:10px;}
.line{border-top:1px solid #999;}
.bottomLeft{bottom:0px;left:0px;}
.topLeft{top:0px;left:0px;}
.hidden{display:none}
.fl{float:left]
.fr{float:right]
input:focus{ background-color:#FF6;}

.jqHandle {background: red;height:15px;}
.jqDrag {  width: 100%;  cursor: move;}
.jqResize {width: 15px;position: absolute;bottom: 0;right: 0;cursor: se-resize;}
.jqDnR { z-index: 3; position: relative;  width: 180px; font-size: 0.77em; color: #618d5e; margin: 5px 10px 10px 10px; padding: 8px; background-color: #EEE; border: 1px solid #CCC;}
