h4.custom-line-height{
	line-height:25px
}

/**** Hover image zoom ****/

.hover-effect-img{
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.tiles:hover .hover-effect-img {
	-moz-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
	opacity:0.6
	filter: contrast(130%);
    -webkit-filter: contrast(130%);
}

@media (min-width: 768px) and (max-width: 1024px) { 
	
	.tiles.adjust-text p{
		font-size:10px;
	}
	
	.tiles.adjust-text h3{
		font-size:20px;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
	.tiles.adjust-text p{
		font-size:14px;
	}

}