
.blockUI.blockMsg.blockPage i.fa{
	position: relative;
	left: unset;
	top: unset;
	margin-left: unset;
}


header, .header {
  background-image: url("../../../img/background-onepage/pattern/witewall_3.png") !important;
}

.link-submenu-header{
	font-size: 18px;
	font-family: BlackoutM;
}

.main-menu-app {
    margin-bottom: 0px;
    margin-top: 35px;
}

.navbar-header .logo-menutop{
	margin-left:-5px;
}

.form-in-map #newElement_country{
	display: none;
}

header img, .header img {
    display: block;
    margin: 50px auto 0px auto;
}

.menu-name-profil{
	padding: 8px 0 0 14px;
}

.dropdown-main-menu{
	right: 53px !important;
}

.btn-menu-notif{
	margin-top:13px !important;
}


#notificationPanelSearch.arrow_box::before{
	margin-bottom: 1px;	
	border-bottom-color: #e1dbdb;
}

#ajax-modal .modal-header.bg-dark{
	background-color: #2C3E50 !important;
}

#btn-my-co{
	display: none;
}

.btn-localize{
	border-radius: 50px;
    border: 0px !important;
    height: 40px;
    border: 2px solid transparent;
    font-weight: bold;
}

#showWarningGeo{
	display: none !important;
}

.bootbox-confirm.fade.in{
	background-color: rgba(0,0,0,0.7);
}

button#open-rocketChat{
	display: none!important;
}

.btn-menu-to-app{
	font-size: 17px;
	padding: 3px;
	padding-top: 11px;
	margin: 0 4px;
}



.btn-star-fav {
    font-size: 20px;
    margin-top: 2px;
}
.navbar-header .nc_map {
    margin: 10px 5px 0 -10px;
}
.affix .navbar-header .nc_map {
    margin: 15px 10px 0 -15px;
}
#btn-sethome, #btn-apropos, #btn-radio{
    background-color: transparent !important;
    border:transparent;
}
#btn-sethome:hover, #btn-apropos:hover{
    color:white!important;
    background-color: #ea4335 !important;
    border:transparent;
}
.menu-btn-back-category{
    cursor:pointer;
}

a.text-dark.link-submenu-header {
    color : #ea4335 !important;
    padding-bottom: 5px;
}

a.link-submenu-header.active, 
a.link-submenu-header:hover, 
a.link-submenu-header:active, 
a.link-submenu-header:focus{  
    border-bottom: 2px solid #ea4335;
    text-decoration: none;
    /*background-color: rgba(255, 255, 255, 1);
    color:#ea4335 !important;
    text-decoration: none;*/
}



@media (max-width: 992px) {

    header .container{
    	padding-top:0px;
    }
}

@media (max-width: 768px) {

    .navbar-header{
        padding: 2px 10px;
    }

    .btn-menu-connect{
    	margin-top:10px !important;
    }

    header .container{
    	padding-top:0px;
    }

    .main-menu-app {
	    margin-bottom: 0px !important;
	}

	.pastille-subdomain {
	    margin-left: 72% !important;
	}

	header img{
		height: 45px;
		margin-top:0px;
	}

	.affix .navbar-header .nc_map{
		margin-left:0px !important;
	}

	.link-submenu-header span{
		display: inline!important;
	}
	.link-submenu-header{
		margin-bottom: 20px;
		display: inline-block;
		font-size: 12px;
	}


	.affix .navbar-header img.nc_map{
		margin-top: 7px;
		margin-left: -5px !important;
	}

	.logo-menutop.visible-xs{
		margin-left: -5px !important;
	}


	.menu-name-profil{
		padding: 8px 0 0 0px;
	}
	.navbar-custom{
		padding: 3px 0;
	}

	
}