<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		
        <title>Pixel Humain, démocratie participative Réunion, discussion , actions et réseau local</title>
        <meta name="keywords" lang="fr" content="démocratie participative Réunion, discussion , actions et réseau local">
		<meta name="description" content="Un projet citoyen de Démocratie Participative qui prend racine à la Réunion portée par l'association Open Atlas (loi 1901 , à but non lucratif). 
								Une plateforme de discussions et actions citoyennes sur un réseau local (en cours construction). 
								Une passerelle entre nous et entre l’État.
								Objectifs de livraison (février - mars 2013)">
		<meta name="publisher" content="Pixel Humain">
		<meta name="author" lang="fr" content="Pixel Humain" />
		<meta name="robots" content="Index,Follow" />
		
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
		<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
		<link rel="shortcut icon" href="img/logo/favicon.gif" />
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">
		
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
		<!--img src="img/REGLE_G.png" class="navbar-fixed-top" alt="ruler"/-->
		<div class="navbar navbar-inverse navbar-fixed-top">
			
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="pull-left yellowph fsxxl p10 fb">Pixel Humain </div>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="javascript:scrollTo('#accueil')">Accueil</a></li>
                            <li><a href="javascript:scrollTo('#infographic')">Le Projet</a></li>
                            <li><a href="javascript:scrollTo('#contact')">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Boite à outil Citoyen <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Discussion Local</a></li>
                                    <li><a href="#">Covoiturage Local </a></li>
									<li><a href="#">Petites Annonces </a></li>
									<li><a href="#">Projets Locaux </a></li>
                                    <li><a href="#">Agenda Local </a></li>
									<li><a href="#">Emploi Local </a></li>
									
                                    <li class="divider"></li>
                                    <li class="nav-header">Recherche & Développment</li>
                                    <li><a href="#">Laboratoire Citoyen</a></li>
                                    <li><a href="#">Evennement Rencontre En ligne (Google Hangouts)</a></li>
									
									<li class="divider"></li>
                                    <li class="nav-header">Communications</li>
                                    <li><a href="http://groups.diigo.com/group/pixelhumain" target="_blank">Suivre nos lectures</a></li>
                                    <li><a href="https://groups.google.com/forum/?hl=fr&fromgroups=#!forum/pixelhumain" target="_blank">La Mailing Liste</a></li>
									<li><a href="https://trello.com/board/pixel-humain-echolocal/50a3e15a175358d65a0089ef" target="_blank">Gestionnaire de tache</a></li>
									<li><a href="http://blog.pixelhumain.com/" target="_blank">Le Blog</a></li>
									<li><a href="https://www.facebook.com/groups/pixelhumain/" target="_blank">Facebook Group</a></li>
                                </ul>
                            </li>
                        </ul>
						
                        <!--form class="navbar-form pull-right">
                            <input class="span2" type="text" placeholder="Email">
                            <input class="span2" type="password" placeholder="Password">
                            <button type="submit" class="btn">Sign in</button>
                        </form-->
                    </div><!--/.nav-collapse -->
					<div class="pull-right yellowph fss p10">
					Version 0.001 Lecture Seule 
					</div>
                </div>
            </div>
        </div>
		
        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
		<!--div class="container" >
			<div id="gallery" class="pull-right" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="a.gallery-item">
				<a class="gallery-item " href="img/covoiturage.jpg" title="Sans covoiturage, c'est le pont bouchon gratiné !!!"><img src="img/covoiturage.jpg" /></a>
				<a class="gallery-item " href="img/tagCloud.png" title="Nuage Concept du Pixel humain"><img src="img/tagCloud.png"/></a>
			</div>
		</div-->
        <div class="container" id="accueil">
				
            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                
             
				
				<div id="myCarousel" class="carousel slide">
					
				  <div class="space20px;"></div>
				  <ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				  </ol>
				  <!-- Carousel nav -->
				  <div class="carousel-controls">
					  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				  </div>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
					<div class="active item p40">
						<img class="pull-left" src="img/logo/logo320.png" alt="Logo Pixel Humain"/>
						<h1 class="pull-right">Le Pixel Humain!</h1> 
						<br/><br/><br/><br/><br/>
						<p>Un projet citoyen de démocratie participative qui prend racine à la Réunion portée par l'association Open Atlas <small class="fsxs">(loi 19101, but non lucratif)</small>. </p>
						<p>Une plateforme de discussions et actions citoyennes sur un réseau local (en cours construction, Recherche de financement). </p>
						<br/>
						<blockquote class="pull-right"><p><h4>“Appliquons la reflexion individuelle au service de l'intelligence collective.”</h4></p> </blockquote>
					</div>
					<div class="item p40">
						<img class="pull-left" src="img/logo/logo320.png" alt="Logo Pixel Humain"/>
						<h1 class="pull-right">Le Pixel Humain!</h1> 
						<br/><br/><br/><br/><br/>
						<p> "ça ne changera jamais" et "on n'a pas notre mot à dire de toute façon" ? <br/>
						La démocratie actuelle n'est-elle pas à bout de souffle ? <br/>
						Il est temps de s'organiser et de se regrouper pour trouver de nouvelle solution. <br/><br/>
						A l'heure d'internet, de la simplification de la communication et du partage de l'information,
						tout est réunit pour que tout un chacun s'organise pour faire changer les choses.<br/><br/>
						Et si un outil proposait une interface web pour que citoyens, associations, collectivités et entreprises 
						travaillent pour construire une société à l'image de tous?<br/><br/>
						Un outil dans lequel le citoyen dialoguerait avec sa ville pour participer aux décisions qui le 
						concernent le plus. Si cet outil permettait à ce même citoyen de connaître ses voisins qui a les mêmes 
						intérêts sur lui, les associations qui proposent des initiatives sociales et solidaires à coté de chez 
						lui, les artisans/entreprises qui fabriquent localement les produits qu'il achète... <br/><br/>
						Bref reconnecter le virtuel et le réél, le Pixel et l'Humain.
						<br/><br/>
						Pixel Humain est une plateforme ouverte qui s'adaptera et s'enrichira afin de porter les projets de tous. </p>
						
					</div>
					<div class="item p40"><br/><img src="img/gandhi.jpg" alt="Gandhi"/>
						<br/>
						<blockquote><p>“You never change things by fighting the existing reality.To change something, build a new model that makes the existing model obsolete.”</p> <small><cite title="Source Title"> Richard Buckminster Fuller</cite></small></blockquote>
						
					</div>
				  </div>
				  
				  <br/><br/><br/>
					<a  href="https://www.facebook.com/groups/pixelhumain/" target="_blank"><img src="img/fb.jpg" style="height:45px"/></a>	
					<a class="btn btn-primary btn-large" href="http://groups.diigo.com/group/pixelhumain"  target="_blank" role="button" data-toggle="modal"> Bookmarking Social </a>
					<a class="btn btn-primary btn-large" href="https://groups.google.com/forum/?hl=fr&fromgroups=#!forum/pixelhumain"  target="_blank" role="button" data-toggle="modal"> Notre Mailing Liste </a>
					<a class="btn btn-warning btn-large" href="https://docs.google.com/forms/d/1XVClEfW-GzL1jRL1NL85Rd_ivdI-ZQtjkDQVp9og5NU/viewform"  target="_blank" role="button" data-toggle="modal"> Répondez au Questionnaire <i class="icon-forward "></i></a>
					
					
				</div>
				
				<!-- Modal -->
				
				<div id="participer" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">Suivre le projet, Participer au réseau</h3>
				  </div>
				  <div class="modal-body">
					
					<ul id="particpateTabs" class="nav nav-tabs">
						<li class="active"><a href="#you">Vous <small class="fsxs">Citoyen, Société, Association</small></a></li>
						<li><a href="#sponsor">Votre Réseau <small class="fsxs">Amis, Sociétés, Associations</small></a></li>
					</ul>
					
					<div class="tab-content">
					  <div class="tab-pane active" id="you">
						Objectif : Construction participative, partage et collaboration
						<form action="#register">
							<div class="controls">
								<div class="controls controls-row">
									<input type="text" class="span3" id="name" placeholder="Nom Prénom"/> 
									<input type="text" class="span3" id="email" placeholder="Email"/>
								</div>
								
								<div class="controls controls-row">
									<!--input type="text" class="span2"  id="address" placeholder="Adresse"/--> 
									<input type="text" class="span2" id="city" placeholder="Ville"/>
									<input type="text" class="span2" id="region" value="Réunion" placeholder="Région"/>
									<input type="text" class="span2" id="country" value="Réunion" placeholder="Pays"/>
								</div>
								<div class="controls controls-row">
									<input type="text" class="span6" id="tags" placeholder="Décrivez vous par Mots clefs( gentil, virus, motivé, ébéniste )"/>
								</div>
								<select id="type">
								  <option>Citoyen</option>
								  <option>Entreprise</option>
								  <option>Association</option>
								  <option>Pouvoir Public (Mairie, Région...)</option>
								</select>
								
								<div class="dropdown gallerySelect">
								  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Avatar <img id="avatarImg" src="img/PHOTO_ANONYMOUS.png" width="40"/></a>
								  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<li><img src="img/PHOTO_ANONYMOUS.png"/></li>
									<li><img src="img/PHOTO_QUESTION.png"/></li>
									<li><img src="img/PHOTO_PIRATE.png"/></li>
									<li><img src="img/PHOTO_LINUX.png"/></li>
									<li><img src="img/PHOTO_FISH.png"/></li>
									<li><img src="img/PHOTO_KID.png"/></li>
									<li><img src="img/PHOTO_PIRATE.png"/></li>
									<li><img src="img/PHOTO_PEACE.png"/></li>
									<li><img src="img/PHOTO_PEACE2.png"/></li>
									<li><img src="img/PHOTO_ECOLO.png"/></li>
								  </ul>
								</div>
								<input type="hidden" id="avatar" value="img/PHOTO_ANONYMOUS.png"/>
								<label class="checkbox">
								  <input type="checkbox" id="isActive"> Je veux agir 
								</label>
							</div>
						</form>
						<p class="fss">
						Devenir un Pixel, Vous permet de vous tenir au courant, mais surtout de donner votre avis et transmettre vos idées. 
						Nous permettant de mieux construire l'application. On aimerait motiver le partage et la collaboration 
						avec des Allers / Retours fréquents, pour se rapprocher au mieux de la réalité.</small>
						</p>
					  </div>
					  <div class="tab-pane" id="sponsor">
						Objectif : Partagez, Connectez, Distribuer, Communiquez 
						<form action="#registerSponsor">
							<div class="controls">
								<div class="controls controls-row">
									<input type="text" class="span3" id="nameSponsor" placeholder="Nom Prénom"/> 
									<input type="text" class="span3" id="emailSponsor" placeholder="Email"/>
								</div>
								<div class="controls controls-row">
									<!--input type="text" class="span2"  id="address" placeholder="Adresse"/--> 
									<input type="text" class="span2" id="citySponsor" placeholder="Ville"/>
									<input type="text" class="span2" id="regionSponsor" value="Réunion" placeholder="Région"/>
									<input type="text" class="span2" id="countrySponsor" value="Réunion" placeholder="Pays"/>
								</div>
								<div class="controls controls-row">
									<input type="text" class="span6" id="tagsSponsor" placeholder="Décrivez vous par Mots clefs( gentil, virus, motivé, ébéniste )"/>
								</div>
								<select id="typeSponsor">
								  <option>Citoyen</option>
								  <option>Entrprise</option>
								  <option>Association</option>
								  <option>Pouvoirs Publics (Mairie, Région...)</option>
								</select>
							</div>
						</form>
						<p class="fss">
						Parrainer un voisin ou une entreprise, c'est valoriser, faire exister, en lui permettant de participer.
						Le Partage, c'est la base du réseau citoyen, tout le monde existe dans le monde réel, mais trop peu agissent en tant que citoyen parce qu'on ne savait pas comment.
						Le Pixel Humain va tenter de résoudre ce vide. Parce qu'un citoyen doit pouvoir agir dans sa ville; Parce qu'une une société doit être connue pour son expertise.</p>
					  </div>
					</div>
				  </div>
				  <div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
					<button class="btn btn-primary" id="submitAccount">Enregistrer</button>
				  </div>
				</div>
				<!-- Modal -->
				
			</div>
			
			<div class="hero-unit center" id="infographic">	
				<img src="img/infographicPH.jpg"/>
		    </div>
			
			<div class="hero-unit">
				<div class="accordion" id="accordion2">
					
				  <div class="accordion-group">
					<div class="accordion-heading">
					  <a class="accordion-toggle fsxl fb" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
						Le pixel Humain, c'est quoi ? 1 min pour tout savoir ! <i class="icon-time pull-right"></i>
					  </a>
					</div>
					<div id="collapseOne" class="accordion-body collapse ">
					  <div class="accordion-inner">
						<p>
						Une plateforme de communication entre citoyens qui appartient aux citoyens, 
						avec une approche serieuse, ouverte, collaborative avec les pouvoirs publiques.<br/>
						Parce qu'on aimerait participer un peu plus dans notre ville, et que tous ensemble, nous ne faisons qu'un.<br/>
						<br/>
						Concrètement :<br/> 
						Nous aimerions améliorer l'image de la ville, lui donner un visage humain<br/>
						En appliquant le système des réseaux sociaux du web à la collectivité<br/>
						Pour une ville aussi connectée que Facebook et aussi ouverte que Wikipedia<br/>
						Pour une réflexion publique et une intelligence collective<br/>
						<br/>
						Repenser la ville via la participation citoyenne et la transparence<br/>
						Offrir une Boite à idée : un Système décisionnel ouvert, participatif et démocratique <br/>
						Proposer un Annuaire interactif des compétences locales pour particuliers et professionnels<br/>
						</p>
						<blockquote >
						<h3 class="text-info">Le Pixel Humain</h3>
						<p>La société au pixel prêt sur Une Terre Net</p>
						<p>Une intelligence collective & collaborative </p>
						<p>L’Innovation au service de la société.</p>
						<p class="text-info">“Venez mettre votre grain d’Xel ! ”</p>
						</blockquote>
						<a class="btn btn-primary btn-large pull-right">En Savoir Plus <i class="icon-forward icon-white"></i></a>
					  </div>
					</div>
				  </div>
				  
				  <div class="accordion-group">
					<div class="accordion-heading">
					  <a class="accordion-toggle fsxl fb" data-toggle="collapse" data-parent="#accordion2" href="#objectif">
						Les Objectifs de la version 0.1<i class="icon-random pull-right"></i>
					  </a>
					  
					</div>
					<div id="objectif" class="accordion-body collapse">
					  <div class="accordion-inner">
						<p>La Version 0.1 comportera :</p>
						<ul>
							<li><span class="text-info">V0.1 du réseau citoyen par ville représentée </span>
							<ul>
								<li>Inscription ouverte au réseau</li>
								<li>Inscription par parrainage + système de validation </li>
							</ul>
							</li>
							
							<li><span  class="text-info">V0.1 du système de feedback Citoyen : action, discussion, boite à idée</span>
							<ul>
								<li>Un design élégant, sobre, ergonomique et Ludique</li>
								<li>Démarrer une discussion locale = partager une idée = appeler à agir</li>
								<li>Commenter une idée</li>
								<li>Voter "Pour", Rester "neutre", Voter "Contre"</li>
								<li>Forker = Cloner et modifier une idée</li>
								<li>Optimisation du fil de discussion pour faciliter l'entrée dans les discussions et valoriser le contenu important</li>
							</ul>
							</li>
							
							<li><span  class="text-info" >V0.1 Portail Global du Pixel Humain</span>
							<ul>
								<li>Interface publique et interactive citoyenne</li>
								<li>Interface par commune + vue départementale</li>
							</ul>
							</li>
							
							<li><span  class="text-info" >V0.1 mon Pixel Humain</span>
							<ul>
								<li>Le citoyen a son réseau à lui (réseau, discussion...) </li>
								<li>Inscription par parrainage + system de validation </li>
							</ul>
							</li>
							
							<li><span  class="text-info" >V0.1 Admin / Gestion Mairie</span>
							<ul>
								<li>Outils simple et standard pour toutes les mairies : possibilité de remplir de remplir les informations concernant leur hiérarchie, les interlocuteurs, le listing des contacts par domaine, les actions disponibles...  </li>
								<li>Inscription par parrainage + système de validation </li>
								<li>Outil de communication : Entrant (incident, demande de travaux ...), Sortant (évènements, travaux, coupures d'électricité, élections...) </li>
							</ul>
							</li>
							
							<li><span  class="text-info" >V0.1 Admin/Gestion Pixel Humain</span>
							<ul>
								<li>Modération</li>
								<li>Gestion des fonctionalités, retour de bug</li>
								<li>Statistiques</li>
								<li>Politique pour choisir les modérateurs ???</li>
							</ul>
							</li>
						</ul>
						
						<p class="text-info">Boite à idée et "Wishlist"  :</p>
						<ul>
							<li>Annuaire</li>
							<li>Activité</li>
							<li>Proposition de projet</li>
							<li>Boite a outil citoyen(covoiturage, petites annonces)</li>
							<li>Standardiser la structure d'une mairie, dupliquer les infos si elles existent</li>
							<li>Boite a outil mairie(Back Office)</li>
							<li>Interface thématique</li>
							<li>Gamification ou Score Citoyen</li>
							<li>PH privé interne pour Entreprise par exmeple</li>
							<li>Base de connaissance et transmission Permaculture et AgroECologie</li>
				
						</ul>
					  </div>
					</div>
				  </div>
				  
				  <div class="accordion-group">
						<div class="accordion-heading">
						  <a class="accordion-toggle fsxl fb" data-toggle="collapse" data-parent="#accordion2" href="#reseauTab">
							Le Réseau a déja commencé ! <font class="fsxs">(L'application réseau arrive très prochainement !)</font><i class="icon-random pull-right"></i>
						  </a>
						</div>
						<div id="reseauTab" class="accordion-body collapse">
						  <div class="accordion-inner">
							<p>On <span class="text-info">construit cette plateforme de façon participative</span>. 
							<br/>Comment construire ? Sans les citoyens ca ne marchera pas : Plus on est à réfléchir, mieux ce sera.
							<br/>Le Pixel Humain ne se fera pas tout seul, Vous pouvez contribuer à toutes les etapes du projet !</p>
							
							<script type="text/template" id="users-collection-template">
								<ul  class="unstyled">
								  <% _.each(users, function(user) { %>
									<li class="pull-left"><img src="<%= user.avatar %>"  width="70px" height="70px"  title="<%= user.name %> - <%= user.email %>" alt=""/> </li>
								  <% }); %>
								</ul>
							</script>
							<div id='users-collection-container'></div>
							
							<div class="space20">&nbsp;</div>
							<a class="btn btn-primary btn-large pull-right" href="https://groups.google.com/forum/?hl=fr&fromgroups=#!forum/pixelhumain"  target="_blank" role="button" data-toggle="modal"><i class="icon-user"></i> Participer, Partager, Parrainer <i class="icon-forward "></i></a>
							
							
						  </div>
						</div>
					</div>
					
				  
				  
				  <div class="accordion-group">
					<div class="accordion-heading">
					  <a class="accordion-toggle fsxl fb" data-toggle="collapse" data-parent="#accordion2" href="#financement">
						Le Financement Citoyen <i class="icon-random pull-right"></i>
					  </a>
					  
					</div>
					<div id="financement" class="accordion-body collapse">
					  <div class="accordion-inner">
						<p>Nous avons plusieurs pistes pour rendre ce projet viable et pérenne : </p>
						
						<p>1. C'est un projet d'intérêt général, public et social, donc les collectivités auraient tout intérêt à participer financièrement. 
						<br/>C'est pour cela que nous avons déjà rencontré la mairie de la capitale de la Région Réunion (Saint-Denis) qui est emballé mais ne peut pas faire de mécénat. 
						<br/>Donc ils attendent de nous un prototype.</p>
						
						<p>2. Nous avons rencontré et présenté le projet à la Région (Vincent Payet) qui a parfaitement cerné le potentiel communiquant et collaboratif du projet. 
						<br/>Nous attendons un retour de leur part</p>
						
						<p>3. Le Financement Citoyen : c'est là qu'on peut tous participer et au moindre coût, car toute donation à un projet associatif, non lucratif et d'intérêt général
						est <span  class="text-info">directement déductible des impôts à hauteur de 66% du montant des sommes versées</span> dans la limite de 20 % du revenu imposable. 
						C'est quand même plus agréable de choisir où l'on applique nos impôts, non ? 
						<br/>Par exemple : avec un revenu imposable de 20 000 € vous pouvez verser au maximum  4 000 € ( soit 20% de 20000 ) et vous pouvez déduire de vos impôts la somme de 2 640 € ( soit 66% de 4000).
						<br/>Pour bénéficier de cette réduction d'impôt, l'association Open Atlas (Association à but non lucratif et d'intérêt général) fournira un reçu, indiquant le montant du don effectué. C'est ce reçu qu'il vous faudra joindre à votre déclaration de revenus.
						 <a href="http://www.legifrance.gouv.fr/affichCode.do?idSectionTA=LEGISCTA000006191957&cidTexte=LEGITEXT000006069577&dateTexte=vig" target="_blank">Texte de loi officiel<i class="icon-forward icon-white"></i></a></p>
						<div class="center">
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="XXL3LLR353Q4L">
							<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>
						</div>
					  </div>
					</div>
				  </div>
				  
				  <div class="accordion-group">
					<div class="accordion-heading">
					  <a class="accordion-toggle fsxl fb" data-toggle="collapse" data-parent="#accordion2" href="#avancement">
						Avancement et Étapes du projet <i class="icon-check pull-right"></i>
					  </a>
					  
					</div>
					<div id="avancement" class="accordion-body collapse">
					  <div class="accordion-inner">
						<p>En cours : Développement de la page d'accueil + Inscription réseau Alpha : Tibor </p>
						<p>En cours : Structuration de l'architecture NodeJS, NoSQLDB, Backbone, twitter Bootstrap : Tibor </p>
						<p>En cours : Lister toute les Url en mode REST pour la v0.1 : Tibor </p>
						<p>En cours : Tester LiquidFeedBack : Tibor </p>
						<p>En cours : Détails des user Story : Tibor + Sylvain</p>
						<p>En cours : Démarage du Schéma de Base de donnée : Tibor + Sylvain</p>
						<p>En cours : Dossier détaillé : Jerome</p>
						<p>En cours : Préparation du Schéma explicatif PH : Tibor et Stéphanie</p>
						<p>En cours : Design de l'identité visuelle PH : Stéphanie</p>
						<p>En cours : Ouvrir un flux github = les sources sont 100% opensource : Tibor </p>
						<p>30/11/12 : Confirmation : 66% d'une aide citoyenne pourra être déduite des impôts par le citoyen</p>
						<p>29/11/12 : La mailling liste est en place <a href="https://groups.google.com/forum/?hl=fr&fromgroups=#!forum/pixelhumain" target="_blank">ici</a> </p>
						<p>26 oct 2012 : 1er pitch public du projet (au <a href="http://reunion.startupweekend.org/" target="_blank">Start up Week End Reunion</a>) avec un super feedback, et des contacts, lancement du projet.</p>
						<p>15 oct 2012 : On travaille le concept et on creuse l'idée. </p>
					  </div>
					</div>
				  </div>
				  
				  <div class="accordion-group">
					<div class="accordion-heading">
					  <a class="accordion-toggle fsxl fb" data-toggle="collapse" data-parent="#accordion2" href="#partenaire">
						Partenariats & Soutiens <i class="icon-random pull-right"></i>
					  </a>
					  
					</div>
					<div id="partenaire" class="accordion-body collapse">
					  <div class="accordion-inner">
						<p>Nous attendons des réponses de soutien de certains Pouvoirs publics. 
						Pour le moment on part sur un auto-financement et du bénévolat, mais on compte sur la lucidité générale pour 
						pérenniser et viabiliser le projet. 
						</p>
					  </div>
					</div>
				  </div>
				  
				</div>
				<blockquote>
					<p>Vous avez des idées ? Vous avez des envies ? N'hésitez plus : Partagez-les ! ... ou elles seront perdues (--Gandhi). 
					<br/>Vous voulez participez ? Rien de plus facile : vous êtes déjà un Pixel Humain ! 
					<br/>Pour devenir un Pixel Humain, il suffit en effet de vous faire connaître, <a href="mailto:contact@pixelhumain.com">en nous envoyant un email</a> !
					<br/>Parce que plus nous serons nombreux, plus nous irons vite !</p>
					<p class="text-info">Soyez le changement que vous voulez voir dans le monde. (--Mahatma Gandhi)</p>
					
				</blockquote>
				<div class="center">
				<img src="img/gandhi.jpg" class="img-rounded"/>
				</div>
			</div>
			
			<div class="hero-unit" id="contact">	
				<h2>Contactez, Rejoignez nous </h2> 			
				<p>Pour le moment nos discussions se font sur une mailing liste : <a href="https://groups.google.com/forum/?hl=fr&fromgroups=#!forum/pixelhumain" target="_blank">Rejoignez nous <i class="icon-forward icon-white"></i></a></p>
				<p>Veille, synthèse d'informations partagées <a href="http://groups.diigo.com/group/pixelhumain" target="_blank">Groupe Pixel Humain sur Diigo <i class="icon-forward icon-white"></i></a></p>
				<p>Pour suivre notre Activité en cours et à venir <a href="https://trello.com/board/pixel-humain-echolocal/50a3e15a175358d65a0089ef" target="_blank">Pixel Humain sur Trello <i class="icon-forward icon-white"></i></a></p>
				<p><a href="http://blog.pixelhumain.com/" target="_blank"> Le blog </a> d'information et d'avancement </p>
				<p>
				<a class="btn btn-primary btn-large" href="mailto:contact@pixelhumain.com" target="_blank">Par Mail <i class="icon-comment  icon-white"></i></a>
				<a  href="https://www.facebook.com/groups/pixelhumain/" target="_blank"><img src="img/fb.jpg" style="height:45px"/></a>
				</p>
		    </div>
			
			

        </div> <!-- /container -->
		
		
		
		<!-- Modal Gallery fancy Box Like -->
		<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title"></h3>
			</div>
			<div class="modal-body"><div class="modal-image"></div></div>
			<div class="modal-footer">
				<a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
				<a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
				<a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
				<a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
			</div>
		</div>
		<!-- /Modal Gallery fancy Box Like -->
		
		<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="js/vendor/jquery-1.8.3.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/load-image.min.js"></script>
		<script src="js/vendor/bootstrap-image-gallery.min.js"></script>
		<script src="js/vendor/underscore-min.js"></script>
		<script src="js/vendor/backbone-min.js"></script>
		<script src="js/vendor/backbone-localstorage.js"></script>
        <script src="js/old/main_live.js"></script>

        <script>
			$('#particpateTabs a').click(function (e) {
			  e.preventDefault();
			  $(this).tab('show');
			})
		
            /*var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));*/
			
			 var uvOptions = {};
			  (function() {
				var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
				uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/YmmyBM5muP7JoGkF31YDg.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
			  })();
        </script>
    </body>
</html>
