/* ---------------------------------------------------------------------- */
/*  additional Basic Elements & Classes
/* ---------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-family-default;
}

h1,
.h1 {
    font-size: 24px;
    font-weight: 300;

    .text-bold &,
    &.text-bold,
    .text-bold {
        font-weight: 600;
    }
}

h2,
.h2 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}

h3,
.h3 {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 400;
}

h4,
.h4 {
    font-size: 15px;
    font-weight: 400;
}

h5,
.h5 {
    font-size: 14px;
    font-weight: 400;
}