
.letter{ margin-right:-30px;  }
.letter.font-ZILAP{ font-weight: 100; }

.blockUI .letter{ margin-right:0px; font-size:50px;}

.navbar-brand .letter{ margin-right:0px; letter-spacing: -9px; }

.letter-blue{ color:#4285f4!important; }

.letter-red{ color:#ea4335!important; }

.letter-yellow{ color:#fbbc05!important; }

.letter-green{ color:#34a853!important; }

.letter-k{
    font-size: 1.2em;
}

.text-black, a.text-black{
    color:#333; !important;
}
.text-dark, a.text-dark{
    color:#2C3E50 !important;
}
.text-green, a.text-green{
    color:#34a853 !important;
}
.text-yellow, a.text-yellow{
    color:#fbbc05 !important;
}
.text-red, a.text-red{
    color:#ea4335 !important;
}
a.text-red:hover{
    color:#2C3E50 !important;
}
.text-purple, a.text-purple{
    color:#976BB6 !important;
}
.text-orange, a.text-orange:hover {
  color: #FFA200 !important; 
}

.text-white, a.text-white{
    color:#FFF !important;
}
a.text-white:hover{
    color:#FFF !important;
}


.text-yellow-PH{
    color:#fffc00!important;
}

.text-light, a.text-light{
    color:#5F7C92 !important;
}

a.text-white{
    color:rgba(255, 255, 255, 0.5) !important;
}
.text-transparent-dark{
    color:rgba(0, 0, 0, 0.26) !important;
}
.text-transparent-red{
    color:rgba(189, 58, 58, 0.3) !important;
}
.text-transparent-yellow{
    color:rgba(206, 186, 40, 0.41) !important;
}
.text-azure, a.text-azure{
    color:#2BB0C6 !important;
}
.text-vine, a.text-vine{
    color:#89403d !important;
}
.bg-vine, a.bg-vine{
    background-color:#89403d !important;
}
.bg-white{
    background-color: white;
}


.text-blue{
    color:#7bc3d1 !important;
}
.bg-black{
    background-color:black !important;
}
.bg-blue{
    background-color:#7bc3d1 !important;
}

.bg-lightblue{
    background-color:#C8EBF5 !important;
}
.bg-darkblue{
    background-color:#4285f4 !important;
}
.bg-green{
    background-color:#34a853 !important;
}

.bg-red{
    background-color:#ea4335 !important;
}

.bg-yellow{
    background-color:#ded353 !important;
}
.bg-purple{
    background-color:#9b7bd1 !important;
}
.bg-pink{
    background-color:#d99ce0 !important;
}
.bg-dark{
    background-color:#141414 !important;
}



hr.angle-down::after {
    background-color: #7bc3d1;
    color: white;
    content: "\f107";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
    border-radius: 20px;
    width: 40px;
    height: 40px;
}
hr.angle-down {
    padding: 0;
    border: none;
    border-top: solid 5px;
    border-color: #7bc3d1;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}