#onepage header{
	background: url('../img/background-onepage/abstract/wallup-290416.jpg')  no-repeat center;

	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

	background-color: #CBECEF;

	color: #FFF;
}

#onepage header img{
	max-height:250px;
}

#onepage section{
	padding: 40px 0 20px 0;
}
#onepage section.shadow{
	-webkit-box-shadow: 0px 3px 26px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 3px 26px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 26px 5px rgba(0, 0, 0, 0.2);
}

#onepage header .intro-text .name{
	font-size: 2em;
	text-transform: none!important;
	font-weight: 300;
	letter-spacing: -1px;
}
#onepage header .commune{
	font-size: 2em;
}

#onepage header .btn-tools button{
	margin-bottom:4px;
	border:none;
	border-radius:40px;
	background-color: rgba(255, 255,255, 0.5);
}
#onepage header .btn-tools button:hover{
	background-color: rgba(255, 255,255, 0.8);
}
#onepage header .text-left.btn-tools button i{
	padding-right:4px;

}
#onepage header .text-right.btn-tools button i{
	padding-left:4px;

}

#onepage hr.bold-hr{
	padding: 0;
	border: none;
	border-top: solid 5px white;
	text-align: center;
	max-width: 250px;
	margin: 15px auto 15px;
}


#onepage section.darkblue {
    background: #2B798F;
    color: white;
}

#onepage #description .item-desc{
	max-height:400px;
	width:100%;
	overflow: hidden;
	font-size: 15px;
}
#onepage #description .text-description p{
	font-size: 15px;
}

#onepage .portfolio-item .item-name,
#onepage .portfolio-item .item-address{
	max-height: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	display: inline-block;
}
#onepage .portfolio-item .item-name{
	font-size:1.3em;
	font-weight:600;
}
#onepage .portfolio-item .item-desc{
	color:#808080;
}

#onepage .skills{
	font-size:15px!important;
	padding: 10px 0 20px 0 !important;
	display: block;
}

#onepage .portfolio-item .thumbnail.img-circle{
	border-radius: 50%;
	max-height: 230px;
}

#onepage .portfolio .portfolio-item {
	border-radius: 5px;
	padding:10px;
}
#onepage .portfolio a.portfolio-item:hover {
	background-color: #F3F8F9;
}
#onepage .portfolio .portfolio-item .portfolio-link .caption{
	background-color: transparent;
}
#onepage .portfolio .portfolio-item a.portfolio-link:hover{
	text-decoration: none;
}

#main-page-name {
    font-size: 21px;
    margin-top: 8px;
    color: #D7D7D7;/*#386C8D;*/
}

.bg-section-dark{
	background-color: #233140!important;
}
.bg-section-dark2{
	background-color: #304357!important;
}
.bg-section-blue{
	background-color: #304357!important;
}
.bg-section-green{
	background-color: #304357!important;
}


#onepage .i-item{
	margin-top:-40px;
}

#onepage .i-item i.fa{
	background-color: white;
	border: 2px solid;
	font-size: 13px;
	padding: 6px;
	border-radius: 40px;
	width: 34px;
	height: 33px;
	padding-top: 8px;
}

#onepage .i-item .i-type-color-yellow{
	border-color:#fbbc05;
	color:#fbbc05;
}
#onepage .i-item .i-type-color-green{
	border-color:#93C020;
	color:#93C020;
}
#onepage .i-item .i-type-color-orange{
	border-color:#FFA200;
	color:#FFA200;
}
#onepage .i-item .i-type-color-purple{
	border-color:#8C5AA1;
	color:#8C5AA1;
}


#onepage .thumb-type-color-yellow{
	background-color:#FFC600;
	border: none;
}
#onepage .thumb-type-color-green{
	background-color:#93C020;
	border: none;
}
#onepage .thumb-type-color-orange{
	background-color:#FFA200;
	border: none;
}
#onepage .thumb-type-color-purple{
	background-color:#8C5AA1;
	border: none;
}




/* LIGHT DARK */

/*light*/
#onepage section.light h2{
	color:white;
}

#onepage section.light.portfolio a.portfolio-item:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

#onepage section.light .portfolio-item .item-desc a{
	color:#9e9e9e;
}


#onepage section.light .portfolio-item .item-name{
	color:white;
}

#onepage section.light .portfolio-item .item-address{
	color:#ea4335;
}

#onepage section.light .portfolio-item .item-desc{
	color:white;
}


#onepage section.light .portfolio .portfolio-item .portfolio-link .caption{
	
}
#onepage section.light .portfolio .portfolio-item a.portfolio-link:hover{
	
}

/*dark*/
#onepage section.dark h2{
	color:#2C3E50;
}

#onepage section.dark.portfolio a.portfolio-item:hover {
	background-color: rgba(250, 250, 250, 0.4);
}

#onepage section.light .portfolio-item .item-desc a{
	color:#9e9e9e;
}

#onepage section.dark .portfolio-item .item-name{
	color:#2C3E50;
}

#onepage section.dark .portfolio-item .item-address{
	color:#ea4335;
}

#onepage section.dark .portfolio-item .item-desc{
	color:#4D4D4D;;
}


#onepage section.dark .portfolio .portfolio-item .portfolio-link .caption{
	
}
#onepage section.dark .portfolio .portfolio-item a.portfolio-link:hover{
	
}
