<!DOCTYPE html>
<html>
<head>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8" />
<meta name="language" content="fr" />

<title>{% block title %}{% endblock %} - ORKIDEE</title>

{% include "layout/head.html" ignore missing %}

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body>
    {% include "layout/header.html" ignore missing %}
    <!-- BEGIN CONTAINER -->
    <div class="page-container row"> 
        {% include "layout/sidebar.html" ignore missing %}
        <div class="page-content">
          {% block content %} Block content{% endblock %} 
        </div>
     </div>

    {% include "layout/modals.html" ignore missing %}
    <!-- END CONTAINER --> 

    {% include "layout/scripts.html" ignore missing %}		

</body>

</html>