<!-- BEGIN SIDEBAR -->
  <div class="page-sidebar" id="main-menu">
    <!-- BEGIN MINI-PROFILE -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
      <div class="user-info-wrapper">
        <div class="profile-wrapper"> <img src="/static/img/profiles/auchan.png"  alt="" data-src="/static/img/profiles/auchan.png" data-src-retina="/static/img/profiles/auchan.png" width="30" /> </div>
        <div class="user-info ">
          <div class="greeting"></div>
          <div class="username">StLouis <span class="semi-bold">Auchan</span></div>
          <div class="status">Status<a href="#">
            <div class="status-icon green"></div>
            Connecté</a></div>
        </div>
      </div>

      <!-- END MINI-PROFILE -->
      <!-- BEGIN SIDEBAR MENU -->
      <p class="menu-title">SECTION<span class="pull-right"><a href="javascript:;"><i class="fa fa-refresh"></i></a></span></p>
      <ul>

        {% for entry,value in appConfig.iteritems() %}
          <li class="start {% if entry == appConfig.active %}open{% endif %}"> <a href="{{value.url}}"> <i class="{{value.icon}}"></i> <span class="title">{{value.label}}</span>
           <span class="selected"></span> </a> </li>
        {% endfor %}
        
        <li class=""> <a href="javascript:;"> <i class="fa fa-folder-open"></i> <span class="title">Menu Levels</span> <span class="selected"></span><span class="arrow "></span> </a>
          <ul class="sub-menu">
            <li > <a href="javascript:;"> Level 1 </a> </li>
            <li > <a href="javascript:;"> <span class="title">Level 2</span> <span class="arrow "></span> </a>
              <ul class="sub-menu">
                <li > <a href="javascript:;"> Sub Menu </a> </li>
                <li > <a href="javascript:;"> Sub Menu </a> </li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a data-toggle="modal" href="remote.html" data-target="#formModal">Test Popin Form</a></li>
     </ul>

     <div class="side-bar-widgets">
        <p class="menu-title">TACHES <span class="pull-right"><a href="#" class="create-folder"> <i class="fa fa-plus"></i></a></span></p>
        <ul class="folders" >
          {% for task in project.tasks%}
           <li><a href="#">
             <div class="status-icon {% if task.status %} {{task.status}} {% else %} blue {% endif %}"></div>
             {{task.who}} : {{task.title}}</a>
           </li>
          {% endfor %}
          
          <li class="folder-input" style="display:none">
            <input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="" >
          </li>
        </ul>
        
      </div>
      
      <div class="clearfix"></div>
      <!-- END SIDEBAR MENU -->
    </div>
  </div>

   <a href="#" class="scrollup">Scroll</a>
   <div class="footer-widget">		
	<div class="progress transparent progress-small no-radius no-margin">
		<div class="progress-bar progress-bar-success animate-progress-bar" data-percentage="{{project.avancement}}" style="width: {{project.avancement}};"></div>		
	</div>
	<div class="pull-right">
		<div class="details-status">
		<span class="animate-number" data-value="{{project.avancement}}" data-animation-duration="560">{{project.avancement}}</span>
	</div>	
	<a href="lockscreen.html"><i class="fa fa-power-off"></i></a></div>
  </div>
  <!-- END SIDEBAR --> 

