/* ---------------------------------------------------------------------- */
/*  additional Small Devices Only
/* ---------------------------------------------------------------------- */

@media (max-width: $screen-xs-max) { /* 767px */
    
}

/* ---------------------------------------------------------------------- */
/*  additional Up To Medium Devices
/* ---------------------------------------------------------------------- */

@media (max-width: $screen-sm-max) { /* 991px */

    .top-navbar {
        position: relative;
        height: auto;
        overflow: hidden;

        .navbar-menu {
            height: auto;
        }
    }

    .main-container {
        margin-left: $left-navbar-width !important;
    }

    .toolbar {
        height: auto;
        max-height: none;
    }

    .page_navigation {
        margin-left: -15px;
        margin-right: -15px;
    }
}