/*#menu-top-container{
  z-index:1;
  position:absolute; 
  top:15px; 
  left:25px;
}*/
#menu-top-container{
  z-index:10;
  position:fixed; 
  top:0px; 
  left:0px;
  padding: 10px 0px 10px 18px;
  width:100%;    
  background-color: rgba(255, 255, 255, 1);
  -moz-box-shadow:    0px 2px 2px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.4);
  -o-box-shadow:      0px 2px 2px -2px rgba(0, 0, 0, 0.4);
  box-shadow:         0px 2px 2px -2px rgba(0, 0, 0, 0.4);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);
}

#menu-container{
  background-color: rgba(49, 92, 110, 1) !important;
  padding: 10px;
  border-radius: 0px 0px 0px 0px;
  z-index: 1;
  position: fixed;
  top: 56px;
  left: 0px;
  border: none;
  -moz-box-shadow:    2px 0px 2px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 0px 2px -2px rgba(0, 0, 0, 0.4);
  -o-box-shadow:      2px 0px 2px -2px rgba(0, 0, 0, 0.4);
  box-shadow:         2px 0px 2px -2px rgba(0, 0, 0, 0.4);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=4);
  z-index: 10;
}
#menu-container a.menuIcon .menu-line {
    color: #FFF !important;
}
#menu-container a.menuIcon:hover .menu-line {
    color: #58879B !important;
}
#searchBar{
  height: 56px;
  top: 0px;
  position: absolute;
  right: 60px;
  border: 0;
  background-color: rgba(160, 183, 192, 0.18) !important;
  color: #116168 !important;
  padding: 0px 20px;
  width: 272px;
}

.box-white-round{
  background-color:rgba(255, 255, 255, 0.9) !important;
  border-radius:10px !important;
}

li.mix{
  background:rgba(255, 255, 255, 0.7) !important;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid rgba(187, 187, 187, 0.49);
}
.panel-body{
  background:rgba(255, 255, 255, 0.6) !important;
}
#dropdown_searchTop .li-dropdown-scope ol{
  padding: 5px !important;
  color: #155869;
  padding-left: 15px !important;
}


#dropdown_searchTop .li-dropdown-scope ol a{
  color:inherit !important;
}

#dropdown_searchTop .li-dropdown-scope ol .lbl-info-search{
  height:35px;
}

#dropdown_searchTop .li-dropdown-scope ol:hover{
  background-color:#88BBC8;
  color:white !important;
}
.timeline-scrubber{
  z-index:1 !important;
}
#menu-top-container .dropdown-menu {
    position: absolute;
    top: 98%;
    left: unset;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 153px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 1px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    width: 333px;
    padding: 10px 0px;
    right: -1px !important;
    max-height:520px;
    overflow-y: auto; 
}

#menu-top-container .fa-search{
  right: 332px;
  position: absolute;
  font-size: 18px;
  padding: 8px 6px;
  color: rgba(17, 97, 104, 0.66) !important;
}

#menu-top-container .btn-menu-top{
  height: 56px;
  width: 70px;
  top: 0px;
  position: absolute;
  font-size: 20px;
  padding: 8px 6px;
  color: rgba(255, 255, 255, 0.7) !important;
  background-color: #315C6E;
  border: none;
  border-radius: 0px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #7BA4B1;
}

.city-search {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 0.8125rem;
  float: left;
}

.searchEntry i.fa{
  border-radius:30px;
  padding: 7px 13px;
  vertical-align: middle;
  margin-top: -5px;
  float:left;
}
.searchEntry i.fa:hover{
}
.searchEntry img.img-circle{
  float:left;
  margin-right: 6px;
  margin-left: 4px;
}

.moduleLabel{
  margin-left:70px;  
}

#menu-top-container .moduleLabel{
  margin-left:70px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 56%;
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-weight: 300; */ 
}
@media screen and (max-width: 1024px) {
  #menu-top-container .moduleLabel{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 42%;
    max-height: 36px;
    font-size: 18px !important;
    height: 36px;
    padding-top: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 200;
  }
}
#btn-show-map{
  right: 0px !important;
}

/* NOTIFICATIONS */
.btn-corner-top-left{
  left:0px !important;
  position:absolute;
}
#btn-show-notification.btn-corner-top-left i.fa{
  margin-right: 10px;
}
.btn-corner-top-left .badge{
  position: absolute;
  top: 32%;
  left: 47%;
}
.btn-corner-top-left .badge.badge-danger{
  background-color: #D9534F !important;
}
.btn-corner-top-left .badge.badge-info{
  /*background-color: #D9534F !important;*/
}
#notificationPanel{
  margin: 0px;
  display: none;
  background-color: rgb(234, 240, 240); /*rgba(36, 81, 101, 0.5)*/
  color: #FFF;
  position: fixed;
  left: 70px;
  z-index: 1000;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
  top: 56px !important;
  width: 400px !important;
    
}
.notifications{
    background-color: transparent;
    padding: 20px 0px !important;
}
.notifications li{
  list-style-type: none;
}
.notifications a.notif{
  background-color: white;
  border-radius: 0px;
  margin: -1px 0px;
  padding: 11px;
  position: relative;
  padding: 15px 10px;
}
.pageslide-title {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.pageslide-list{
  padding: 0px;
}
.pageslide-list .btn-primary {
    color: #2A5B6E;
    background-color: #C1D4DD;
    border-color: rgba(187, 211, 222, 0.59);
}
.pageslide-list .btn-primary:hover {
    color: #C1D4DD;
    background-color: #2A5B6E;
    
}
ul.notifList{
    padding-right:0px; 
    margin-top:15px;
    margin-bottom:0px;
    overflow-x: hidden;
    background-color: white;
}
/* NOTIFICATIONS */
/* BLOCK PROCESSING */
.blockMsg{
  width: 50%;
  top: 17%;
  left: 29%;
}
.blockMsg img{
  max-width:70%;
  height:auto;
  width:auto;
}
.blockMsg .title-processing{
  padding: 25px;
  color: #30A8B1;
  font-size:30px !important;
  
}

/* BLOCK PROCESSING */



      #ajaxSV{
        min-height: 500px;
        display: block;
        padding: 70px 50px 50px 120px;
        margin: 0px 0px;
        top: -23px !important;
      }
      @media screen and (max-width: 768px) {
        #ajaxSV,.box{top:-100px;}
      }
      .main-col{
        margin:0px !important;
      }


#menu-container{
  /*padding:10px 0px !important;*/
}
.menuline{
    line-height: 31px;
    font-size: 1.5em;
    color:inherit;
    float:right;
    margin-left:5px;
    min-width: 210px;
    text-align: right;
    
}
.menuline.hide{
    min-width: 0px;
}
.menuIcon {
    /*border:1px solid white;*/
    color: rgba(255, 255, 255, 0.85) !important;
    display: block;
    height: 45px;
    padding: 9px 20px 9px 15px;
    border-radius: 0px;
}
.menuIcon i {
  margin-left: 5px;
  width: 30px;
  color: inherit;
}
.menuIcon:hover {
    color:#58879B !important;;
    background-color: white;
    border: 0px solid #CFDFE4;
    -webkit-box-shadow: 3px 3px 3px 0 rgba(88,135,155, 0.55);
    -moz-box-shadow: 3px 3px 3px 0 rgba(88,135,155, 0.55);
    box-shadow: 0px 2px 3px 0 rgba(88,135,155, 0.55);
}
.hoverRed:hover {
  color:red !important;
}
.menuIcon i{
    float:left;
    margin-left:5px;
}
.main-title h2{
  color:#58879B !important;
  font-size:30px;
  padding-top: 75px;
  padding-bottom: 15px;
}
.text-azure {
  color: #00bdcc; }

.text-azure {
  color: #2BB0C6; }

.text-orange, a.text-orange:hover {
  color: #FFA200 !important; }

.text-green, a.text-green:hover {
  color: #93C020 !important; }

.text-blue, a.text-blue:hover {
  color: #5f8295 !important; }

.text-pink, a.text-pink:hover {
  color: #dd5a82 !important; }

.text-purple, a.text-purple:hover {
  color: #8C5AA1 !important; }

.text-bricky, a.text-bricky:hover {
  color: #894550 !important; }

.text-yellow, a.text-yellow:hover {
  color: #FFC600 !important; }

.text-red, a.text-red:hover {
  color: #E33551 !important; }

.text-prune, a.text-prune:hover{
  color:#C32372 !important;
}
.text-white {
  color: white; }

a.text-white {
  color: rgba(255, 255, 255, 0.6); }
  a.text-white:hover {
    color: white; }

.text-dark {
  color: #3C5665 !important; /*rgba(44, 47, 59, 0.4);*/ }

a.text-dark:hover {
  color: #3C5665 !important; /*rgba(44, 47, 59, 0.6);*/ }

.center {
  text-align: center; 
text-align: -webkit-center;
text-align: -moz-center;
  }

.text-light {
  color: rgba(255, 255, 255, 0.6); }

a.text-light:hover {
  color: rgba(255, 255, 255, 0.8); }



 .bg-yellow{
    color:white !important;
    background-color:#FFC600 !important;
  }
  .bg-green{
    color:white !important;
    background-color:#93C020 !important;
  }
  .bg-orange{
    color:white !important;
    background-color:#FFA200 !important;
  }
  .bg-purple{
    color:white !important;
    background-color:#8C5AA1 !important;
  }
  .bg-dark{
    color:white !important;
    background-color:#3C5665 !important;
  }
  .bg-red{
    color:white !important;
    background-color:#E33551 !important;
  }
  .bg-azure{
    color:white !important;
    background-color:#2BB0C6 !important;
  }
  .bg-prune{
    color:white !important;
    background-color:#C32372 !important;
  }
  .bg-light{
      color:#3C5665 !important;
      background-color:#EFEFEF !important;
    }

blockquote{
  font-weight: 300;
}

.panel-tools{
  position: relative;
  width: 100%;
  opacity: 1 !important;
  margin: 0px 0px 0px;
  text-align: left;
  right: 0px;
  top: 0px;
  padding: 0px;
  border-bottom: 1px solid lightgrey;
}
.panel-tools a{
  background-color: rgba(255, 255, 255, 0) !important;
  color:#3C5665 !important;
  margin-bottom:0px;
  border: 0;
  border: 1px solid transparent;
  border-right: 1px solid lightgray;
  border-radius: 0px;
  margin-right: -4px;
  /*margin-left: -4px;*/
}

.panel-tools a.active{
  background-color: rgba(0, 0, 0, 0.8) !important;
  color:#3C5665 !important;
  
}

.panel-tools a:hover{
  background-color: rgba(255, 255, 255, 0) !important;
  border-color:transparent !important;
  border-right: 1px solid lightgray !important;
  color:#357499 !important;
}
.panel-tools .btn-xs{
  /*border-color: rgba(175, 175, 175, 0) !important;*/
  padding:5px;
}
.panel-tools .btn-xs:hover{
  background-color: rgba(255, 255, 255, 1) !important;
  color:#357499 !important;
}
.panel-tools .btn-red{
  color:#E25555 !important;
}
.panel-tools .btn-red:hover{
  background-color:#E25555 !important;
  color:#FFF !important;
}



