/*#menu-top-container{
  z-index:1;
  position:absolute; 
  top:15px; 
  left:25px;
}*/
#menu-top-container{
  z-index:1;
  position:fixed; 
  top:0px; 
  left:0px;
  padding: 10px 0px 10px 18px;
  width:100%;    
  background-color: rgba(255, 255, 255, 1);
  -moz-box-shadow:    0px 2px 2px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.4);
  -o-box-shadow:      0px 2px 2px -2px rgba(0, 0, 0, 0.4);
  box-shadow:         0px 2px 2px -2px rgba(0, 0, 0, 0.4);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);
}

#menu-container{
  background-color: rgba(49, 92, 110, 1) !important;
  padding: 10px;
  border-radius: 0px 0px 0px 0px;
  z-index: 1;
  position: fixed;
  top: 56px;
  left: 0px;
  border: none;
  -moz-box-shadow:    2px 0px 2px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 0px 2px -2px rgba(0, 0, 0, 0.4);
  -o-box-shadow:      2px 0px 2px -2px rgba(0, 0, 0, 0.4);
  box-shadow:         2px 0px 2px -2px rgba(0, 0, 0, 0.4);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=4);
  z-index: 10;
}
#menu-container a.menuIcon .menu-line {
    color: #FFF !important;
}
#menu-container a.menuIcon:hover .menu-line {
    color: #58879B !important;
}
#searchBar{
  height: 56px;
  top: 0px;
  position: absolute;
  right: 60px;
  border: 0;
  background-color: rgba(160, 183, 192, 0.18) !important;
  color: #116168 !important;
  padding: 0px 20px;
  width: 272px;
}

.box-white-round{
  background-color:rgba(255, 255, 255, 0.5) !important;
  border-radius:10px !important;
}

li.mix{
  background:rgba(255, 255, 255, 0.7) !important;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid rgba(187, 187, 187, 0.49);
}
.panel-body{
  background:rgba(255, 255, 255, 0.6) !important;
}
#dropdown_searchTop .li-dropdown-scope ol{
  padding: 5px !important;
  color: #155869;
  padding-left: 15px !important;
}

#dropdown_searchTop .li-dropdown-scope ol a{
  color:inherit !important;
}
#dropdown_searchTop .li-dropdown-scope ol:hover{
  background-color:#88BBC8;
  color:white !important;
}
.timeline-scrubber{
  z-index:1 !important;
}
#menu-top-container .dropdown-menu {
    position: absolute;
    top: 96%;
    left: unset;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 153px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 1px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    width: 333px;
    padding: 10px 0px;
    right: -1px !important;
    max-height:520px;
    overflow-y: auto; 
}

#menu-top-container .fa-search{
  right: 332px;
  position: absolute;
  font-size: 18px;
  padding: 8px 6px;
  color: rgba(17, 97, 104, 0.66) !important;
}

#menu-top-container .btn-menu-top{
  height: 56px;
  width: 70px;
  top: 0px;
  position: absolute;
  font-size: 20px;
  padding: 8px 6px;
  color: rgba(255, 255, 255, 0.7) !important;
  background-color: #315C6E;
  border: none;
  border-radius: 0px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #FFF;
    background-color: #7BA4B1;
}

.city-search {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 0.8125rem;
}

.searchEntry i.fa{
  border-radius:30px;
  padding: 10px 13px;
  vertical-align: middle;
  margin-top: -5px;
}
.searchEntry i.fa:hover{
}

.moduleLabel{
  margin-left:70px;
}

#btn-show-map{
  right: 0px !important;
}

/* NOTIFICATIONS */
#btn-show-notification{
  left:0px !important;
  position:absolute;
}
#btn-show-notification i.fa{
  margin-right: 10px;
}
#btn-show-notification .badge{
  position: absolute;
  top: 32%;
  left: 47%;
}
#btn-show-notification .badge.badge-danger{
  background-color: #D9534F !important;
}
#btn-show-notification .badge.badge-info{
  /*background-color: #D9534F !important;*/
}
#notificationPanel{
  margin: 0px;
  background-color: rgba(82, 129, 149, 1); /*rgba(36, 81, 101, 0.5)*/
  color: #FFF;
  position: absolute;
  left: 70px;
  z-index: 1000;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
  top: 56px !important;
  width: 400px !important;
    
}
.notifications{
    background-color: transparent;
    padding: 20px 0px !important;
}
.notifications li{
  list-style-type: none;
}
.notifications a.notif{
  background-color: white;
  border-radius: 0px;
  margin: -1px 0px;
  padding: 11px;
  position: relative;
  padding: 15px 10px;
}
.pageslide-title {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.pageslide-list{
  padding: 0px;
}
.pageslide-list .btn-primary {
    color: #2A5B6E;
    background-color: #C1D4DD;
    border-color: rgba(187, 211, 222, 0.59);
}
.pageslide-list .btn-primary:hover {
    color: #C1D4DD;
    background-color: #2A5B6E;
    
}
ul.notifList{
    padding-right:0px; 
    margin-top:15px;
    margin-bottom:0px;
    overflow-x: hidden;
}
/* NOTIFICATIONS */
/* BLOCK PROCESSING */
.blockMsg{
  width: 50% !important;
  top: 17% !important;
  left: 24% !important;
}
.blockMsg img{
  max-width:70%;
  height:auto;
  width:auto;
}
.blockMsg .title-processing{
  padding: 25px;
  color: #30A8B1;
  font-size:30px !important;
  
}

/* BLOCK PROCESSING */



      #ajaxSV{
        min-height: 500px;
        display: block;
        padding: 50px 50px 50px 120px;
        margin: 0px 0px;
        top: -23px !important;
      }
      @media screen and (max-width: 768px) {
        #ajaxSV,.box{top:-100px;}
      }
      .main-col{
        margin:0px !important;
      }


#menu-container{
  padding:10px 0px !important;
}
.menuline{
    line-height: 31px;
    font-size: 1.5em;
    color:inherit;
    float:right;
    margin-left:5px;
    min-width: 210px;
    text-align: right;
    
}
.menuline.hide{
    min-width: 0px;
}
.menuIcon {
    /*border:1px solid white;*/
    color: rgba(255, 255, 255, 0.85) !important;
    display: block;
    height: 45px;
    padding: 9px 15px;
    border-radius: 0px;
}
.menuIcon i {
  margin-left: 5px;
  width: 30px;
  color: inherit;
}
.menuIcon:hover {
    color:#58879B !important;;
    background-color: white;
    border: 0px solid #CFDFE4;
    -webkit-box-shadow: 3px 3px 3px 0 rgba(88,135,155, 0.55);
    -moz-box-shadow: 3px 3px 3px 0 rgba(88,135,155, 0.55);
    box-shadow: 0px 2px 3px 0 rgba(88,135,155, 0.55);
}
.hoverRed:hover {
  color:red !important;
}
.menuIcon i{
    float:left;
    margin-left:5px;
}
.main-title h2{
  color:#58879B !important;
  font-size:30px;
  padding-top: 75px;
  padding-bottom: 15px;
}
