
.icon-emo-coffee:before { content: '\e80e'; } /* '' */
.icon-cog-1:before { content: '\e831'; } /* '' */
.icon-chrome:before { content: '\e80f'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */
.icon-heart-empty:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e80c'; } /* '' */
.icon-plus:before { content: '\e843'; } /* '' */
.icon-tag:before { content: '\e812'; } /* '' */
.icon-thumbs-up:before { content: '\e828'; } /* '' */
.icon-thumbs-down:before { content: '\e829'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e82a'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e82b'; } /* '' */
.icon-cog-alt:before { content: '\e82f'; } /* '' */
.icon-sitemap:before { content: '\e81a'; } /* '' */
.icon-trello:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e810'; } /* '' */
.icon-user-add:before { content: '\e83f'; } /* '' */
.icon-help:before { content: '\e83e'; } /* '' */
.icon-vcard:before { content: '\e834'; } /* '' */
.icon-address:before { content: '\e813'; } /* '' */
.icon-map:before { content: '\e819'; } /* '' */
.icon-newspaper:before { content: '\e839'; } /* '' */
.icon-share:before { content: '\e817'; } /* '' */
.icon-shareable:before { content: '\e816'; } /* '' */
.icon-calendar:before { content: '\e83b'; } /* '' */
.icon-mic:before { content: '\e81e'; } /* '' */
.icon-network:before { content: '\e818'; } /* '' */
.icon-globe:before { content: '\e81b'; } /* '' */
.icon-lifebuoy:before { content: '\e840'; } /* '' */
.icon-briefcase:before { content: '\e83a'; } /* '' */
.icon-chart-line:before { content: '\e80b'; } /* '' */
.icon-megaphone:before { content: '\e809'; } /* '' */
.icon-flow-branch:before { content: '\e820'; } /* '' */
.icon-flow-tree:before { content: '\e821'; } /* '' */
.icon-flow-line:before { content: '\e822'; } /* '' */
.icon-emo-beer:before { content: '\e80d'; } /* '' */
.icon-cc:before { content: '\e827'; } /* '' */
.icon-th-outline:before { content: '\e82c'; } /* '' */
.icon-th-large-outline:before { content: '\e82d'; } /* '' */
.icon-rss:before { content: '\e81d'; } /* '' */
.icon-wifi:before { content: '\e815'; } /* '' */
.icon-flow-split:before { content: '\e81f'; } /* '' */
.icon-flow-parallel-1:before { content: '\e824'; } /* '' */
.icon-flow-cross:before { content: '\e825'; } /* '' */
.icon-infinity:before { content: '\e835'; } /* '' */
.icon-cancel-1:before { content: '\e838'; } /* '' */
.icon-pencil-neg:before { content: '\e836'; } /* '' */
.icon-left:before { content: '\e841'; } /* '' */
.icon-right:before { content: '\e842'; } /* '' */
.icon-users:before { content: '\e814'; } /* '' */
.icon-link:before { content: '\e811'; } /* '' */
.icon-chat:before { content: '\e81c'; } /* '' */
.icon-login:before { content: '\e830'; } /* '' */
.icon-logout:before { content: '\e832'; } /* '' */
.icon-at:before { content: '\e846'; } /* '' */
.icon-spread:before { content: '\e826'; } /* '' */
.icon-town-hall:before { content: '\e844'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-facebook-rect:before { content: '\e800'; } /* '' */
.icon-googleplus-rect:before { content: '\e802'; } /* '' */
.icon-blogger-rect:before { content: '\e804'; } /* '' */
.icon-linkedin-rect:before { content: '\e845'; } /* '' */
.icon-diigo:before { content: '\e806'; } /* '' */
.icon-video-chat:before { content: '\e833'; } /* '' */
.icon-th-list:before { content: '\e82e'; } /* '' */
.icon-cancel:before { content: '\e837'; } /* '' */
.icon-eye:before { content: '\e83c'; } /* '' */
.icon-eye-off:before { content: '\e83d'; } /* '' */
.icon-lightbulb:before { content: '\e80a'; } /* '' */
.icon-github-text:before { content: '\e803'; } /* '' */
.icon-flow-parallel:before { content: '\e823'; } /* '' */