.rin-modal {
    display: none;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .0);
    z-index: 99999;
}

.rin-modal.shown {
    display: flex;
}

.rin-modal-dialog {
    max-width: 448px;
    width: 448px;
    background-color: #fff;
    margin-top: -50px;
    transition: margin-top .2s;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.rin-modal.shown .rin-modal-dialog {
    margin-top: 0;
    transition: margin-top .2s;
}

.rin-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rin-modal-title {
    flex: 1;
}

.rin-modal-actions {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: end;
}

.rin-modal-action {
    padding: 5px 10px;
    transition: background-color .2s;
}

.rin-modal-action:hover {
    background-color: rgba(0, 0, 0, .15);
    transition: background-color .2s;
    cursor: pointer;
}

.rin-modal-body {
    margin-bottom: 16px;
}