/* ---------------------------------------------------------------------- */
/*  additional Sliding Bar
/* ---------------------------------------------------------------------- */


.slidingbar-area {
    @extend #slidingbar-area;
}
.slidingbar {
    @extend #slidingbar;
    background: rgba(#172129, .95);

    padding-top: $top-navbar-height;
    padding-left: $left-navbar-width;

    .h1 {
    	color: #fff;
    }

    .sb_close {
    	padding: 0 1em;

    	font-size: 17px;
    	color: #fff;
    }

    & > .row {
    	padding: 0 25px;
    }

    .tags_list {
    	overflow: hidden;
    	margin: 25px -5px 15px;
    	padding: 0;
    	list-style: none;

    	li {
    		float: left;
    		margin: 0 5px 10px;
    	}
    }
}