/* TOP NAVIGATION MENU */

%top-navbar-elements {
    float: left;
    height: $top-navbar-height;

    line-height: $top-navbar-height;
}


.top-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: $top-navbar-height;

    background-color: $dark01;

    .collapse_wrap {
        .trigger {
            @extend %top-navbar-elements;

            position: relative;
            display: block;
            width: $left-navbar-width;

            cursor: pointer;
            text-align: center;

            i {
                display: block;

                font-size: 17px;
                line-height: inherit;
            }

            .notifications-count {
                position: absolute;
                top: 12px;
                right: 10px;
            }
        }

        .inner {
            @extend %top-navbar-elements;
        }
    }

    .slider-sm-ico {
        display: inline-block !important;
        vertical-align: middle;
        margin-top: -4px;
    }

    .slider-wrap {
        position: relative;
        padding: 0 30px;
        width: 160px;

        .slider {
            width: 100% !important;

            &.slider-horizontal {
                margin: 0;
                margin-top: -4px;
            }
        }

        .slider_label {
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 5px;
            margin: 0;

            font-size: 12px;
            line-height: 1.6;
            color: #fff;
            text-align: center;
        }
    }

    .navbar-logo {
        @extend %top-navbar-elements;
        
        color: #fff;

        &.active {
            margin-right: 3px;
            background: $blue01;
        }

        .trigger {
            margin: 0;
            font-size: 20px;

            i {
                font-size: inherit;
            }
        }

        .fulltitle {
            display: none;
        }

        .inner {
            font-size: 16px;

            a {
                @extend %top-navbar-elements;
                position: relative;

                min-width: $top-navbar-width;
                color: #fff;
                text-align: center;

                & > i {
                    font-size: 19px;
                    line-height: inherit;
                }

                .notifications-count {
                    position: absolute;
                    top: 12px;
                    right: 10px;
                }
            }

            .userlink {
                padding: 0 15px;

                i {
                    margin-right: 5px;
                    margin-top: -4px;
                    vertical-align: middle;

                    font-size: 32px;
                    line-height: 1;
                }

                .username {
                    vertical-align: middle;
                    display: inline-block;
                    margin-top: -4px;
                }

            }
        }
    }

    .navbar-menu {
        @extend %top-navbar-elements;

        padding: 0;
        margin: 0;
        list-style: none;

        font-size: 15px;

        li {
            @extend %top-navbar-elements;
            margin-right: 3px;

            color: #fff;
            background: $darkBlue02;

            &.active {
                background: $blue01;
            }

            a {
                color: inherit;
            }
        }

        .trigger {
            width: $top-navbar-width;
        }

        .inner {
            padding-right: 30px;
        }

        input {
            &,
            &:hover,
            &:focus {
                margin: 0;
                padding: 0;
                border: none;
                background: transparent !important;

                line-height: inherit;

                color: inherit;
                outline: none;

                width: 150px;
                &.wide {
                    width: 340px;
                }

                &::-webkit-input-placeholder {
                    color: inherit;
                    opacity: 1;
                }
                &:-moz-placeholder {
                    color: inherit;
                    opacity: 1;
                }
                &::-moz-placeholder {
                    color: inherit;
                    opacity: 1;
                }
                &:-ms-input-placeholder {
                    color: inherit;
                    opacity: 1;
                }
            }
        }
    }
}

.right-sidebar-open .top-navbar {
    margin-right: $slideBar-width !important;
}