.main-top-menu{
	height: 50px;
	position: fixed !important;
	z-index: 10;
	box-shadow: none !important;
}


.main-top-menu .moduleLabel{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 50%;
	margin-left:0px !important;
}

/*.main-top-menu  button.btn-menu-notif{
	z-index: 20;
}*/
/*.main-top-menu  button.btn-menu-global-search{
	font-size: 16px;
	height: 33px;
	min-width: 30px;
	width: auto !important;
	position: relative;
	box-shadow: 0px 0px !important;
	border: 0px;
	border-radius: 0px;
	height:40px;
}
.main-top-menu  button.btn-menu-global-search:hover{
	background-color: white;
	color:#2BB0C6 !important;
}*/

.main-top-menu .menu-info-profil{
	margin-top: 8px;
    padding-right: 0px;
    position: relative;
    float: right;
}


button#btn-toogle-map{
	font-size: 24px;
	width: 75px;
	height: 75px;
	padding: 5px;
	top: 0px;
	border-radius: 0px 0px 0px 75px;
	z-index: 15;
	border: 0;
	background-color: rgba(40,40,40,0.9) !important;
}
button#btn-toogle-map i{
	position: relative;
	top: -10px;
	right: -10px;
}
button#btn-toogle-map:hover, #btn-menu-launch:hover, #btn-menu-add:hover{
	box-shadow: 2px -2px 12px 2px white !important;
	background-color: rgba(40,40,40,1)!important;
}


#btn-menu-launch{
	font-size: 24px;
    width: 75px;
    height: 75px;
    padding: 5px;
    top: 0px;
    border-radius: 0px 0px 75px 0px;
    z-index: 15;
    border: 0;
    background-color: rgba(40,40,40,0.9)!important;
    padding: 12px;
    margin-right: 10px;
}

#btn-menu-launch.active{
	border-radius: 0px;
    height: 50px;
    width: 16.66666667%;
    background-color: rgba(40,40,40,1) !important;
}


/* filtre */

.keycat:hover,
.keycat.active{
    background-color: #2BB0C6!important;
    color: #fff!important;
    border-color:transparent!important;
    text-align: right;
}

.keycat{
    text-align: right;
}

.btn-select-category-1:hover,
.btn-select-category-1.active{
	background-color: #2C3E50!important;
    color: #fff!important;
    border-color:transparent!important;
}

#sub-menu-left.subsub .btn{
	width:100%;
	text-align: left;
	background-color: white;
    border-color: white;
	color:#4285f4;
	white-space: normal;
}
#sub-menu-left.subsub{
	min-width: 180px;
}

