.main-top-menu{
	height: 50px;
	position: fixed !important;
	z-index: 100;
	box-shadow: none !important;
}


.main-top-menu .moduleLabel{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 50%;
	margin-left:0px !important;
}
.bg-main-menu.bgpixeltree_sig{
	background-color: transparent !important;
	box-shadow: transparent !important;
	border-color: transparent !important;
	width: 0px !important;
}
#menuTopList{
	display:none;
}
.main-top-menu .notifications-count{
    left: inherit !important;
    top: inherit !important;
    margin-left: 0px !important;
    margin-top: -30px !important;
}
.btn-menu-connect{
    padding: 10px 15px !important;
    margin: 5px;
    color: #234;
    border-radius: 5px;
}
#my-main-container{
	display:none;
}
/*.main-top-menu  button.btn-menu-notif{
	z-index: 20;
}*/
/*.main-top-menu  button.btn-menu-global-search{
	font-size: 16px;
	height: 33px;
	min-width: 30px;
	width: auto !important;
	position: relative;
	box-shadow: 0px 0px !important;
	border: 0px;
	border-radius: 0px;
	height:40px;
}
.main-top-menu  button.btn-menu-global-search:hover{
	background-color: white;
	color:#2BB0C6 !important;
}*/
#dropdown_params #divFiltre{
	border-radius:inherit;
}
#dropdown_params, #dropdown_params .panel-group, #dropdown_params #divFiltre{
	height: 100%;
}
.main-top-menu .menu-info-profil{
	margin-top: 8px;
    padding-right: 0px;
    position: relative;
    float: right;
}
#btn-toogle-map.resizer{
	height:50px;
	padding:15px;
}


button#btn-toogle-map{
	font-size: 24px;
	width: 75px;
	height: 75px;
	padding: 5px;
	top: 0px;
	border-radius: 0px 0px 0px 75px;
	z-index: 15;
	border: 0;
	background-color: rgba(40,40,40,0.9) !important;
}
button#btn-toogle-map i{
	position: relative;
	top: -10px;
	right: -10px;
}
button#btn-toogle-map:hover, #btn-menu-launch:hover, #btn-menu-add:hover{
	box-shadow: 2px -2px 12px 2px white !important;
	background-color: rgba(40,40,40,1)!important;
	color:white !important;
}


#btn-menu-launch{
	font-size: 24px;
    width: 75px;
    height: 75px;
    padding: 5px;
    top: 0px;
    border-radius: 0px 0px 75px 0px;
    z-index: 15;
    border: 0;
    background-color: rgba(40,40,40,0.9)!important;
    padding: 12px;
    margin-right: 10px;
    cursor: pointer;
}

#btn-menu-launch.active{
	border-radius: 0px;
    height: 50px;
    width: 16.66666667%;
    background-color: rgba(40,40,40,1) !important;
}


/* filtre */



.tagParent:hover,
.tagParent.active{
	background-color: #2C3E50!important;
    color: #fff!important;
    border-color:transparent!important;
}

#sub-menu-left.subsub .btn{
	width:100%;
	background-color: white;
    border-color: white;
	color:#4285f4;
	white-space: normal;
	border-radius: inherit;
	text-align: left;
}
#sub-menu-left.subsub{
	min-width: 180px;
}

.villeFilter:hover,.tagFilter:hover, .eventsTypeAuto:hover,
.villeFilter.active, .tagFilter.active, .eventsTypeAuto.active{
    background-color: #2BB0C6!important;
    color: #fff!important;
    border-color:transparent!important;
    text-align: right;
}

.titleTag {
    text-align: left;
}

.main-bottom-menu{
	height: 75px;
	width: 75px;
    opacity: 1 !important;
    background-color: transparent;
    position: fixed !important;
    opacity: 0;
    z-index: 10;
    bottom: 0px;
    /* width: 73% !important; */
    /* margin-left: -15px; */
    box-shadow: none !important;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);
}

#btn-menu-add{
	font-size: 24px;
    width: 75px;
    height: 75px;
    padding: 5px;
    top: 0px;
    border-radius: 0px 75px 0px 0px;
    z-index: 15;
    border: 0;
    background-color: rgba(40,40,40,0.9)!important;
    padding: 12px;
    margin-right: 10px;
    color:white;
    position:absolute;
    z-index: 10;
    cursor: pointer;
}

#btn-menu-add-sub{
	position: absolute;
    bottom: 0px;
    width: 200px;
    height: 200px;
    border-radius: 0px 200px 0px 0px;
    overflow: hidden;
    background-color: rgba(40,40,40,0.9)!important;
    display:none;
}

#btn-menu-add-sub a{
	position: absolute;
	height: 161px;
    bottom: 0px;
    z-index: 1;
}

.onedivone{
	position: absolute;
    height: 285px !important;
    width: 285px;
    bottom: -80px !important;
    left: -80px;
    z-index: 1;
    transform: rotate(-135deg);
    writing-mode: vertical-lr;
    padding-left: 135px !important;
    padding-top: 85px !important;
    font-weight: bold;
    color:white;
}
.onedivone:hover, .twodivone:hover, .threedivone:hover, .twodivtwo:hover, .threedivtwo:hover, .threedivthree:hover{
color:white;
}
/*.onedivone:hover, .twodivone:hover, .threedivone:hover{
	background-color: #93C020 !important;
}
.twodivtwo:hover, .threedivtwo:hover{
	background-color: #FFC600 !important;
}
.threedivthree:hover{
	background-color: #8C5AA1 !important;
}*/
.twodivone{
	opacity:0.9;
	height: 285px !important;
    width: 285px;
    bottom: 0px !important;
    left: -200px;
    z-index: 1;
    transform: rotate(-135deg);
    writing-mode: vertical-lr;
    padding-left: 35px !important;
    padding-top: 141px !important;
    transform-text: uppercase;
    font-weight: bold;
    color: white;
}
.twodivone span{
	position: absolute;
    bottom: 30px;
    left: 45px;
    transform: rotate(-20deg);
}
.twodivtwo{
    position: absolute;
    height: 285px !important;
    width: 285px;
    bottom: -200px !important;
    left: 0px;
    z-index: 1;
    transform: rotate(-135deg);
    writing-mode: vertical-lr;
    padding-left: 225px !important;
    padding-top: 146px !important;
    transform-text: uppercase;
    font-weight: bold;
    color: white;
}
.twodivtwo span{
	position: absolute;
    bottom: 32px;
    right: 45px;
    transform: rotate(20deg);
}
.threedivone{
	height: 285px !important;
    z-index: 2 !important;
    width: 285px;
    bottom: 0px !important;
    left: -225px;
    writing-mode: vertical-lr;
    transform: rotate(-60deg);
    padding-top: 141px !important;
    transform-text: uppercase;
    font-weight: bold;
    color: white;

}
.threedivone span{
	bottom: -7px;
    right: 80px;
    transform: rotate(-105deg);
    position: absolute;
}
.threedivtwo{
	position: absolute;
    height: 285px !important;
    z-index: 1 !important;
    width: 285px;
    bottom: -124px !important;
    eft: 0px;
    z-index: 1;
    transform: rotate(-135deg);
    writing-mode: vertical-lr;
    padding-left: 225px !important;
    padding-top: 146px !important;
    transform-text: uppercase;
    font-weight: bold;
    color: white;
}
.threedivtwo span{
	bottom: 70px;
    right: 45px;
    transform: rotate(0deg);
    position: absolute;
}
.threedivthree{
	position: absolute;
    height: 285px !important;
    width: 285px;
    bottom: -225px !important;
    left: 10px;
    z-index: 1;
    transform: rotate(63deg);
    writing-mode: vertical-lr;
    padding-left: 225px !important;
    padding-top: 146px !important;
    transform-text: uppercase;
    font-weight: bold;
    color: white;
}
.threedivthree span{
	top: 60px;
    left: 22px;
    transform: rotate(190deg);
    position: absolute;
}
#btn-menu-add i {
    position: relative;
    top: 20px;
    right: -7px;
}

#divFiltre .endFilterPanel{
	height:100px;
}

#dropdown_params .panel-group,
#dropdown_params .panel-default{
	height:100%;
}

#dropdown_params .panel-default{
	background-color: white;
	overflow-y: scroll;
	border-radius:inherit;
}
.sigModuleBg{
    z-index: 0 !important;
}
#modalLogin .modal-content, #modalRegister .modal-content, #modalForgot .modal-content{
    background: rgba(0,0,0,0.7);
}
#modalLogin .modal-content .close-modal, #modalRegister .modal-content .close-modal,
#modalForgot .modal-content .close-modal{
    width: 60px;
    height: 60px;
    right: 26%;
}
#modalLogin .modal-content .close-modal .lr, #modalLogin .modal-content .close-modal .rl,
#modalRegister .modal-content .close-modal .lr, #modalRegister .modal-content .close-modal .rl
#modalForgot .modal-content .close-modal .lr, #modalForgot .modal-content .close-modal .rl{
    height: 60px;
}
#modalLogin .modal-content .container, #modalRegister .modal-content .container, #modalForgot .modal-content .container{
    background: white;
    padding: 10px;
    border-radius: 10px;
}
#modalLogin, #modalRegister, #modalForgot{
    background-color: transparent !important; 
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
    #modalLogin .modal-content .close-modal, #modalRegister .modal-content .close-modal, #modalForgot .modal-content .close-modal{
        right: 18%;
    }
}
@media screen and (max-width: 767px) {
    #modalLogin .modal-content .close-modal, #modalRegister .modal-content .close-modal, #modalForgot .modal-content .close-modal{
        right: 2%;
    }
}