@media screen and (min-width: 920px) and (max-width: 1200px) {
	.main-top-menu .moduleLabel {
    	max-width: 32% !important;
	}


}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
	.main-top-menu .moduleLabel {
    	/*max-width: 25% !important;*/
	}
	.moduleLabel.offline{
		max-width: 32% !important;
	}
}


.main-top-menu{
	height: 190px;
	background-color: #FFF;
	position: fixed !important;
	opacity: 1;
	z-index: 10;
	top: 0px;
	/*width: 73% !important;*/
	/*margin-left: -15px;*/
	moz-box-shadow: 0px 2px 4px -3px #656565;
	-webkit-box-shadow: 0px 2px 4px -3px #656565;
	-o-box-shadow: 0px 2px 4px -3px #656565;
	box-shadow: 0px 2px 4px -3px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);
}


.main-top-menu .main-gallery-top{
	height: 140px;
	width:100%;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.shadow {
    -webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.75);
}


button.btn-menu-top{
	font-size:16px;
	color:rgb(198,198,198);
	padding:10px;
	background: transparent !important;
	font-size: 17px;
	width: 45px;
	height: 50px;
	padding: 5px;
	top: 0px;
	border-radius: 0px 0px 0px 0px;
	z-index: 15;
	border: 0;
}

button.btn-menu-top.active, button.btn-menu-top:hover{
	color:rgb(70,70,70);
}


/* Toogle map button */
button#btn-toogle-map{
	border-left: 2px solid #dbdbdb;
	color:rgb(70,70,70);
	height: 40px;
	margin-top: 5px;
	width: 60px;
	margin-left: 10px;
}


#main-btn-co{
	font-size:20px;
	font-weight: 800;
	color:#444;
	/*box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 4px 0px 5px -4px rgba(66, 66, 66, 0.79) !important;*/
}
#main-btn-co:hover{
	/*box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	-webkit-box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	-o-box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;
	box-shadow: 4px 0px 5px -2px rgba(66, 66, 66, 0.79) !important;*/
}

#logo-main-menu{
	float:left;
	font-size: 24px;
	width: 200px;
	height: 50px;
	padding: 0px;
	top: 0px;
	z-index: 15;
	background-color: rgb(255, 255, 255);
	display: inline;
	margin-right: 10px;
}

.mainLabel {
    font-size: 21px;
	margin-bottom: 0px;
	margin-left: -17px;
	margin-top: 16px;
	display: inline-block;
}
#main-title {
    margin-top: 16px !important;
}

.item-galley-top{
	padding: 10px 5px;
	display: table-cell;
}

.img-galley-top{
	height:120px;
	width:120px;
}
.description-poi{
	height:120px;
	width:120px;
	position:absolute;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	top:10px;
	left:5px;
}
.description-poi h3{
	font-size: 11px;
    padding: 2px 3px;
    margin: inherit;
    text-align: -webkit-left;
}
.description-poi span{
	padding: 0px 3px;
    font-size: 10px;
    white-space: initial;
    width: 120px;
    float: left;
    margin: inherit;
    /* color: grey; */
    text-rendering: geometricPrecision;
}
.description-poi a{
	border-radius: 5px !important;
    background: transparent;
    font-size: 10px;
    padding: 4px !important;
    float: right;
    position: absolute;
    bottom: 3px;
    right: 3px;
}
@media screen and (max-width: 767px){
	#notificationPanelSearch{
		position: fixed;
		top: 51px;
		right: 50px;
		width: 300px;
		/*max-height: 80%;
		overflow-y: auto;
		background-color: white;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 0px 0px 10px 10px;*/
	}
	#main-btn-co{
		margin-right:0px;
	}
	button.btn-menu-notif{
		margin-right: -10px;
	}
}
