[data-pnotify].ping-notif-elem {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 1.1;
}
[data-pnotify] .ping-notif-container {
  background-color: var(--not-totaly-white);
  background-image: none;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  -webkit-box-shadow: 0 6px 28px 0 rgb(0 0 0 / 17%);
  -moz-box-shadow: 0 6px 28px 0 rgba(0,0,0,.1);
  box-shadow: 0 6px 28px 0 rgb(0 0 0 / 17%);
}
[data-pnotify] .ping-notif-title,
[data-pnotify] .ping-notif-text {
  margin-left: 50px;
  color: var(--text-black);
}
[data-pnotify] .ping-notif-title {
  font-weight: bold;
  font-size: 15px;
}
[data-pnotify] .ping-notif-icon {
  color: var(--aap-primary-dark);
}