
/* ---------------------------------------------------------------------- */
/*  Timeline
/* ---------------------------------------------------------------------- */
div.timeline {
  margin: 0 0px 0 0;
  overflow: hidden;
  position: relative;
  min-height:350px;
  overflow: visible; }
  div.timeline .columns {
    margin: 0;
    padding: 0;
    list-style: none; }
    div.timeline .columns > li:nth-child(2n+1) {
      float: left;
      width: 50%;
      clear: left; }
      div.timeline .columns > li:nth-child(2n+1) .timeline_element {
        float: right;
        left: 10%;
        margin-right: 30px;
        left: 0;
        opacity: 1; }
        div.timeline .columns > li:nth-child(2n+1) .timeline_element:before {
          right: -27px;
          top: 15px; }
        div.timeline .columns > li:nth-child(2n+1) .timeline_element:after {
          right: -35px;
          top: 10px; }
    div.timeline .columns > li:nth-child(2n+2) {
      float: right;
      margin-top: 20px;
      width: 50%;
      clear: right; }
      div.timeline .columns > li:nth-child(2n+2) .timeline_element {
        float: left;
        margin-left: 30px;
        right: 10%;
        opacity: 1;
        right: 0; }
        div.timeline .columns > li:nth-child(2n+2) .timeline_element:before {
          left: -27px;
          top: 15px; }
        div.timeline .columns > li:nth-child(2n+2) .timeline_element:after {
          left: -35px;
          top: 10px; }
  div.timeline .date_separator {
    clear: both;
    height: 60px;
    position: relative;
    text-align: center; }
    div.timeline .date_separator span {
      border-radius: 5px;
      height: 30px;
      line-height: 30px;
      margin-top: -16px;
      position: absolute;
      top: -200%;
      width: 200px;
      top: 50%;
      left: 50%;
      margin-left: -100px;
      border: 1px solid #707788;
      background-color: #8b91a0;
      color: white; }
  div.timeline .spine {
    border-radius: 2px;
    position: absolute;
    top: 0;
    width: 4px;
    left: 50%;
    margin-left: -2px;
    bottom: 0;
    background-color: #dfe1e5; }
  div.timeline .column_center .timeline_element {
    margin: 20px auto;
    opacity: 1; }
    div.timeline .column_center .timeline_element:before, div.timeline .column_center .timeline_element:after {
      display: none; }

.timeline_element {
  border-radius: 5px;
  clear: both;
  margin: 10px 0;
  padding: 20px;
  opacity: 0;
  position: relative;
  transition: all 0.2s linear 0s;
  min-width: 66.6667%;
  text-shadow: none;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1); }
  .timeline_element.partition-white {
    border: 1px solid #dfe1e5; }
    .timeline_element.partition-white:hover {
      border: 1px solid #d1d3d9; }
    .timeline_element.partition-white:after {
      background-color: white; }
    .timeline_element.partition-white:hover:after {
      background-color: #707788;
      border: 1px solid white; }
  .timeline_element.partition-green {
    border: none;
    color: white; }
    .timeline_element.partition-green:hover {
      border: none; }
    .timeline_element.partition-green:after {
      background-color: #1fbba6; }
    .timeline_element.partition-green:hover:after {
      background-color: white;
      border: 1px solid #1fbba6; }
  .timeline_element.partition-orange {
    border: none;
    color: white; }
    .timeline_element.partition-orange:hover {
      border: none; }
    .timeline_element.partition-orange:after {
      background-color: #f58a5c; }
    .timeline_element.partition-orange:hover:after {
      background-color: white;
      border: 1px solid #f58a5c; }
  .timeline_element.partition-blue {
    border: none;
    color: white; }
    .timeline_element.partition-blue:hover {
      border: none; }
    .timeline_element.partition-blue:after {
      background-color: #5f8295; }
    .timeline_element.partition-blue:hover:after {
      background-color: white;
      border: 1px solid #5f8295; }
  .timeline_element.partition-red {
    border: none;
    color: white; }
    .timeline_element.partition-red:hover {
      border: none; }
    .timeline_element.partition-red:after {
      background-color: #E33551; }
    .timeline_element.partition-red:hover:after {
      background-color: white;
      border: 1px solid #E33551; }
  .timeline_element.partition-azure {
    border: none;
    color: white; }
    .timeline_element.partition-azure:hover {
      border: none; }
    .timeline_element.partition-azure:after {
      background-color: #00bdcc; }
    .timeline_element.partition-azure:hover:after {
      background-color: white;
      border: 1px solid #00bdcc; }
  .timeline_element.partition-purple {
    border: none;
    color: white; }
    .timeline_element.partition-purple:hover {
      border: none; }
    .timeline_element.partition-purple:after {
      background-color: #804c75; }
    .timeline_element.partition-purple:hover:after {
      background-color: white;
      border: 1px solid #804c75; }
  .timeline_element:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }
  .timeline_element:before {
    content: "";
    display: block;
    height: 0;
    position: absolute;
    width: 26px;
    border-top: 1px dashed #CCCCCC; }
  .timeline_element:after {
    border-radius: 100%;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    background-color: #BBBBBB;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }
  .timeline_element:hover:after {
    z-index: 100;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    z-index: 100; }
  .timeline_element .timeline_title {
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    padding-top: 10px; }
  .timeline_element .timeline_date {
    display: block; }
    .timeline_element .timeline_date .day {
      font-size: 52px;
      letter-spacing: -2px; }
  .timeline_element .timeline_content {
    padding-top: 10px; }
  .timeline_element .readmore {
    padding: 10px;
    text-align: right; }

.timeline_element .ico-type-account {
    background-image: url("flag.png");
    text-align: center;
    height: 20px;
    width: 40px;
    font-size: 13px;
    padding: 0px;
    float: left;
    margin-left: -24px;
    border-radius: 3px 0px 0px 3px;
    margin-top: 5px;
    margin-right: 37px;
}
}
.timeline_element .ico-type-account i.fa{
    margin-left:3px !important;
}
.timeline_element .timeline_date{
  padding-left: 57px;
}
.timeline_element .timeline_author_block{
  margin-left: 0px;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  height: 60px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  position:inherit;
}
.timeline_element .timeline_author{
  text-transform: none !important;
  display: -webkit-box;
  padding-left: 5px;
}
.timeline_author_block a {
	padding-top:10px;
}
.timeline_element .timeline_title{
  width:100%;
  overflow: visible !important;
}
.timeline_element .timeline_text{
  padding:0px 5px;
}
.timeline_element .tag_item_map_list{
  color:#F00;
}
.timeline_element .label-tool-timeline{
  background-color:white !important;
}
.timeline_element hr{
  margin: 3px 0px;
}
.timeline_element .thumbnail-profil {
    width: 50px;
    height: 50px;
    background-color: #DADADA;
    border-radius: 4px;
    margin-right: -50px;
    float: left;    
    margin-top: 0px;
}
.timeline_element .thumbnail-profil img{
    border-radius: 4px;
}
.timeline_element .timeline_shared_picture{
    width: 100%;
    min-height: 150px;
    max-height:250px;
    margin-bottom: -60px;
    background-size: 100% auto;
    border-radius: 3px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    color: #FFF;
    overflow-y: hidden;
    overflow-y: -moz-hidden-unscrollable;
}
.timeline_element .timeline_shared_picture img{
    width:100%;
    height:auto;
}
.timeline-scrubber {
  padding: 8px 0 8px 1px;
  top: 60px;
  right: 0;
  width: 100px;
  z-index: 1;
  list-style: none;
  position: absolute; }
  .timeline-scrubber li {
    margin-bottom: 1px; }
    .timeline-scrubber li:nth-last-child(2) a {
      border-color: #c3c6ce;
      color: #c3c6ce; }
    .timeline-scrubber li:last-child a {
      border-color: #d1d3d9;
      color: #d1d3d9; }
  .timeline-scrubber a {
    border-left: 5px solid #a7acb7;
    color: #a7acb7;
    display: block;
    font-weight: normal;
    outline: medium none;
    padding: 4px 0 4px 6px; }
    .timeline-scrubber a:hover {
      border-color: #707788 !important;
      color: #707788 !important; }
  .timeline-scrubber .selected > a {
    border-left-color: #707788 !important;
    color: #707788 !important;
    font-weight: bold !important; }

/* ie8 fixes */
.ie8 div.timeline_element:after {
  display: none; }

.ie8 div.timeline_element:before {
  display: none; }
