/* ---------------------------------------------------------------------- */
/*  additional Subview
/* ---------------------------------------------------------------------- */

.close-subviews {
    margin-top: 0;
    padding: 0;
    padding-top: 1px;
}