/* ---------------------------------------------------------------------- */
/*  Theme Default
/* ---------------------------------------------------------------------- */

/* theme-default.scss */

@import "themes/theme-default.scss";
@import "modules/css3-mixins";
@import "modules/variables";

/* end theme-default.scss */

$base-color: $dark01;

/* theme-style11.scss */

body {
    background-color: $base-color;
}


.text-azure {
    color: $azure01;
}
.text-orange {
    color: $orange01;
}
.text-green {
    color: $green01;
}
.text-pink {
    color: $pink01;
}


.panel-grey,
.partition-grey {
    background-color: $grey01;
    @include background-gradient($lightGrey01 0px, $darkGrey01 100%);
}

.panel-orange,
.partition-orange {
    background-color: $orange01;
    @include background-gradient($lightOrange01 0px, $darkOrange01 100%);
}

.panel-purple,
.partition-purple {
    background-color: $purple01;
    @include background-gradient($lightPurple01 0px, $darkPurple01 100%);
}

.panel-pink,
.partition-pink {
    background-color: $pink01;
    @include background-gradient($lightPink01 0px, $darkPink01 100%);
}

.panel-azure,
.partition-azure {
    background-color: $azure01;
    @include background-gradient($lightAzure01 0px, $darkAzure01 100%);   
}

.panel-green,
.partition-green {
    background-color: $green01;
    @include background-gradient($lightGreen01 0px, $darkGreen01 100%);  
}

.panel-blue,
.partition-blue {
    background-color: $blue01;
    @include background-gradient($lightBlue01 0px, $darkBlue01 100%);
}

.panel-yellow,
.partition-yellow {
    background-color: $yellow01;
    @include background-gradient($lightYellow01 0px, $darkYellow01 100%);
}

.panel-dark,
.partition-dark {
    background-color: $dark01;
    @include background-gradient($lightDark01 0px, $darkDark01 100%);
}


.toolbar {

    .page-header {
        h1 {
            color: $dark01;
        }

        small {
            color: #666b7e;
        }
    }
}


.badge-warning {
    color: $dark01;
    background: $yellow02;
}

.badge-danger {
    background: $pink01;
}


/* end theme-style11.scss */