
@font-face{
	font-family: youregone;
	src: url('../../vendor/fonts/youregone/youregone.ttf');
}.font-youregone{font-family:"youregone"!important;font-weight:200!important;}

@font-face{
	font-family: Ridge-Regular;
	src: url('../../vendor/fonts/Ridge-Regular/Ridge-Regular.otf');
}.font-ridge{font-family:"Ridge-Regular"!important;font-weight:200!important;}

@font-face{
	font-family: VAL;
	src: url('../../vendor/fonts/VAL/VAL.otf');
}.font-VAL{font-family:"VAL"!important;}

@font-face{
	font-family: LondrinaSketch;
	src: url('../../vendor/fonts/LondrinaSketch-Regular.ttf');
}.font-londrina{font-family:"LondrinaSketch"!important;}

@font-face{
	font-family: BlackoutM;
	src: url('../../vendor/fonts/blackout/Blackout Midnight.ttf');
}.font-blackoutM{font-family:"BlackoutM"!important;}

@font-face{
	font-family: BlackoutS;
	src: url('../../vendor/fonts/blackout/Blackout Sunrise.ttf');
}.font-blackoutS{font-family:"BlackoutS"!important;}

@font-face{
	font-family: BlackoutT;
	src: url('../../vendor/fonts/blackout/Blackout Two AM.ttf');
}.font-blackoutT{font-family:"BlackoutT"!important;}

@font-face{
	font-family: ZILAP;
	src: url('../../vendor/fonts/ZILAP.ttf');
}.font-ZILAP{font-family:"ZILAP"!important;}

@font-face{
	font-family: coconut;
	src: url('../../vendor/fonts/Coconut_Point.otf');
}.font-coconut{font-family:"coconut"!important;}

@font-face{
font-family: Homestead;
src: url('../../fonts/Homestead/Homestead-Display.ttf');
}

body.modal-open{
	overflow: visible!important;
}

.colorpicker{
	display: none;
}
.homestead{font-family:"Homestead";font-weight:200!important;}

.font-montserrat{font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;}

.bold{ font-weight:700!important; }

.font-light{ font-weight: 300!important; }

.scroll-top .btn {
    font-size: 20px;
    width: 65px;
	height: 65px;
    border-radius: 100% 0 0;
	line-height: 28px;
	border: none;
	background-color: #1a67e7;
	padding-top: 25px;
	padding-left: 25px;
}

body{
	padding-right: 0px !important;
}

.scroll-top .btn:hover {
	background-color: #407ee4;
}

.scroll-top {
    right: 0%;
    bottom: 0%;
    width: 65px;
	height: 65px;
}

.modal-backdrop{
	display: none!important;
	top: 40px!important;
}
#modalItemNotLocated{
	top:100px;
}

.radio-tool .btn {
    font-size: 20px;
    width: 65px;
	height: 65px;
    border-radius: 0 100% 0 0;
	line-height: 28px;
	border: none;
	background-color: #233140;
	padding-top: 25px;
	padding-right: 25px;
}
.radio-tool .btn:hover {
	background-color: #303030;
}

.radio-tool {
	position: fixed;
    left: 0%;
    bottom: 0%;
    width: 65px;
	height: 65px;
	z-index:1049;
}

.footer-below{
	background-color: #233140;
}
header, .header {
  text-align: center;
  background: #F6F6F6;
  /*background-image: url("../../img/background-onepage/pattern/witewall_3.png");*/
  color: #365766;
}

header .intro-text .name , 
.header .intro-text .name {
    font-size: 40px;
	letter-spacing: 0px;
	margin-bottom: -10px;
}
.portfolio-modal.modal .name{
    font-size: 5em;
	letter-spacing: 2px;
}

header img,
.header img {
    display: block;
    margin: 0 auto 20px;
}
header .container ,
.header .container {
    padding-top: 80px;
	padding-bottom: 70px;
}
.link-submenu-header{
    text-transform: uppercase;
    font-weight: 800;
	/*font-family: Homestead;*/
}
/*.intro-text a.menu-top {
    color: #34a853 !important;
}*/
.main-container{
	background-color: white;
	min-height:1000px;
	min-width: 100%;
}
/*.sigModuleBg{
	z-index:-1;
}*/
section {
    padding: 70px 0 0 0;
}
#lbl-chk-scope{
	height: 56px;
}

.navbar-custom {
    background: rgba(251, 251, 251, 0.98); /*#FFF;/*rgba(255, 255, 255, 0.2)*/;
    padding: 8px 0;
	-webkit-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.5) ;
    -moz-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.5) ;
    box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.5) ;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-custom .navbar-nav li a{
	color:#2C3E50;
}
.navbar-custom .navbar-nav li a:hover{
	color:#2C3E50;
}

.navbar-custom .navbar-nav li .font-blackoutT{
	font-size: 32px;
	letter-spacing: -1px;
}


.navbar-custom .navbar-nav {
    font-size: 15px;
}

.navbar-custom.affix {
  background-color: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5) ;
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5) ;
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5) ;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1.5em !important;
}


.navbar-custom.affix-top .navbar-brand{
	display: none;
}

.navbar-collapse li, .navbar-map li{
	font-size:12px;
	letter-spacing: 0px;
}


#main-title-top{
	text-transform: none;
	font-weight: 400;
	font-size: 15px;
	color: #365766;
}
.navbar-custom.affix #main-title-top{
	display: none;
}

input#second-search-bar{
	display: none;
}

.navbar-custom.affix input#second-search-bar{
	display: inline;
}
.navbar-custom.affix .menu-btn-start-search{
	display: inline;
}
.navbar-custom.affix-top .menu-btn-start-search{
	display: none;
}

.navbar-custom.affix-top .skills{
	display: inline;
	padding-top:15px;
	float:left;
	text-transform: none;
	color: #769AAB;
}
.navbar-custom.affix .skills{
	display: none;
}

.navbar-custom.affix .hidden-top{
	display: inline;
}
.navbar-custom.affix-top .hidden-top{
	display: none;
}

.navbar-custom.affix .show-top{
	display: none!important;
}
.navbar-custom.affix-top .show-top{
	display: inline!important;
}

.navbar-custom .scopes{
	margin-top:8px;
}

.btn-scope{    
	border-radius: 20px;
	font-size:14px;
    margin-right:3px;
	background-color: #fff;
	color: #ea4335;
}

.btn-scope:hover{    
	background-color: #e65c50;
	color: #fff;
}
.btn-scope.selected{    
	background-color: #ea4335;
	color: #fff;
}

.navbar-custom .scopes .btn-scope {
    font-size: 12px;
}

.navbar-header{

}


.navbar-header .logo-menutop{
	/*display: none;*/
	float: left;
	margin: 8px 5px 0 0;
}
.navbar-custom.affix .navbar-header .nc_map_min{
	display: inline;
}

.navbar-custom .btn-show-map{
	background-color: #0095FF;
	/*background-color: #7bd18f;*/
	color: white;
	border: 2px solid transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
	border-radius: 50% 0px;
	width: 50px;
	height: 35px;
	font-size: 17px;
	margin-left: 10px;
}
.navbar-custom .btn-show-map:hover{
	background-color: transparent;
	color: #0095FF;
	border: 2px solid #0095FF;
}

.btn-show-onmap{
	background-color: #0095FF;
	color: white;
	padding:0px 15px;
	border: 2px solid transparent;
	border-radius: 20px 0px;
	height: 35px;
	font-size: 13px;

}
.btn-show-onmap:hover{
	background-color: transparent;
	color: #0095FF;
	border: 2px solid #0095FF;
}

.navbar-custom .btn-show-mainmenu{
	float:right;
	margin-top:10px;
	margin-left:-5px;
	/*background-color: #fbbc05;*/
	/*background-color: #354c57;*/
	/*color: white;
	border: 2px solid transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
	border-radius: 0px 50%;
	width: 50px;
	height: 35px;
	font-size: 17px;
	margin-left: 25px;*/
}
.navbar-custom .btn-show-mainmenu:hover{
	/*background-color: transparent;
	color: #fbbc05;
	border: 2px solid #fbbc05;*/
}
.navbar-custom .btn-open-floopdrawer{
	background-color: white;
	color: #484746 !important;
	margin-top: 10px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 6px;
	float: right;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 14px;
	float: right;
	border: 1px solid #959595;
	padding: 0px 0px;
}

.navbar-custom .btn-open-floopdrawer:hover{
	background-color: transparent;
	border: 2px solid #959595;
}
.navbar-custom .btn-show-communexion{
	background-color: #ea4335;
	/*background-color: #354c57;*/
	color: white;
	border: 2px solid transparent;
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
	border-radius: 0px 50%;
	width: 50px;
	height: 35px;
	font-size: 17px;
	margin-left: 10px;
}
.navbar-custom .btn-show-communexion:hover{
	background-color: transparent;
	color: #ea4335;
	border: 2px solid #ea4335;
}
.links-main-menu .btn-main-menu:hover,
.links-create-element .btn-create-elem:hover{
	-moz-box-shadow: 	0px 0px 20px -10px rgba(0, 0, 0, 0.68);
	-webkit-box-shadow:	0px 0px 20px -10px rgba(0, 0, 0, 0.68);
	-o-box-shadow: 		0px 0px 20px -10px rgba(0, 0, 0, 0.68);
	box-shadow: 		0px 0px 20px -10px rgba(0, 0, 0, 0.68);
}

.nav > li > a:focus, .nav > li > a:hover{
	background-color: transparent;
}


.inSig #mainNav{
  background-color: rgba(255,255,255,0.9);
}

#mainNav .container, .navbar-map .container{
	width: 100%;
	padding: 0px 20px;
	font-size: 16px;
}

.navbar-map{
	position: absolute;
	top:0px;
	width:100%;
	height:60px;
	background: rgba(41, 41, 41, 0.85) !important;
	color:white;
	display: none;
	-moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.68);
	-webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.68);
	-o-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.68);
}

.inSig .navbar-map{
	display: inline;
}


.navbar-header .logo-menutop{
	/*display: none;*/
	float: left;
	margin: 8px 5px 0 -20px;
}
#right_tool_map{
	top: 60px!important;
	left:unset!important;
	right:0px!important;
	width:30%;
	min-width:400px;
	-moz-box-shadow: -5px -5px 10px -3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: -5px -5px 10px -3px rgba(0, 0, 0, 0.4);
	-o-box-shadow: -5px -5px 10px -3px rgba(0, 0, 0, 0.4);
	box-shadow: -5px -5px 10px -3px rgba(0, 0, 0, 0.4);
}
#input_name_filter{
	background-color: transparent;
	margin-bottom:5px;
	-moz-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.68);
	-webkit-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.68);
	-o-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.68);
	box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.68);
}
#lbl-chk-scope{
	-moz-box-shadow: -5px 2px 10px -3px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px -5px 10px -3px rgba(0, 0, 0, 0.4);
	-o-box-shadow: -5px 2px 10px -3px rgba(0, 0, 0, 0.4);
	box-shadow: -5px 2px 10px -3px rgba(0, 0, 0, 0.4);
}
#input-search-map {
    background-color: #000000;
    color: white;
    border-color: black;
    border-width: 0px;
    height: 40px;
    margin-top: 6px;
}


.logo-menutop{
	margin-bottom: -10px;
}
header .logo-menutop{
	height:70px;
}
.navbar-brand {
    padding: 0 0 0 20px;
}

a, a:hover, a:focus, a:active, a.active{
	color:#2C3E50;
}
.navbar-custom a:hover, .navbar-custom a:focus, 
.navbar-custom a:active, .navbar-custom a.active{
	background-color:transparent;
}

.navbar-custom .navbar-nav li.active a{
	color:#ea4335!important;
	background-color: white !important;
}

.portfolio-link h3{
	padding:5px 0px;
	margin:0px;
	font-size: 18px;
}

.portfolio-item p{
	font-size:17px;
}


#mainCategories .portfolio .portfolio-item {
	margin:0 0 15px;
	padding:10px;
	border-radius: 5px;
}
#mainCategories .portfolio .portfolio-item:hover {
	background-color: #C8EBF5;
}

#mainCategories .portfolio .portfolio-item .portfolio-link {
	text-align: center;
	background-color: transparent;
	border: none;
}
#mainCategories .portfolio .portfolio-item button.portfolio-link{
	color: #2C3E50;
}
#mainCategories .portfolio .portfolio-item .portfolio-link .caption{
	background-color: transparent;
}
#mainCategories .portfolio .portfolio-item a.portfolio-link:hover{
	text-decoration: none;
}


.text-green button.portfolio-link{
	color: #34a853 !important;
}

#main-search-bar{
	font-size:17px;
	height:45px;
    border:none;
	font-weight: 200;
}
#main-input-group{
	margin-top:0px;
	-webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5) ;
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5) ;
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.5) ;
}
#main-search-bar-addon{
	border: none;
	background-color: white !important;
}
#second-search-bar{
	padding:10px;
	font-size:14px;
	height:44px;
	font-weight: 200;
	margin-top:3px;
	-webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5) ;
    -moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5) ;
    box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5) ;
    border:1px solid #dadada;
}

#menu-map-btn-start-search{
	margin-top: 6px;
	border-color: transparent;
	background-color: black;
	color: white;
	padding: 9px 14px;
	margin-left: 3px;
}
#menu-btn-start-search{
	margin-top:6px;
	border-color: transparent;
	padding: 9px 14px;
	margin-left: 3px;
}

/*
#btn-main-menu{
	position: fixed;
	top:85px;
	left:20px;
	border-radius: 1px;
	letter-spacing: 2px;
}*/

.dropdown .dropdown-main-menu{
	display:none;
}
.dropdown.open .dropdown-main-menu{
	display:block;
}

.dropdown-main-menu{
	position: fixed;
	top:60px;
	right:55px;
	max-height:400px;
	/*width:200px;*/
	background-color:transparent;
	z-index:5;
}

.dropdown-main-menu .dropdown-menu{
	margin:0px;
	border:none;
	display: inline;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3) ;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3) ;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.dropdown-main-menu .dropdown-menu li a {
	text-transform: uppercase;
}

.dropdown-main-menu .arrow_box:after, .dropdown-main-menu .arrow_box:before {
	right: 75px;
	left: unset;
}

.portfolio-modal .modal-content h2 {
    font-size: 2em;
}

#main-btn-start-search, 
.main-btn-create, 
#btn-new-search{
	font-size: 14px;
	height: 37px;
	border-color: #dedede;
	color: #6f6f6f;
	font-weight: 700;
	background-color: #f8f8f8;
	margin-bottom:5px;
}
#main-btn-start-search:hover, 
.main-btn-create:hover{
	background-color: #fff;
	color:#4b4b4b;
	font-weight: 700;
}



.skills{
	font-size:11px !important;
}

#subtitle{
	margin-top: -40px !important;
	margin-bottom: 15px;
}

.name .pastille{
	margin-top: -25px;
	display: block;
	text-align: right;
	max-width: 65%;
	font-size: 0.4em;
}
.navbar-brand .pastille{
	margin-top: 35px;
	text-align: right;
	font-size: 0.5em;
	letter-spacing: -2px !important;
	display: inline-block;
	margin-left: -20px;
}
.main-menu-app{
	margin-bottom:70px;
	padding-top:80px;
}
.search-eco a{
	color:#34a853;
}
.search-eco hr.angle-down{
	border-color:#34a853;
}
.search-eco hr.angle-down::after{
	background-color: #34a853;
}
.search-eco .portfolio-item:hover {
	background-color: #d3f6dc !important;
}
/******************BOUBOULE********************/
.progressTop {
    text-align: center;
    width: 100%;
    height: 3px;
    background-color: white;
    border:none;
    transition: width .3s;
    position: fixed;
    top: 0px;
    z-index: 10000000000;
}
.progressTop::-webkit-progress-bar { background: #fff; }
.progressTop::-webkit-progress-value
{
    background-color: #e6344d;
}
.progressTop::-moz-progress-bar{  
    background-color: #e6344d;
}
@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes lds-dual-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes lds-dual-ring_reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.lds-dual-ring {
  position: relative;
  line-height: 310px;
}
.lds-dual-ring > img{
    height: 100px;
}
.blockUI .lds-css{
	width: 300px;
    margin-top: 5%;
    position: relative;
    display: -webkit-inline-box;
    display: inline-block;
}
.lds-dual-ring div {
  position: absolute;
  width: 300px;
    height: 300px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  border: 2px solid #000;
  border-color: #2c3e50 transparent #2c3e50 transparent;
  -webkit-animation: lds-dual-ring 2s linear infinite;
  animation: lds-dual-ring 2s linear infinite;
}
.lds-dual-ring div:nth-child(2) {
	width: 280px;
	height: 280px;
	top: 20px;
	left: 20px;
  border-color: transparent #e6344d transparent #e6344d;
  -webkit-animation: lds-dual-ring_reverse 2s linear infinite;
  animation: lds-dual-ring_reverse 2s linear infinite;
}
.lds-double-ring {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
/****************µEND BOUBOULE ********************/
.blockUI{
	z-index:1035!important;	
	border-radius:0px 0px 4px 4px!important;
	/*background-color: rgba(255, 255, 255, 0.9);*/
}
.blockUI.blockOverlay{
	top:50px !important;
	background-color: transparent !important;
}
.blockUI.blockOverlay.filering{
	left:20%;
	width: 80%
}
.blockUI.blockMsg.blockPage{
	left:0%!important;
	width:100%!important;
	top:0px!important;
	min-height: 1000px!important;
	padding-top: 105px!important;
	background-color: transparent !important;
}

.blockUI.blockMsg.blockPage img{
	margin-bottom:20px;
}

.blockUI.blockMsg.blockPage .loaderBlockUI{
	position: absolute;
	left: 49%;
	top: 200px;
	margin-left: 8px;
}
.blockUI.blockMsg.blockPage .btnHelp i{
	font-size:14px;
}
/*.blockUI.blockMsg.blockPage i.fa{
	position: absolute;
	left: 49%;
	top: 200px;
	margin-left: 8px;
}*/


#refResult{
	margin-top:20px;
}


#refResult label{
	width:100%;
}

pre{
	padding: 3px;
	margin: 0;
	font-size: 11px;
	color: #c54334;
}

h3.title_panel_map{
	font-size:13px;
}
.sigModuleBg .panel_map{
	top: 97% !important;
}
.leaflet-popup-content-wrapper{
	display: flex;
}
.item_map_list .right-col{
	width: 70%;
	max-width: 70%;
}
.leaflet-popup-content .item_map_list .right-col{
	width: 65%;
	max-width: 65%;
}
#right_tool_map .item_map_list .separation{
	min-width: 95%;
}
.item_map_list i.fa-map-marker.fa-2x{
	font-size: 2em;
	margin-top: -7px;
}

#newElement_btnSearchAddress{
	padding: 6px 0 !important;
}

.leaflet-popup-content button{
	font-size: 13px;
}

.sigModuleBg .btn-group-map.tools-btn{
	margin-right:-35px;
}

.right_tool_map_header{
	height: 60px!important;
	padding-top: 2px!important;
}
#lbl-chk-scope{
	margin-top:0px!important;
}
#btn-tags .btn-map, #btn-filter .btn-map{
	padding: 19px 17px !important;
	background-color: transparent!important;
	margin-right: 25px;
}

.siteurl .right-col{
	width:95%!important;
	max-width:95%!important;
}
#input-sec-search{
	padding:0px;
}
.menu-btn-start-search{
	border-radius: 0px 4px 4px 0px;
	height: 42px;
	border: none;
	margin-right: 4px;
	background: #F3F3F3;
	margin-top: 4px;
	margin-left: -5px;
	width: 40px;
	padding-left: 15px;
	-webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.5);
}



.portfolio-modal{
	padding-right:0px !important;
	background-color: white;
}
.portfolio-modal .close-modal{
	z-index:10;
}
.navbar-collapse button,
.navbar-nav button{
	margin-top: 15px;
	background-color: transparent;
	padding: 0 10px;
	border: none !important;
	border-left: 1px solid #e3e3e3 !important;
}

.menu-name-profil{
	font-weight: 300;
    letter-spacing: 0px;
    margin-top:5px!important;
    margin-right:0px;
    background-color:rgba(246,246,246,0.6)!important;
	border-radius: 50px !important;
	padding:8px 0 0 0px;
	border:none;
	height: 40px !important;
	display: block;
	text-decoration: none!important;
	text-transform: none;
}
.menu-name-profil img{
	border:2px solid transparent;
	margin-top: -8px;
}
.menu-name-profil small{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 95px;
    display: inline-block;
}

.navbar-map .menu-name-profil{
	margin-top:2px!important;
	background-color:rgba(10,10,10,0.6)!important;
	padding: 0 0 0 15px;
}
.navbar-map .menu-name-profil:hover{
	background-color:rgba(10,10,10,0.9)!important;
}
.navbar-map .menu-name-profil small{
	color:white;
}

.menu-name-profil:hover img{
	/*border:2px solid #fff;*/
}
.menu-name-profil:hover {
	background-color:#ddd!important;
}

.btn-menu-connect{
	background-color: transparent!important;
}
.btn-menu-connect:hover{
	color: #2C3E50!important;
}
.navbar-collapse{
	border:none;
}
.navbar-nav{
	margin:0;
}


#sub-menu-left{
    /*margin-top:180px;*/
    /*text-align: right;*/
}
#sub-menu-right{
    margin-top: 110px;
    /*text-align: right;*/
}
/*
#sub-menu-left .btn{
    background-color: #4285f4;
    border-color: #4285f4;
	color:white;
}
#sub-menu-left .btn.active{
    background-color: #fff;
    color: #4285f4;
}
#sub-menu-left .btn:hover{
    background-color: #1c6df5;
    border-color: #4285f4;
}
#sub-menu-left .btn.active:hover{
    background-color: #fff;
    color: #4285f4;
}*/

.btn-favory{
	margin-left:-30px; 
	margin-right:13px;
}

.btn-favory .fa-star{
	display: none;
}
.btn-favory:hover{
	text-decoration: none;
}
.btn-favory:hover .fa-star-o{
	display: none;
}
.btn-favory:hover .fa-star{
	display: inline;
}


.main-btn-scopes {
    margin-top: -37px;
    z-index: 10;
    border-radius: 50%;
    padding:3px;
    border: 3px solid transparent!important;
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.5);
    /*-ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(-45deg);*/
}

.main-btn-scopes:hover{
    background-color: white!important;
    color:#ea4335!important;
    border: 3px solid #ea4335!important;

}

.url-div .btn-edit-url{
	display: none;
	margin-top:-4px;
}
.url-div:hover .btn-edit-url{
	display: inline;
}
.portfolio-modal.modal {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
/*onepage dropdown menu btn*/
#btn-onepage-main-menu{
		position: fixed;
		top:85px;
		left:20px;
		border-radius: 1px;
		letter-spacing: 2px;
	}

.dropdown .dropdown-onepage-main-menu{
	display:none;
}
.dropdown.open .dropdown-onepage-main-menu{
	display:block;
}

.dropdown-onepage-main-menu{
	position: fixed;
	top:130px;
	left:20px;
	max-height:400px;
	/*width:200px;*/
	background-color:transparent;
	z-index:5;
}

.dropdown-onepage-main-menu .dropdown-menu{
	margin:0px;
	border:none;
	display: inline;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3) ;
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3) ;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.dropdown-onepage-main-menu .dropdown-menu li a {
	text-transform: uppercase;
	font-size:16px;
}


#footer-help{
	background-color: rgba(35, 49, 64, 0.9);
    position: fixed;
    bottom: 0px;
    height: 230px;
    color: white;
    font-size: 18px;
    padding: 25px;
}
#footer-help .btnHelp{
	font-weight: 800;
	font-size: 18px;
}
#footer-help .close-footer-help {
 	position: absolute;
    width: 70px;
    height: 50px;
    background-color: transparent;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
#footer-help .close-footer-help:hover {
  opacity: 0.6;
}
#footer-help .close-footer-help .lr {
  	height: 30px;
    width: 4px;
    margin-left: 55px;
    background-color: white;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
}
#footer-help .close-footer-help .lr .rl {
    height: 30px;
    width: 4px;
    background-color: white;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}
/*Fix tooltips display*/
.tooltip-inner{
	padding:10px!important;
	font-size:14px;
	min-width:150px;
}
.tooltip.bottom .tooltip-arrow{
	top:1px!important;
}
.tooltip.top .tooltip-arrow{
	bottom:1px!important;
}
.tooltip.left .tooltip-arrow{
	right:1px!important;
}
.tooltip.right .tooltip-arrow{
	left:1px!important;
}


/* DROPDOWN GLOBAL SEARCH*/

  #mainNav .dropdown-result-global-search{
    position: fixed;
    top: 67px;
    left: 83px;
    max-height: 100%;
    overflow-y: auto;
    background-color: white;
    padding:10px;
    border-radius: 0px 0px 5px 0px;
    box-shadow: 2px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
    -webkit-box-shadow: 2px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
    -o-box-shadow: 2px 0px 5px -1px rgba(66, 66, 66, 0.79) !important;
    box-shadow: 0px 9px 12px 3px rgba(66, 66, 66, 0.37) !important;
    overflow-x: hidden;
    display: none;
    border-top: 1px solid #c6c6c6;
  }
  .dropdown-result-global-search .entityCenter .fa{
  	color:white!important;
  }

  #mainNav .dropdown-result-global-search #footerDropdownGS{
    padding: 20px;
	float: left;
	width: 100%;
  }

  .dropdown-result-global-search
  .searchEntity{
    box-shadow: none !important;
    border-bottom:1px solid lightgrey;
  }

  .dropdown-result-global-search
  .entityCenter{
    margin-top: 5px!important;
    float:left!important;
  }
  .dropdown-result-global-search
  .entityRight{
    margin-top: 12px;
  }


  #mainNav .dropdown-result-global-search .searchEntity,
  .searchEntity .entityRight .entityName,
  .searchEntity .entityRight .entityLocality,
  .searchEntity a{
  	text-transform: none !important;
  	font-family: unset;
  	font-weight:bold;
  }
  .searchEntity .entityRight .entityName{
  	font-size:16px !important;
  }
  .searchEntity .entityRight .entityLocality{
  	font-size: 12px !important;
	opacity: 0.7;
  }

  .btn-menu-to-app{
  	font-size: 15px;
	padding: 3px;
	padding-top: 14px;
	margin: 0 6px;
  }

  .btn-menu-to-app:hover,
  .btn-menu-to-app.active{
	border-bottom: 2px solid #e43636;
  }


#main-search-bar-addon{
    cursor: pointer;
}

.btn-menu-notif .notifications-count{
	margin-top: -15px;
	margin-left: -7px;
	background-color: #34a853;
}
.btn-menu-notif{
	margin-right: 7px;
}
  
.form-group.priceprice input#price{
	width: 70%!important;
	display: inline-block;
}
.form-group.priceprice select#devise{
	width: 28%;
	height:30px;
	margin-left: 5px;
	display: inline-block;
}


.searchEntity .bg-dark {
    color: white !important;
    background-color: #3C5665 !important;
}
.searchEntity .bg-red{
    background-color:#E33551 !important;
    color:white!important;
}
.searchEntity .bg-blue{
    background-color: #5f8295 !important;
    color:white!important;
}
.searchEntity .bg-green{
    background-color:#93C020 !important;
    color:white!important;
}
.searchEntity .bg-orange{
    background-color:#FFA200 !important;
    color:white!important;
}
.searchEntity .bg-yellow{
    background-color:#FFC600 !important;
    color:white!important;
}
.searchEntity .bg-turq{
    background-color: #229296 !important;
    color:white!important;
}
.searchEntity .bg-purple{
    background-color:#8C5AA1 !important;
    color:white!important;
}
.dropdown-submenu{
	position:relative;
}
.dropdown-submenu>.dropdown-menu{
	top: 0;
	right: 100%;
	max-width: 180px;
	margin-top: -6px;
	margin-right: 1px;
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
	display:none;
}
.dropdown-submenu .dropdown-menu a img{
width: 18px;
margin-right: 5px;
}
.dropdown-submenu:hover>.dropdown-menu{
	display: block;
}
.dropdown-submenu.pull-left{
	float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu{
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 6px 6px 6px;
	-moz-border-radius:6px 6px 6px 6px;
	border-radius:6px 6px 6px 6px;
}
.dropdown-menu-right {
	margin-left:0;
}

.dropdown-menu-right {
    right:inherit !important;
    left: auto;
}

.btn-select-filliaire{
	border-color: transparent;
	text-transform: uppercase;
	background-color: #F2F2F2;
	margin-bottom: 5px;
	border-radius: 10px;
}
.btn-select-filliaire:hover {
    background-color: #DADADA;
    border: 1px solid transparent;
}

#sub-menu-filliaire{
	/*background-image: url("../../img/background-onepage/pattern/white_brick_wall.png");*/
	margin-bottom: 25px;
	border-bottom: 1px solid #ededed;
	padding: 30px;
	padding-top: 0px;

}

.searchEntityContainer.media{
	margin-top:0px;
}
#modalLogin{
	top:0px !important;
	margin-left: 0px !important;
}
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/


@media screen and (max-width: 1024px) {
	.menu-name-profil small{
	    max-width: 45px;
	}


	
}

@media screen and (max-width: 992px) {
    .name .pastille{
        margin-top: -25px;
        max-width: 73%;
        font-size: 0.4em;
    }
} 

@media (max-width: 767px) {


	.navbar-header .logo-menutop{
		margin: 8px 0px 0 0px !important;
	}

	.navbar-map .navbar-header .logo-menutop{
		margin: 8px 0px 0 -10px;
	}

	.sigModuleBg .btn-group-map.tools-btn{
		margin-right:15px;
	}

	.navbar-custom.affix .navbar-brand{
		padding:0px;
	}

    
	header .intro-text .name, 
	.header .intro-text .name, 
	.portfolio-modal.modal .name {
	    font-size: 4em;
		letter-spacing: 0px;
		margin-top: -15px;
		margin-bottom: 5px;
	}
	.portfolio-modal.modal .name {
	    font-size: 2em;
		letter-spacing: 6px;
		margin-top: -20px;
		margin-bottom: 30px;
	}

	header .intro-text .name .letter, 
	.header .intro-text .name .letter, 
	.portfolio-modal.modal .name .letter{
		margin-right: -20px!important;
	}
	.portfolio-modal .modal-content h2{
		font-size:4em;
	}
	#sectionSearchResults{
		/*margin-left: 15px!important;*/
	}
	/*.name .pastille{
		margin-top:-40px;
		max-width: 82%;
		font-size: 0.4em;
	}*/

	header .logo-menutop{
		margin-bottom: 0px;
		height:50px!important;
	}
	.name img{
		max-height:40px;
	}

	.links-main-menu {
		font-size:0.4em;
	}
	.links-main-menu a{
		text-decoration: none!important;
	}

	.portfolio-modal .close-modal .lr,
	.portfolio-modal .close-modal .lr .rl{
		height:50px;
	}
	.portfolio-modal .close-modal {
	    width: 55px;
	    height: 50px;
	}
	#main-search-bar {
	    font-size: 14px;
	}

	.portfolio-link h3 {
	    font-size: 13px;
	}
	.portfolio-link .fa-3x {
    	font-size: 2em;
	}

	#mainCategories h2{
		font-size: 1.4em;
	}
	.menu-name-profil{
		padding:8px 0 0 0;
	}
	.navbar-custom .btn-show-mainmenu{
		margin-left:0px;
	}

	.menu-name-profil{
		margin-right: 10px;
	}
	.main-menu-app {
	    margin-bottom: 35px !important;
		/*margin-top: 15px !important;*/
	}

	.dropdown-main-menu{
		right: 70px;
	}
	.navbar-nav #dropdown-user.open .dropdown-menu{
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3) !important;
		background-color: white !important;
		display: block;
	}

	.scopes .btn-directory-type{

	}

	header .container, 
	.header .container{
		padding-bottom: 30px;
	}

	section{
		padding:25px 0 0 0;
	}

	#sub-menu-left{
        margin-top:10px;
        text-align: left;
    }

    .col-footer a{
    	padding:10px;
    }
}