.timeline-container, .timeline-container * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.timeline-container {
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.timeliner {
    width: 80%;
    height: auto;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.timeliner>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeliner>ul>li {
    padding: 20px;
    background-color: #c9c9c9;
    color: black;
    border-radius: 10px;
    margin-bottom: 60px;
    position: relative;
}

.timeliner>ul>li:last-child {
    margin-bottom: 0;
}

.vertical-timeline-content h1 {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
}

.vertical-timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}

.vertical-timeline-content .date {
    position: absolute;
    color: #4c4c4c;
    top: -55px;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.ending-event {
    display: none;
}

.tv-empty-message {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

@media only screen and (min-width: 1290px) {
    .timeliner:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: gray;
    }

    .timeliner>ul>li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
    }

    .timeliner>ul>li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0px 20px 20px;
    }

    .timeliner>ul>li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0px 20px 20px 20px;
    }

    .timeliner>ul>li::before {
        content: ' ';
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: gray;
        top: 0px;
    }

    .timeliner>ul>li:nth-child(odd)::before {
        transform: translate(50%, -50%);
        right: -30px;
    }

    .timeliner>ul>li:nth-child(even)::before {
        transform: translate(-50%, -50%);
        left: -30px;
    }

    .timeliner>ul>li:hover::before {
        background-color: #7da53d;
    }

    .vertical-timeline-content>div a {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        max-width: 100%;
    }

    .ending-event {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: gray;
        color: white;
        border: none;
        outline: none;
    }
}