

/* ************************************************************** */
/* ****************** NEW DESIGN PAGE LOGIN ********************* */
/* ************************************************************** */
  .main-login fieldset{
    padding: 10px !important;
    padding-top:0px;
    padding-left:30px;
    background-color: white;
    border-radius:15px;
  }

.topLogoAnim{
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  z-index: 10;
  top: 110px !important;
  /*right: 14%;*/
  width: 400px;
  padding-left: 10px;
}
.topLogoAnim .homestead{
  font-size:31px !important;
  font-weight: 100 !important;
}
.box-login, .box-register, .box-email{
  position: absolute; !important;
  top: 0px !important;
  left: 0px !important;
  right: unset !important;
  margin:inherit;
  width: 100%;
  padding:0px !important;
  -moz-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.35);
  -webkit-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.35);
  -o-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.35);
  box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.35);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);

  /*
  -moz-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  -webkit-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  -o-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
  */
}
.box-register{
  width:530px;
}
.titleWhite, .subTitle{
  color:#3C5665 !important;
}
.subTitle{
  font-weight: 300;
  font-size: 15px;
  margin-top: -7px !important;
}
.byPHRight{
  height: 39px;
  left: 300px;
  top: 20px;
  z-index: 2000;
  position: absolute;
}
.byPHRight img{
  height: 39px;
}
.box-white-round{
  border-radius: 15px !important;
}
input.form-control{
  text-align: center;
  border-radius: 6px !important;
  padding:10px;
  height:40px !important;
  font-size:16px;
  border-color:#CECECE;
}

.box-login span.input-icon i.fa{
  display: none;
}
.box-register span.input-icon i.fa{
  padding-top:3px;
}
label.checkbox-inline{
  font-size:12px !important;
}
.form-actions{
  padding-top:0px !important;
}

.loginBtn{
  /*margin-top:-25px;*/
}

.btn.register, a.btn.go-back{
  width:100%;
  margin-top: -1px;
  border-radius: 0px;
  border-color: transparent;
  padding: 7px;
  font-size: 14px;
  border-top: 1px solid rgb(209, 209, 209);
  background-color: white;
}
.btn.register:hover, a.go-back:hover{
  background-color: #D3DDE1;
}
.new-account {
  border:0px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.big-button-container{
  position: fixed;
  top:45px;
  left:40px;
  width: 300px;
}
.big-button{
  position:absolute;
  top:85px;
  left:0px;
  z-index: 100;
}
.big-button.btn-1{
  top: 20px;
  left: 14px;
}
.big-button.btn2{
  top:170px;
}
.big-button.btn3{
  top:240px;
}
.big-button.btn4{
  top:310px;
}
.big-button.btn5{
  top:380px;
}
.big-button.btn6{
  top:450px;
}
.big-button.btn7{
  top:520px;
}
.big-button.btn-corner-top-right{
  position:fixed;
  top:0px;
  right:0px;
  left:unset;
}

.big-button img, .big-button i{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 10px;
  font-size:39px;
  text-align:center;
  color:#3C5665;
  background-color: #FFF;
  -moz-box-shadow: 0px 0px 5px 5px rgba(41, 41, 41, 0.56);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(41, 41, 41, 0.56);
  -o-box-shadow: 0px 0px 5px 5px rgba(41, 41, 41, 0.56);
  box-shadow: 0px 0px 5px 5px rgba(41, 41, 41, 0.56);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}
.big-button.btn-1 i{
  height: 34px;
  width: 34px;
  border-radius: 50%;
  padding: 5px;
  font-size: 23px;
}
.big-button.btn-corner-top-right i{
  border-radius:0px 0px 0px 30% !important;
  font-size: 19px;
  padding-top: 10px;
  height: 45px;
  width: 45px;
}

.big-button img:hover, .big-button i:hover{
  -moz-box-shadow: 0px 0px 5px 5px rgba(54, 210, 94, 0.6);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(54, 210, 94, 0.6);
  -o-box-shadow: 0px 0px 5px 5px rgba(54, 210, 94, 0.6);
  box-shadow: 0px 0px 5px 5px rgba(54, 210, 94, 0.6);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}
.big-button.btn2:hover, .big-button.btn3:hover{
  background-color: transparent !important;
}

.main-title-public{
  display: none;
  position: fixed;
  left: 125px;
  background-color: rgba(255, 255, 255, 0.91);
  padding: 10px 40px;
  z-index: 100;
  border-radius: 50px;
  -moz-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  -webkit-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  -o-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}
#main-title-public1{
  font-size: 20px;
  top: -20px;
  border-radius: 0px 0px 10px 10px;
}
#main-title-public2{
  font-size: 35px;
  top: 35px;
  color: #E33551 !important;
  padding: 7px 30px;
  padding-left: 60px;
  left: 43px;
}
#main-title-public2 a{
  color:#E33551 !important;
}
#main-title-public2 a:hover{
  color:rgba(227, 53, 81, 0.74) !important;
}


.box-discover{
  position: absolute;
  top: 130px;
  left: 530px;
  display: block;
}

.box-discover .box{
  padding: 30px;
  background-color: rgba(35, 35, 35, 0.9);
  border-radius: 10px;
  padding-bottom: 90px;
  max-width: 500px;
  -moz-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  -webkit-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  -o-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}

.box-discover .box .nextBtns {
    color: #E33551;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2.5em;
    margin-top: 40px;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    width:100%;
    position: absolute;
    bottom:0px;
    left:0px;
    text-align: right;
}
.box-discover .box .nextBtns:hover {
  /*color: #FFF;*/
    background-color: rgba(0, 0, 0, 0.2);
    
}
body.login .box h1{
  color:#E33551;
  font-size:40px;
}
.box-discover .box h1 {
  color:#E33551;
    font-weight: 100;
    font-family: "homestead";
    font-size: 40px;
}

.box-discover .box section {
    color: #FFF !important;
    font-size: 22px !important;
    font-weight: 300 !important;
}
.box.box-menu{
  display:hidden;
  position: absolute !important;
  left: 160px !important;
  top: 80px !important;
  background-color: transparent;
}
.box.box-menu ul{
  list-style: outside none none;
  font-size: 3.1em;
  margin-top: 50px;
  border-radius: 20px !important;
  overflow: hidden;
  padding-left: 0px;
  -moz-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  -webkit-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  -o-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}
.box.box-menu ul li{
  font-size: 0.7em !important;
  font-weight: 100 !important;
  font-family: "homestead";
  padding: 2px 10px;
  background-color: rgba(230, 230, 230, 0.92);
  color: #3C5665;
  border-bottom: 1px solid rgba(45, 99, 117, 0.35);
  margin-left: 0px !important;
}
.box.box-menu ul li a i.fa{
  text-align: center;
  width: 35px;
}
.box.box-menu ul li a{
  color:#3C5665;
  width:100%;
  display: block;
}
.box.box-menu ul li:hover{
  color: #608092 !important;
}
.box.box-menu ul li a:hover{
  color: inherit;
}

.box.box-menu-elements li a{
  color:white !important;
}
.box.box-menu-elements li a:hover{
  color:white !important;
}
.box.box-menu ul li{
  padding: 5px 25px 5px 15px;
  color:white !important;
  -moz-box-shadow: 0px 2px 5px 5px rgba(24, 24, 24, 0.5);
  -webkit-box-shadow: 0px 2px 5px 5px rgba(24, 24, 24, 0.5);
  -o-box-shadow: 0px 2px 5px 5px rgba(24, 24, 24, 0.5);
  box-shadow: 0px 2px 5px 5px rgba(24, 24, 24, 0.5);
}
.box.box-menu ul li:hover{
  color:rgba(207, 1, 1, 0.62) !important;
  -moz-box-shadow: 0px 2px 5px 4px rgba(207, 1, 1, 0.62);
  -webkit-box-shadow: 0px 2px 5px 4px rgba(207, 1, 1, 0.62);
  -o-box-shadow: 0px 2px 5px 4px rgba(207, 1, 1, 0.62);
  box-shadow: 0px 2px 5px 4px rgba(207, 1, 1, 0.62);
}
.box.box-menu-elements ul li:hover{
  color:white !important;
  -moz-box-shadow: 0px 2px 5px 7px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 2px 5px 7px rgba(255, 255, 255, 0.5);
  -o-box-shadow: 0px 2px 5px 7px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 5px 7px rgba(255, 255, 255, 0.5);
}

/*******************************************************************/

.box-ajax{
  top: 115px !important;
  background-color: rgba(255, 255, 255, 0.83) !important;
  -moz-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  -webkit-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  -o-box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  box-shadow: 0px 0px 5px 7px rgba(41, 41, 41, 0.56);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}
  .box-ajaxTools .btn.tooltips{
    margin-right: 1px;
  margin-bottom: -1px;
  font-size: 12px;
  height: 35px;
  transition: all 0.1s ease 0s !important;
  padding: 8px;
  color: #315C6E;
  font-weight: 400;
  border-radius: 30px;
  border-top-width: 0px;
  border-color: transparent;
  }
/*
  .box-ajaxTools .text-right .btn.tooltips{
    border-radius: 0px 10px 0px 10px;
    margin-right: 5px;
  }*/

  .box-ajaxTools .btn.tooltips:hover{
    border-bottom: 0px solid #719FAB !important;
    background-color: rgba(49, 92, 110, 1);
    color:white;
    /*height: 45px;*/
  }
  .box-ajaxTools .btn.tooltips.active{
    border-bottom: 3px solid #337793;
    background-color: #315C6E;
    color:white;
  }
  .box-ajaxTools .btnSpacer{
    margin-right: 0px;
  }
  .box-ajaxTools i.fa{
    min-width: 18px;
    width:auto;
    font-size: 17px;
  }
  /*.box-ajaxTools{
    z-index: 1;
    text-align: center;
    float: left !important;
    width: 100%;
    top: 48px;
    left: 0px;
    padding: 0px 20px 0px 20px;
    margin-bottom:20px;
  }*/

  .box-ajaxTools{
    z-index: 1;
  text-align: center;
  float: left !important;
  width: 100%;
  margin-top: -10px;
  max-height: 45px;
  left: -1px;
  margin-bottom: 20px;
  }

  .searchBarForm{
    left: -10px !important;
  background-color: rgba(255, 255, 255, 0.86) !important;
  height: 80px;
  border-radius: 50px !important;
  width: 400px;
  position: absolute;
  top: 75px !important;
  display: none;
  }

  #searchBar{
    background-color: transparent !important;
  border: 10px solid #FFF !important;
  height: 80px;
  border-radius: 50px !important;
  padding-left: 90px;
  font-size: 21px;
  left: 0px;
  right: unset;
  width: 400px;
  }

  #dropdown_searchTop{
    margin-left: 65px;
  width: 700px;
  background-color: transparent;
  box-shadow: none;
  border: medium none;
  max-height: 320px;
  overflow-y: hidden;
  padding-right: 20px;
  margin-top: -4px;
  padding-left: 30px;
  }

  #dropdown_searchTop .li-dropdown-scope ol {
    padding: 5px 25px 5px 15px !important;
    color: #155869;
    border-radius: 30px;
    background-color: #FFF;
    margin-top: 3px;
    float: left;
    margin-right: 5px;
  }

  #dropdown_searchTop .li-dropdown-scope ol img.img-circle {
    margin-left: -10px;
  }
  #dropdown_searchTop .li-dropdown-scope ol i.fa {
   margin-left: -10px;
   background-color: #155869;
   color:white;
   border-radius: 30px;
  vertical-align: middle;
  margin-top: 0px;
  font-size: 23px;
  padding: 13px 12px;
  margin-right: 6px;
  width: 50px;
  height: 50px;
  text-align: center;
  }

  #dropdown_searchTop .li-dropdown-scope ol .lbl-info-search {
    height: 35px;
    float: left;
    margin-top: 7px;
}

  .searchEntry i.fa {
    border-radius: 30px;
    padding: 5px 6px;
    vertical-align: middle;
    margin-top: -5px;
    font-size: 25px;
  }

  .bgcity {
  background-attachment: fixed;
  }

  .markerLabels{
    font-size: 25px;
    display: none;
    background-color: rgba(39, 39, 39, 0.63);
    padding: 4px 15px;
    border-radius: 30px;
  }




@media screen and (max-width: 1024px) {  
  .box-register {
      width: 100% !important;
      margin-left: 0% !important;
      margin-right: auto !important;
      right: unset !important;
  }
}



@media screen and (max-width: 767px) {
  .box-login{
    width:100% !important;
  }
} 



