
.blockUI.blockMsg.blockPage i.fa{
	position: relative;
	left: unset;
	top: unset;
	margin-left: unset;
}


header, .header {
  background-image: url("../../img/background-onepage/pattern/witewall_3.png");
}

.link-submenu-header{
	font-size: 18px;
	font-family: BlackoutM;
}

.main-menu-app {
    margin-bottom: 0px;
    margin-top: 35px;
}


.form-in-map #newElement_country{
	display: none;
}




@media (max-width: 768px) {

    .navbar-header{
        padding: 2px 10px;
    }

}