.logo-menutop{
	margin:8px 0 0 -5px !important;
}

.navbar-map{
	background: #FFF !important;
}

#input-search-map, #menu-map-btn-start-search{
	background-color:#6AA5C2;
}
#input-search-map::placeholder{
	color:white;
}

/* boutton show map on top right corner*/
.navbar-custom .btn-show-map{
	background-color: #4084A5;
}
.navbar-custom .btn-show-map:hover {
    background-color: transparent;
    color: #4084A5;
    border: 2px solid #4084A5;
}

/* MODAL */
.modal.portfolio-modal .modal-content{
	top: 5%;
	right: 20%;
	/*bottom: 10%;*/
	left: 20%;
	border-radius: 10px;
	position: absolute;
	min-height: 100px;
	padding: 20px;
}
.modal.portfolio-modal{
	background-color:rgba(0,0,0,0.7);
}
/* MODAL */

#mainNav .dropdown-result-global-search {
    top: 67px;
    right: 0;
    left: unset;
}

.navbar-custom.affix-top .menu-btn-start-search,
input#second-search-bar{
	display: block !important;
	height: 30px;
	height:inherit !important;
}
.navbar-nav li > a{
	position: inherit;
	display: inline-block;
    display: -webkit-inline-box;
    padding: 5px;
    text-transform: initial;
}
.menu-btn-start-search{
	height:30px;
	border:none !important;
}
.progressTop::-webkit-progress-value
{
    background-color: #EF5B34;
}
.progressTop::-moz-progress-bar{  
    background-color: #EF5B34;
}
header, .header {
    background-image: url("../../../img/reunion/reunion6.jpg");
    background-position: 0 -100px;
    background-size: 100%;
}

#main-scope-name .menu-btn-back-category img{
	height:120px;
}


.btn-select-filliaire{
}

.navbar-collapse button, .navbar-nav button{
	border: none !important;
}


.navbar-custom .btn-show-mainmenu {
    float: unset !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
}
.carousel-home{
	margin-bottom: 30px;
}

.carousel-home .carousel-indicators{
	bottom:-30px;
}

.carousel-home .carousel-indicators > li{
	width: 50px;
    height: 9px;
    border-radius: 1px;
    margin: 0;
    background-color: lightgray;
}
.carousel-home .carousel-indicators > li.active{
	background-color: #EF5B34;	
}
#presentation-home .content-img{
	height: 250px;
    overflow: hidden;
}
#presentation-home-slogan h3{
	font-size: 16px;
	}
#presentation-home-slogan .title{
	position: absolute;
    top: 10px;
    left: 30px;
}
#presentation-home-slogan div{
	position: absolute;
    bottom: 20px;
    background-color: rgba(250,250,250,0.5);
    left: 30px;
    border-radius: 3px;
}
#ccouer-home{
	background:no-repeat;
	background-size: 100% auto;
	min-height: 500px;
}
#ccouer-home .entity{
	background-color: white;
	border-radius: 2px;
}
#ccouer-home .entity .content-desc{
	margin-bottom: 10px;
	height: 150px;
}
#ccouer-home .entity .content-desc > h4{
	font-size: 16px;
}
#ccouer-home .entity .content-desc > p{
	font-size: 14px;
}
#ccouer-home img{
	height: 160px;
	width:  100%;
}
@media screen and (max-width: 1024px) {
	
}

@media screen and (max-width: 992px) {
    
	/* MODAL */
	.modal.portfolio-modal .modal-content{
		top: 5%;
		right: 5%;
		/*bottom: 10%;*/
		left: 5%;
		border-radius: 10px;
		position: absolute;
		min-height: 100px;
		padding: 10px;
	}
	.modal.portfolio-modal{
		background-color:rgba(0,0,0,0.7);
	}
	/* MODAL */
} 

@media (max-width: 767px) {

	/* MODAL */
	.modal.portfolio-modal .modal-content{
		top: 5%;
		right: 5%;
		/*bottom: 10%;*/
		left: 5%;
		border-radius: 10px;
		position: absolute;
		min-height: 100px;
		padding: 10px;
	}
	.modal.portfolio-modal{
		background-color:rgba(0,0,0,0.7);
	}
	/* MODAL */

}