/* additional Settings */

$top-navbar-height: 60px;
$top-navbar-width: 60px;

$left-navbar-width: 59px;
$left-navbar-item-height: $top-navbar-height;
$left-navbar-hover-item-width: 307px;

$page_navigation-width: 248px;

/* additional Colour Settings */

/* Grey */
$grey01: #bfc0c4;
$lightGrey01: $grey01;
$darkGrey01: #939599;

/* Orange */
$orange01: #ffc704;
$lightOrange01: $orange01;
$darkOrange01: #f39c12;

/* Purple */
$purple01: #be90d4;
$lightPurple01: $purple01;
$darkPurple01: #9c7ba5;

/* Pink */
$pink01: #e5324b;
$lightPink01: #fa4560;
$darkPink01: #c32c40;

/* Azure */
$azure01: #12b8ec;
$lightAzure01: $azure01;
$darkAzure01: #1b9dc8;

/* Green */
$green01: #94c01b;
$lightGreen01: #bada61;
$darkGreen01: #80a41c;

/* Blue */
$blue01: #53738a;
$lightBlue01: #5d809a;
$darkBlue01: #466073;
$darkBlue02: #435c6e;

/* Yellow */
$yellow01: #f5e100;
$lightYellow01: $yellow01;
$darkYellow01: #f5c400;
$yellow02: #f6e200;

/* Dark */
$dark01: #2a3945;
$lightDark01: #31404d;
$darkDark01: #1c262e;