	.dropdown.open #dropdown-multi-tag,
	.dropdown.open #dropdown-multi-scope{
		display: inline !important;
	}

	#dropdown-multi-tag, 
	#dropdown-multi-scope{
		position: fixed!important;
		top: 46px!important;
		right: 0px!important;
		left:unset!important;

	    z-index: 1000;
	    display: none;
	    float: left;
	    padding: 5px 0;
	    margin: 2px 0 0;
	    font-size: 14px;
	    text-align: left;
	    list-style: none;
	    background-color: #fff;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    border: 1px solid #ccc;
	    border: 1px solid rgba(0,0,0,.15);
	    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    box-shadow: 0 6px 12px rgba(0,0,0,.175);

	    width: 570px;
		min-width: 570px;
		max-width: 570px;
		margin-top: 4px;
		border-radius: 0px 0px 4px 4px;

		overflow-y: auto;
		bottom: 0px;
	}
	
	
	#dropdown-multi-tag input.form-control,
	#dropdown-multi-scope input.form-control {
	    text-align: left;
	    border-radius: 0px !important;
	    padding: 5px;
	    height: 34px !important;
	}

	#dropdown-multi-tag .item-tag-input,
	#dropdown-multi-tag .item-tag-suggest,
	#dropdown-multi-scope .item-scope-input,
	#modalScopes .item-scope-input{
		padding:6px;
		border-radius:20px;
		display: inline-block;
		margin-right: 3px;
		margin-top: 3px;
		cursor:pointer;
	}
	#dropdown-multi-tag .item-tag-suggest{
		padding:6px 10px 6px 6px;
	}

	#dropdown-multi-tag .item-tag-input .item-tag-checker:hover,
	#dropdown-multi-tag .item-tag-input .item-tag-deleter:hover,
	#dropdown-multi-scope .item-scope-input .item-scope-checker:hover,
	#dropdown-multi-scope .item-scope-input .item-scope-deleter:hover,
	#dropdown-multi-tag .item-tag-suggest .item-tag-adder:hover,
	#modalScopes .item-scope-input .item-scope-deleter:hover{
		color:#ffa9a9;
	}

	#dropdown-multi-tag .item-tag-input .item-tag-name,
	#dropdown-multi-scope .item-scope-input .item-scope-name,
	#modalScopes .item-scope-input .item-scope-name{
	    padding-left: 5px;
	    padding-right: 5px;
	}

	#dropdown-multi-tag .item-tag-input a,
	#dropdown-multi-tag .item-tag-suggest a,
	#dropdown-multi-scope .item-scope-input a,
	#modalScopes .item-scope-input a{
	    color:white;
	}

	#btn-modal-multi-scope, #btn-modal-multi-tag{
		border-radius: 30px;
		border: 0px none;
		padding: 8px;
		width: 35px;
		height: 35px;
		margin-top: 0px;
		font-size: 15px;
		margin-right: 2px;
		background-color: white;
	}
	#btn-modal-multi-scope:hover, #btn-modal-multi-tag:hover{
		background-color: #ddd;
	}

	#btn-modal-multi-tag{
		margin-left:10px;
	}
	#btn-modal-multi-scope{
		margin-right:15px;
	}

	#dropdown-multi-scope .input-group-addon, 
	#dropdown-multi-tag .input-group-addon,
	#modalScopes .input-group-addon{
		background-color: rgba(192, 192, 192, 0.42) !important;
	    border-radius: 4px 0px 0px 4px !important;
	    color: #555 !important;
	    height: 34px;
	    border: 1px solid rgba(128, 128, 128, 0) !important;
	}

	#dropdown-multi-scope .item-scope-input.bg-red.disabled,
	#dropdown-multi-tag .item-tag-suggest.bg-red.disabled,
	#dropdown-multi-tag .item-tag-input.bg-red.disabled,
	#modalScopes .item-scope-input.bg-red.disabled{
		background-color:#DBBCC1 !important;
	}

	#dropdown-multi-tag .item-tag-suggest.bg-red.disabled:hover,
	#modalScopes .item-scope-suggest.bg-red.disabled:hover
	{
		background-color: #E16277 !important;
		cursor:pointer;
	}
	.scope-min-header {
    	float: left;
    	margin-left: 20px;
    	line-height: 41px;
	}
	.multi-scopes-target{
		margin:0px;
	}
	.item-scope-checker,
	.item-tag-checker{
		cursor:pointer;
		font-weight: 600 !important;
	}
	.main-btn-scopes {
	    margin-top: 3px;
	    z-index: 10;
	    border-radius: 25px;
	    padding: 3px;
	    border: 3px solid transparent!important;
	    -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
	    -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.5);
	    box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.5);
	}
	.main-btn-scopes:hover{
	    background-color: white!important;
	    color:#ea4335!important;
	    border: 3px solid #ea4335!important;

	}
	.main-btn-scopes img {
		margin:0px !important;
	}

	
	.list_tags_scopes span.text-red.disabled,
	#list_tags_scopes span.text-red.disabled,
	#scopeListContainer span.text-red.disabled,
	.scopes-container .scope-order.disabled span{
	    color:#DBBCC1 !important;
	    font-weight:300 !important;
	}

	.list_tags_scopes span.text-red.disabled:hover,
	#list_tags_scopes span.text-red.disabled:hover,
	#scopeListContainer span.text-red.disabled:hover,
	.scopes-container .scope-order.disabled:hover span,
	{
		color:#E33551 !important;
	}
	.scopes-container .scope-order.disabled .manageMultiscopes.active{
    	color: #ffe28d !important;
    	text-shadow: 1px 0 0 #DBBCC1, -1px 0 0 #DBBCC1, 0 1px 0 #DBBCC1, 0 0px 0 #DBBCC1, 0px 0px #DBBCC1, 0px 0px 0 #DBBCC1, 0px -1px 0 #DBBCC1, -1px 1px 0 #DBBCC1;
	}
	.scopes-container .scope-order .manageMultiscopes.active{
		color:#FFC600 !important;
		text-shadow: 1px 0 0 #e6344d, -1px 0 0 #e6344d, 0 1px 0 #e6344d, 0 0px 0 #e6344d, 0px 0px #e6344d, 0px 0px 0 #e6344d, 0px -1px 0 #e6344d, -1px 1px 0 #e6344d;
	}
	.scopes-container .scope-order, #content-added-scopes-container .scope-order{
		float: left;
		display: inline-block;
	}
	#news-scopes-container, #content-added-scopes-container{
		background-color: white;
	    border-bottom: 1px solid #E6E8E8;
	    min-height: 30px;
	    padding: 5px 10px;
	}
	#dropdown-multi-scope-found{
		max-height:250px;
		overflow: auto;
	}
	#scopes-news-form label{
		color: rgba(22, 53, 66, 0.7) !important;
    	font-weight: inherit;
	}
	#searchOnCityNews{
		padding: 5px;
	    line-height: 25px;
	    box-shadow: inherit; 
	    height: 30px;
		border-radius: 4px;
		border: 1px solid #dbd7d7;
	}
	#searchOnCityNews:focus{
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	}
	#searchOnCityNews:focus #scopes-news-form .addon-form-news{
		color: #ea4335 !important;
	}
	#multiscopes-news-btn:hover, #communexion-news-btn:hover{
		color:#E33551 !important;
		text-decoration: none;
	}
	#multiscopes-news-btn.active, #communexion-news-btn.active{
		border-bottom: 2px solid #ea4335;
    	color: #ea4335 !important;
    	padding: 7px 5px;
    	text-decoration: none;
	}
	#scopes-news-form .addon-form-news{
		border: none;
    	background-color: transparent !important;
   	 	padding: 5px;
	}
	#toogle-tags-selected, #toogle-scopes-selected {
	    background-color: #dadada !important;
	}
	.tagOnly .list-select-scopes{
		display: none;
	}
	.visible-empty{
		display: none;
	}
	.visible-empty blockquote{
		font-size:15px;
	}
	.msg-scope-co{
		font-size:14px;
	}
	@media screen and (max-width: 767px) {
		#dropdown-multi-tag .modal-dialog,
		#dropdown-multi-scope .modal-dialog{
			width: 100% !important;
			min-width: 100% !important;
			max-width: 100% !important;	
		}
		#dropdown-multi-tag, 
		#dropdown-multi-scope{
			left: 0px;
			right: 0px;
			position: fixed;
			min-width: 100% !important;
			width: 100% !important;
			max-width: 100% !important;
			max-height: 85%;
			min-height: 85%;
		}
		#btn-modal-multi-tag{
			margin-left:0px;
		}
		#btn-modal-multi-scope{
			margin-right:5px;
		}
		.item-scope-input{
			cursor: pointer;
		}
	}


	/* multitags */
	
.tags-count{
	right: 0px;
    position: absolute;
    top: -1px;
}	