/* ---------------------------------------------------------------------- */
/*  additional Buttons
/* ---------------------------------------------------------------------- */


.btn {
    .del {
        float: right;

        font-size: .8em;
        padding: .67em;
        margin-top: -.67em;
        margin-right: -.67em;

        color: inherit;
    }
}

.btn-md {
    font-size: 15px;
    line-height: 1.5;
    border-radius: 10px;

    i {
        margin-right: .4em;
    }
}


/* additional types */

.btn-tag {
    color: #f4f5f6;
    background: $blue01;
    border-color: $blue01;

    &:hover,
    &:focus {
        color: #fff;
    }
}

span.btn-tag {
    cursor: auto;
}