.co-emoji-container{
    position: absolute;
    transform: translateY(40px);
    transition: .4s;
    opacity: 0;
    visibility: hidden;
    width: 362px;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    z-index: 99999;
}

.co-emoji-container.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.co-emoji-content{
    position: relative;
    padding: 10px;
    border-radius: 4px;
}

.co-emoji-body{
    max-height: 200px;
    overflow-y: auto;
    padding: 10px 0px;
    overflow-x: hidden;
}

.co-emoji-category{
    margin: 10px 0px;
    font-weight: bold;
}

.co-emoji-container ul{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-flow: wrap;
}

.co-emoji-body ul li{
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    transition: .3s;
    padding: 5px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.co-emoji-body ul li:hover{
    background-color: rgb(231, 231, 231);
}
.co-emoji-body ul li:hover > span{
    animation: 1s ease 0s normal none infinite running zoomInOut;
}

@keyframes zoomInOut{
    50% {
        transform:scale(1.4) rotate(15deg);
    }
}

.co-emoji-header{
    border-bottom: 1px solid #f1f2f1;
}

.co-emoji-header ul{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.co-emoji-header ul li{
    list-style: none;
    font-size: 20px;
    filter: grayscale(1);
    opacity: .5;
    transition: .3s;
    cursor: pointer;
    padding: 8px 6px;
    border-bottom: 3px solid white;
}

.co-emoji-header ul li:hover, .co-emoji-header ul li.active{
    opacity: 1;
    filter: grayscale(0);
    border-color: #93C020;
}

.co-emoji-body::-webkit-scrollbar {
    width: 8px;
}
.co-emoji-body::-webkit-scrollbar-track {
    background: #f1f2f1; 
}
.co-emoji-body::-webkit-scrollbar-thumb {
    background: #cecfce;
    border-radius: 10px;
}
  
