.bs-m-0 {
  margin: 0 !important;
}
.bs-mt-0,
.bs-my-0 {
  margin-top: 0 !important;
}
.bs-mr-0,
.bs-mx-0 {
  margin-right: 0 !important;
}
.bs-mb-0,
.bs-my-0 {
  margin-bottom: 0 !important;
}
.bs-ml-0,
.bs-mx-0 {
  margin-left: 0 !important;
}
.bs-m-1 {
  margin: 0.25rem !important;
}
.bs-mt-1,
.bs-my-1 {
  margin-top: 0.25rem !important;
}
.bs-mr-1,
.bs-mx-1 {
  margin-right: 0.25rem !important;
}
.bs-mb-1,
.bs-my-1 {
  margin-bottom: 0.25rem !important;
}
.bs-ml-1,
.bs-mx-1 {
  margin-left: 0.25rem !important;
}
.bs-m-2 {
  margin: 0.5rem !important;
}
.bs-mt-2,
.bs-my-2 {
  margin-top: 0.5rem !important;
}
.bs-mr-2,
.bs-mx-2 {
  margin-right: 0.5rem !important;
}
.bs-mb-2,
.bs-my-2 {
  margin-bottom: 0.5rem !important;
}
.bs-ml-2,
.bs-mx-2 {
  margin-left: 0.5rem !important;
}
.bs-m-3 {
  margin: 1rem !important;
}
.bs-mt-3,
.bs-my-3 {
  margin-top: 1rem !important;
}
.bs-mr-3,
.bs-mx-3 {
  margin-right: 1rem !important;
}
.bs-mb-3,
.bs-my-3 {
  margin-bottom: 1rem !important;
}
.bs-ml-3,
.bs-mx-3 {
  margin-left: 1rem !important;
}
.bs-m-4 {
  margin: 1.5rem !important;
}
.bs-mt-4,
.bs-my-4 {
  margin-top: 1.5rem !important;
}
.bs-mr-4,
.bs-mx-4 {
  margin-right: 1.5rem !important;
}
.bs-mb-4,
.bs-my-4 {
  margin-bottom: 1.5rem !important;
}
.bs-ml-4,
.bs-mx-4 {
  margin-left: 1.5rem !important;
}
.bs-m-5 {
  margin: 3rem !important;
}
.bs-mt-5,
.bs-my-5 {
  margin-top: 3rem !important;
}
.bs-mr-5,
.bs-mx-5 {
  margin-right: 3rem !important;
}
.bs-mb-5,
.bs-my-5 {
  margin-bottom: 3rem !important;
}
.bs-ml-5,
.bs-mx-5 {
  margin-left: 3rem !important;
}
.bs-p-0 {
  padding: 0 !important;
}
.bs-pt-0,
.bs-py-0 {
  padding-top: 0 !important;
}
.bs-pr-0,
.bs-px-0 {
  padding-right: 0 !important;
}
.bs-pb-0,
.bs-py-0 {
  padding-bottom: 0 !important;
}
.bs-pl-0,
.bs-px-0 {
  padding-left: 0 !important;
}
.bs-p-1 {
  padding: 0.25rem !important;
}
.bs-pt-1,
.bs-py-1 {
  padding-top: 0.25rem !important;
}
.bs-pr-1,
.bs-px-1 {
  padding-right: 0.25rem !important;
}
.bs-pb-1,
.bs-py-1 {
  padding-bottom: 0.25rem !important;
}
.bs-pl-1,
.bs-px-1 {
  padding-left: 0.25rem !important;
}
.bs-p-2 {
  padding: 0.5rem !important;
}
.bs-pt-2,
.bs-py-2 {
  padding-top: 0.5rem !important;
}
.bs-pr-2,
.bs-px-2 {
  padding-right: 0.5rem !important;
}
.bs-pb-2,
.bs-py-2 {
  padding-bottom: 0.5rem !important;
}
.bs-pl-2,
.bs-px-2 {
  padding-left: 0.5rem !important;
}
.bs-p-3 {
  padding: 1rem !important;
}
.bs-pt-3,
.bs-py-3 {
  padding-top: 1rem !important;
}
.bs-pr-3,
.bs-px-3 {
  padding-right: 1rem !important;
}
.bs-pb-3,
.bs-py-3 {
  padding-bottom: 1rem !important;
}
.bs-pl-3,
.bs-px-3 {
  padding-left: 1rem !important;
}
.bs-p-4 {
  padding: 1.5rem !important;
}
.bs-pt-4,
.bs-py-4 {
  padding-top: 1.5rem !important;
}
.bs-pr-4,
.bs-px-4 {
  padding-right: 1.5rem !important;
}
.bs-pb-4,
.bs-py-4 {
  padding-bottom: 1.5rem !important;
}
.bs-pl-4,
.bs-px-4 {
  padding-left: 1.5rem !important;
}
.bs-p-5 {
  padding: 3rem !important;
}
.bs-pt-5,
.bs-py-5 {
  padding-top: 3rem !important;
}
.bs-pr-5,
.bs-px-5 {
  padding-right: 3rem !important;
}
.bs-pb-5,
.bs-py-5 {
  padding-bottom: 3rem !important;
}
.bs-pl-5,
.bs-px-5 {
  padding-left: 3rem !important;
}
.bs-m-n1 {
  margin: -0.25rem !important;
}
.bs-mt-n1,
.bs-my-n1 {
  margin-top: -0.25rem !important;
}
.bs-mr-n1,
.bs-mx-n1 {
  margin-right: -0.25rem !important;
}
.bs-mb-n1,
.bs-my-n1 {
  margin-bottom: -0.25rem !important;
}
.bs-ml-n1,
.bs-mx-n1 {
  margin-left: -0.25rem !important;
}
.bs-m-n2 {
  margin: -0.5rem !important;
}
.bs-mt-n2,
.bs-my-n2 {
  margin-top: -0.5rem !important;
}
.bs-mr-n2,
.bs-mx-n2 {
  margin-right: -0.5rem !important;
}
.bs-mb-n2,
.bs-my-n2 {
  margin-bottom: -0.5rem !important;
}
.bs-ml-n2,
.bs-mx-n2 {
  margin-left: -0.5rem !important;
}
.bs-m-n3 {
  margin: -1rem !important;
}
.bs-mt-n3,
.bs-my-n3 {
  margin-top: -1rem !important;
}
.bs-mr-n3,
.bs-mx-n3 {
  margin-right: -1rem !important;
}
.bs-mb-n3,
.bs-my-n3 {
  margin-bottom: -1rem !important;
}
.bs-ml-n3,
.bs-mx-n3 {
  margin-left: -1rem !important;
}
.bs-m-n4 {
  margin: -1.5rem !important;
}
.bs-mt-n4,
.bs-my-n4 {
  margin-top: -1.5rem !important;
}
.bs-mr-n4,
.bs-mx-n4 {
  margin-right: -1.5rem !important;
}
.bs-mb-n4,
.bs-my-n4 {
  margin-bottom: -1.5rem !important;
}
.bs-ml-n4,
.bs-mx-n4 {
  margin-left: -1.5rem !important;
}
.bs-m-n5 {
  margin: -3rem !important;
}
.bs-mt-n5,
.bs-my-n5 {
  margin-top: -3rem !important;
}
.bs-mr-n5,
.bs-mx-n5 {
  margin-right: -3rem !important;
}
.bs-mb-n5,
.bs-my-n5 {
  margin-bottom: -3rem !important;
}
.bs-ml-n5,
.bs-mx-n5 {
  margin-left: -3rem !important;
}
.bs-m-auto {
  margin: auto !important;
}
.bs-mt-auto,
.bs-my-auto {
  margin-top: auto !important;
}
.bs-mr-auto,
.bs-mx-auto {
  margin-right: auto !important;
}
.bs-mb-auto,
.bs-my-auto {
  margin-bottom: auto !important;
}
.bs-ml-auto,
.bs-mx-auto {
  margin-left: auto !important;
}
@media (max-width: 575px) {
  .bs-m-xs-0 {
    margin: 0 !important;
  }
  .bs-mt-xs-0,
  .bs-my-xs-0 {
    margin-top: 0 !important;
  }
  .bs-mr-xs-0,
  .bs-mx-xs-0 {
    margin-right: 0 !important;
  }
  .bs-mb-xs-0,
  .bs-my-xs-0 {
    margin-bottom: 0 !important;
  }
  .bs-ml-xs-0,
  .bs-mx-xs-0 {
    margin-left: 0 !important;
  }
  .bs-m-xs-1 {
    margin: 0.25rem !important;
  }
  .bs-mt-xs-1,
  .bs-my-xs-1 {
    margin-top: 0.25rem !important;
  }
  .bs-mr-xs-1,
  .bs-mx-xs-1 {
    margin-right: 0.25rem !important;
  }
  .bs-mb-xs-1,
  .bs-my-xs-1 {
    margin-bottom: 0.25rem !important;
  }
  .bs-ml-xs-1,
  .bs-mx-xs-1 {
    margin-left: 0.25rem !important;
  }
  .bs-m-xs-2 {
    margin: 0.5rem !important;
  }
  .bs-mt-xs-2,
  .bs-my-xs-2 {
    margin-top: 0.5rem !important;
  }
  .bs-mr-xs-2,
  .bs-mx-xs-2 {
    margin-right: 0.5rem !important;
  }
  .bs-mb-xs-2,
  .bs-my-xs-2 {
    margin-bottom: 0.5rem !important;
  }
  .bs-ml-xs-2,
  .bs-mx-xs-2 {
    margin-left: 0.5rem !important;
  }
  .bs-m-xs-3 {
    margin: 1rem !important;
  }
  .bs-mt-xs-3,
  .bs-my-xs-3 {
    margin-top: 1rem !important;
  }
  .bs-mr-xs-3,
  .bs-mx-xs-3 {
    margin-right: 1rem !important;
  }
  .bs-mb-xs-3,
  .bs-my-xs-3 {
    margin-bottom: 1rem !important;
  }
  .bs-ml-xs-3,
  .bs-mx-xs-3 {
    margin-left: 1rem !important;
  }
  .bs-m-xs-4 {
    margin: 1.5rem !important;
  }
  .bs-mt-xs-4,
  .bs-my-xs-4 {
    margin-top: 1.5rem !important;
  }
  .bs-mr-xs-4,
  .bs-mx-xs-4 {
    margin-right: 1.5rem !important;
  }
  .bs-mb-xs-4,
  .bs-my-xs-4 {
    margin-bottom: 1.5rem !important;
  }
  .bs-ml-xs-4,
  .bs-mx-xs-4 {
    margin-left: 1.5rem !important;
  }
  .bs-m-xs-5 {
    margin: 3rem !important;
  }
  .bs-mt-xs-5,
  .bs-my-xs-5 {
    margin-top: 3rem !important;
  }
  .bs-mr-xs-5,
  .bs-mx-xs-5 {
    margin-right: 3rem !important;
  }
  .bs-mb-xs-5,
  .bs-my-xs-5 {
    margin-bottom: 3rem !important;
  }
  .bs-ml-xs-5,
  .bs-mx-xs-5 {
    margin-left: 3rem !important;
  }
  .bs-p-xs-0 {
    padding: 0 !important;
  }
  .bs-pt-xs-0,
  .bs-py-xs-0 {
    padding-top: 0 !important;
  }
  .bs-pr-xs-0,
  .bs-px-xs-0 {
    padding-right: 0 !important;
  }
  .bs-pb-xs-0,
  .bs-py-xs-0 {
    padding-bottom: 0 !important;
  }
  .bs-pl-xs-0,
  .bs-px-xs-0 {
    padding-left: 0 !important;
  }
  .bs-p-xs-1 {
    padding: 0.25rem !important;
  }
  .bs-pt-xs-1,
  .bs-py-xs-1 {
    padding-top: 0.25rem !important;
  }
  .bs-pr-xs-1,
  .bs-px-xs-1 {
    padding-right: 0.25rem !important;
  }
  .bs-pb-xs-1,
  .bs-py-xs-1 {
    padding-bottom: 0.25rem !important;
  }
  .bs-pl-xs-1,
  .bs-px-xs-1 {
    padding-left: 0.25rem !important;
  }
  .bs-p-xs-2 {
    padding: 0.5rem !important;
  }
  .bs-pt-xs-2,
  .bs-py-xs-2 {
    padding-top: 0.5rem !important;
  }
  .bs-pr-xs-2,
  .bs-px-xs-2 {
    padding-right: 0.5rem !important;
  }
  .bs-pb-xs-2,
  .bs-py-xs-2 {
    padding-bottom: 0.5rem !important;
  }
  .bs-pl-xs-2,
  .bs-px-xs-2 {
    padding-left: 0.5rem !important;
  }
  .bs-p-xs-3 {
    padding: 1rem !important;
  }
  .bs-pt-xs-3,
  .bs-py-xs-3 {
    padding-top: 1rem !important;
  }
  .bs-pr-xs-3,
  .bs-px-xs-3 {
    padding-right: 1rem !important;
  }
  .bs-pb-xs-3,
  .bs-py-xs-3 {
    padding-bottom: 1rem !important;
  }
  .bs-pl-xs-3,
  .bs-px-xs-3 {
    padding-left: 1rem !important;
  }
  .bs-p-xs-4 {
    padding: 1.5rem !important;
  }
  .bs-pt-xs-4,
  .bs-py-xs-4 {
    padding-top: 1.5rem !important;
  }
  .bs-pr-xs-4,
  .bs-px-xs-4 {
    padding-right: 1.5rem !important;
  }
  .bs-pb-xs-4,
  .bs-py-xs-4 {
    padding-bottom: 1.5rem !important;
  }
  .bs-pl-xs-4,
  .bs-px-xs-4 {
    padding-left: 1.5rem !important;
  }
  .bs-p-xs-5 {
    padding: 3rem !important;
  }
  .bs-pt-xs-5,
  .bs-py-xs-5 {
    padding-top: 3rem !important;
  }
  .bs-pr-xs-5,
  .bs-px-xs-5 {
    padding-right: 3rem !important;
  }
  .bs-pb-xs-5,
  .bs-py-xs-5 {
    padding-bottom: 3rem !important;
  }
  .bs-pl-xs-5,
  .bs-px-xs-5 {
    padding-left: 3rem !important;
  }
  .bs-m-xs-n1 {
    margin: -0.25rem !important;
  }
  .bs-mt-xs-n1,
  .bs-my-xs-n1 {
    margin-top: -0.25rem !important;
  }
  .bs-mr-xs-n1,
  .bs-mx-xs-n1 {
    margin-right: -0.25rem !important;
  }
  .bs-mb-xs-n1,
  .bs-my-xs-n1 {
    margin-bottom: -0.25rem !important;
  }
  .bs-ml-xs-n1,
  .bs-mx-xs-n1 {
    margin-left: -0.25rem !important;
  }
  .bs-m-xs-n2 {
    margin: -0.5rem !important;
  }
  .bs-mt-xs-n2,
  .bs-my-xs-n2 {
    margin-top: -0.5rem !important;
  }
  .bs-mr-xs-n2,
  .bs-mx-xs-n2 {
    margin-right: -0.5rem !important;
  }
  .bs-mb-xs-n2,
  .bs-my-xs-n2 {
    margin-bottom: -0.5rem !important;
  }
  .bs-ml-xs-n2,
  .bs-mx-xs-n2 {
    margin-left: -0.5rem !important;
  }
  .bs-m-xs-n3 {
    margin: -1rem !important;
  }
  .bs-mt-xs-n3,
  .bs-my-xs-n3 {
    margin-top: -1rem !important;
  }
  .bs-mr-xs-n3,
  .bs-mx-xs-n3 {
    margin-right: -1rem !important;
  }
  .bs-mb-xs-n3,
  .bs-my-xs-n3 {
    margin-bottom: -1rem !important;
  }
  .bs-ml-xs-n3,
  .bs-mx-xs-n3 {
    margin-left: -1rem !important;
  }
  .bs-m-xs-n4 {
    margin: -1.5rem !important;
  }
  .bs-mt-xs-n4,
  .bs-my-xs-n4 {
    margin-top: -1.5rem !important;
  }
  .bs-mr-xs-n4,
  .bs-mx-xs-n4 {
    margin-right: -1.5rem !important;
  }
  .bs-mb-xs-n4,
  .bs-my-xs-n4 {
    margin-bottom: -1.5rem !important;
  }
  .bs-ml-xs-n4,
  .bs-mx-xs-n4 {
    margin-left: -1.5rem !important;
  }
  .bs-m-xs-n5 {
    margin: -3rem !important;
  }
  .bs-mt-xs-n5,
  .bs-my-xs-n5 {
    margin-top: -3rem !important;
  }
  .bs-mr-xs-n5,
  .bs-mx-xs-n5 {
    margin-right: -3rem !important;
  }
  .bs-mb-xs-n5,
  .bs-my-xs-n5 {
    margin-bottom: -3rem !important;
  }
  .bs-ml-xs-n5,
  .bs-mx-xs-n5 {
    margin-left: -3rem !important;
  }
  .bs-m-xs-auto {
    margin: auto !important;
  }
  .bs-mt-xs-auto,
  .bs-my-xs-auto {
    margin-top: auto !important;
  }
  .bs-mr-xs-auto,
  .bs-mx-xs-auto {
    margin-right: auto !important;
  }
  .bs-mb-xs-auto,
  .bs-my-xs-auto {
    margin-bottom: auto !important;
  }
  .bs-ml-xs-auto,
  .bs-mx-xs-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 576px) {
  .bs-m-sm-0 {
    margin: 0 !important;
  }
  .bs-mt-sm-0,
  .bs-my-sm-0 {
    margin-top: 0 !important;
  }
  .bs-mr-sm-0,
  .bs-mx-sm-0 {
    margin-right: 0 !important;
  }
  .bs-mb-sm-0,
  .bs-my-sm-0 {
    margin-bottom: 0 !important;
  }
  .bs-ml-sm-0,
  .bs-mx-sm-0 {
    margin-left: 0 !important;
  }
  .bs-m-sm-1 {
    margin: 0.25rem !important;
  }
  .bs-mt-sm-1,
  .bs-my-sm-1 {
    margin-top: 0.25rem !important;
  }
  .bs-mr-sm-1,
  .bs-mx-sm-1 {
    margin-right: 0.25rem !important;
  }
  .bs-mb-sm-1,
  .bs-my-sm-1 {
    margin-bottom: 0.25rem !important;
  }
  .bs-ml-sm-1,
  .bs-mx-sm-1 {
    margin-left: 0.25rem !important;
  }
  .bs-m-sm-2 {
    margin: 0.5rem !important;
  }
  .bs-mt-sm-2,
  .bs-my-sm-2 {
    margin-top: 0.5rem !important;
  }
  .bs-mr-sm-2,
  .bs-mx-sm-2 {
    margin-right: 0.5rem !important;
  }
  .bs-mb-sm-2,
  .bs-my-sm-2 {
    margin-bottom: 0.5rem !important;
  }
  .bs-ml-sm-2,
  .bs-mx-sm-2 {
    margin-left: 0.5rem !important;
  }
  .bs-m-sm-3 {
    margin: 1rem !important;
  }
  .bs-mt-sm-3,
  .bs-my-sm-3 {
    margin-top: 1rem !important;
  }
  .bs-mr-sm-3,
  .bs-mx-sm-3 {
    margin-right: 1rem !important;
  }
  .bs-mb-sm-3,
  .bs-my-sm-3 {
    margin-bottom: 1rem !important;
  }
  .bs-ml-sm-3,
  .bs-mx-sm-3 {
    margin-left: 1rem !important;
  }
  .bs-m-sm-4 {
    margin: 1.5rem !important;
  }
  .bs-mt-sm-4,
  .bs-my-sm-4 {
    margin-top: 1.5rem !important;
  }
  .bs-mr-sm-4,
  .bs-mx-sm-4 {
    margin-right: 1.5rem !important;
  }
  .bs-mb-sm-4,
  .bs-my-sm-4 {
    margin-bottom: 1.5rem !important;
  }
  .bs-ml-sm-4,
  .bs-mx-sm-4 {
    margin-left: 1.5rem !important;
  }
  .bs-m-sm-5 {
    margin: 3rem !important;
  }
  .bs-mt-sm-5,
  .bs-my-sm-5 {
    margin-top: 3rem !important;
  }
  .bs-mr-sm-5,
  .bs-mx-sm-5 {
    margin-right: 3rem !important;
  }
  .bs-mb-sm-5,
  .bs-my-sm-5 {
    margin-bottom: 3rem !important;
  }
  .bs-ml-sm-5,
  .bs-mx-sm-5 {
    margin-left: 3rem !important;
  }
  .bs-p-sm-0 {
    padding: 0 !important;
  }
  .bs-pt-sm-0,
  .bs-py-sm-0 {
    padding-top: 0 !important;
  }
  .bs-pr-sm-0,
  .bs-px-sm-0 {
    padding-right: 0 !important;
  }
  .bs-pb-sm-0,
  .bs-py-sm-0 {
    padding-bottom: 0 !important;
  }
  .bs-pl-sm-0,
  .bs-px-sm-0 {
    padding-left: 0 !important;
  }
  .bs-p-sm-1 {
    padding: 0.25rem !important;
  }
  .bs-pt-sm-1,
  .bs-py-sm-1 {
    padding-top: 0.25rem !important;
  }
  .bs-pr-sm-1,
  .bs-px-sm-1 {
    padding-right: 0.25rem !important;
  }
  .bs-pb-sm-1,
  .bs-py-sm-1 {
    padding-bottom: 0.25rem !important;
  }
  .bs-pl-sm-1,
  .bs-px-sm-1 {
    padding-left: 0.25rem !important;
  }
  .bs-p-sm-2 {
    padding: 0.5rem !important;
  }
  .bs-pt-sm-2,
  .bs-py-sm-2 {
    padding-top: 0.5rem !important;
  }
  .bs-pr-sm-2,
  .bs-px-sm-2 {
    padding-right: 0.5rem !important;
  }
  .bs-pb-sm-2,
  .bs-py-sm-2 {
    padding-bottom: 0.5rem !important;
  }
  .bs-pl-sm-2,
  .bs-px-sm-2 {
    padding-left: 0.5rem !important;
  }
  .bs-p-sm-3 {
    padding: 1rem !important;
  }
  .bs-pt-sm-3,
  .bs-py-sm-3 {
    padding-top: 1rem !important;
  }
  .bs-pr-sm-3,
  .bs-px-sm-3 {
    padding-right: 1rem !important;
  }
  .bs-pb-sm-3,
  .bs-py-sm-3 {
    padding-bottom: 1rem !important;
  }
  .bs-pl-sm-3,
  .bs-px-sm-3 {
    padding-left: 1rem !important;
  }
  .bs-p-sm-4 {
    padding: 1.5rem !important;
  }
  .bs-pt-sm-4,
  .bs-py-sm-4 {
    padding-top: 1.5rem !important;
  }
  .bs-pr-sm-4,
  .bs-px-sm-4 {
    padding-right: 1.5rem !important;
  }
  .bs-pb-sm-4,
  .bs-py-sm-4 {
    padding-bottom: 1.5rem !important;
  }
  .bs-pl-sm-4,
  .bs-px-sm-4 {
    padding-left: 1.5rem !important;
  }
  .bs-p-sm-5 {
    padding: 3rem !important;
  }
  .bs-pt-sm-5,
  .bs-py-sm-5 {
    padding-top: 3rem !important;
  }
  .bs-pr-sm-5,
  .bs-px-sm-5 {
    padding-right: 3rem !important;
  }
  .bs-pb-sm-5,
  .bs-py-sm-5 {
    padding-bottom: 3rem !important;
  }
  .bs-pl-sm-5,
  .bs-px-sm-5 {
    padding-left: 3rem !important;
  }
  .bs-m-sm-n1 {
    margin: -0.25rem !important;
  }
  .bs-mt-sm-n1,
  .bs-my-sm-n1 {
    margin-top: -0.25rem !important;
  }
  .bs-mr-sm-n1,
  .bs-mx-sm-n1 {
    margin-right: -0.25rem !important;
  }
  .bs-mb-sm-n1,
  .bs-my-sm-n1 {
    margin-bottom: -0.25rem !important;
  }
  .bs-ml-sm-n1,
  .bs-mx-sm-n1 {
    margin-left: -0.25rem !important;
  }
  .bs-m-sm-n2 {
    margin: -0.5rem !important;
  }
  .bs-mt-sm-n2,
  .bs-my-sm-n2 {
    margin-top: -0.5rem !important;
  }
  .bs-mr-sm-n2,
  .bs-mx-sm-n2 {
    margin-right: -0.5rem !important;
  }
  .bs-mb-sm-n2,
  .bs-my-sm-n2 {
    margin-bottom: -0.5rem !important;
  }
  .bs-ml-sm-n2,
  .bs-mx-sm-n2 {
    margin-left: -0.5rem !important;
  }
  .bs-m-sm-n3 {
    margin: -1rem !important;
  }
  .bs-mt-sm-n3,
  .bs-my-sm-n3 {
    margin-top: -1rem !important;
  }
  .bs-mr-sm-n3,
  .bs-mx-sm-n3 {
    margin-right: -1rem !important;
  }
  .bs-mb-sm-n3,
  .bs-my-sm-n3 {
    margin-bottom: -1rem !important;
  }
  .bs-ml-sm-n3,
  .bs-mx-sm-n3 {
    margin-left: -1rem !important;
  }
  .bs-m-sm-n4 {
    margin: -1.5rem !important;
  }
  .bs-mt-sm-n4,
  .bs-my-sm-n4 {
    margin-top: -1.5rem !important;
  }
  .bs-mr-sm-n4,
  .bs-mx-sm-n4 {
    margin-right: -1.5rem !important;
  }
  .bs-mb-sm-n4,
  .bs-my-sm-n4 {
    margin-bottom: -1.5rem !important;
  }
  .bs-ml-sm-n4,
  .bs-mx-sm-n4 {
    margin-left: -1.5rem !important;
  }
  .bs-m-sm-n5 {
    margin: -3rem !important;
  }
  .bs-mt-sm-n5,
  .bs-my-sm-n5 {
    margin-top: -3rem !important;
  }
  .bs-mr-sm-n5,
  .bs-mx-sm-n5 {
    margin-right: -3rem !important;
  }
  .bs-mb-sm-n5,
  .bs-my-sm-n5 {
    margin-bottom: -3rem !important;
  }
  .bs-ml-sm-n5,
  .bs-mx-sm-n5 {
    margin-left: -3rem !important;
  }
  .bs-m-sm-auto {
    margin: auto !important;
  }
  .bs-mt-sm-auto,
  .bs-my-sm-auto {
    margin-top: auto !important;
  }
  .bs-mr-sm-auto,
  .bs-mx-sm-auto {
    margin-right: auto !important;
  }
  .bs-mb-sm-auto,
  .bs-my-sm-auto {
    margin-bottom: auto !important;
  }
  .bs-ml-sm-auto,
  .bs-mx-sm-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 768px) {
  .bs-m-md-0 {
    margin: 0 !important;
  }
  .bs-mt-md-0,
  .bs-my-md-0 {
    margin-top: 0 !important;
  }
  .bs-mr-md-0,
  .bs-mx-md-0 {
    margin-right: 0 !important;
  }
  .bs-mb-md-0,
  .bs-my-md-0 {
    margin-bottom: 0 !important;
  }
  .bs-ml-md-0,
  .bs-mx-md-0 {
    margin-left: 0 !important;
  }
  .bs-m-md-1 {
    margin: 0.25rem !important;
  }
  .bs-mt-md-1,
  .bs-my-md-1 {
    margin-top: 0.25rem !important;
  }
  .bs-mr-md-1,
  .bs-mx-md-1 {
    margin-right: 0.25rem !important;
  }
  .bs-mb-md-1,
  .bs-my-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .bs-ml-md-1,
  .bs-mx-md-1 {
    margin-left: 0.25rem !important;
  }
  .bs-m-md-2 {
    margin: 0.5rem !important;
  }
  .bs-mt-md-2,
  .bs-my-md-2 {
    margin-top: 0.5rem !important;
  }
  .bs-mr-md-2,
  .bs-mx-md-2 {
    margin-right: 0.5rem !important;
  }
  .bs-mb-md-2,
  .bs-my-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .bs-ml-md-2,
  .bs-mx-md-2 {
    margin-left: 0.5rem !important;
  }
  .bs-m-md-3 {
    margin: 1rem !important;
  }
  .bs-mt-md-3,
  .bs-my-md-3 {
    margin-top: 1rem !important;
  }
  .bs-mr-md-3,
  .bs-mx-md-3 {
    margin-right: 1rem !important;
  }
  .bs-mb-md-3,
  .bs-my-md-3 {
    margin-bottom: 1rem !important;
  }
  .bs-ml-md-3,
  .bs-mx-md-3 {
    margin-left: 1rem !important;
  }
  .bs-m-md-4 {
    margin: 1.5rem !important;
  }
  .bs-mt-md-4,
  .bs-my-md-4 {
    margin-top: 1.5rem !important;
  }
  .bs-mr-md-4,
  .bs-mx-md-4 {
    margin-right: 1.5rem !important;
  }
  .bs-mb-md-4,
  .bs-my-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .bs-ml-md-4,
  .bs-mx-md-4 {
    margin-left: 1.5rem !important;
  }
  .bs-m-md-5 {
    margin: 3rem !important;
  }
  .bs-mt-md-5,
  .bs-my-md-5 {
    margin-top: 3rem !important;
  }
  .bs-mr-md-5,
  .bs-mx-md-5 {
    margin-right: 3rem !important;
  }
  .bs-mb-md-5,
  .bs-my-md-5 {
    margin-bottom: 3rem !important;
  }
  .bs-ml-md-5,
  .bs-mx-md-5 {
    margin-left: 3rem !important;
  }
  .bs-p-md-0 {
    padding: 0 !important;
  }
  .bs-pt-md-0,
  .bs-py-md-0 {
    padding-top: 0 !important;
  }
  .bs-pr-md-0,
  .bs-px-md-0 {
    padding-right: 0 !important;
  }
  .bs-pb-md-0,
  .bs-py-md-0 {
    padding-bottom: 0 !important;
  }
  .bs-pl-md-0,
  .bs-px-md-0 {
    padding-left: 0 !important;
  }
  .bs-p-md-1 {
    padding: 0.25rem !important;
  }
  .bs-pt-md-1,
  .bs-py-md-1 {
    padding-top: 0.25rem !important;
  }
  .bs-pr-md-1,
  .bs-px-md-1 {
    padding-right: 0.25rem !important;
  }
  .bs-pb-md-1,
  .bs-py-md-1 {
    padding-bottom: 0.25rem !important;
  }
  .bs-pl-md-1,
  .bs-px-md-1 {
    padding-left: 0.25rem !important;
  }
  .bs-p-md-2 {
    padding: 0.5rem !important;
  }
  .bs-pt-md-2,
  .bs-py-md-2 {
    padding-top: 0.5rem !important;
  }
  .bs-pr-md-2,
  .bs-px-md-2 {
    padding-right: 0.5rem !important;
  }
  .bs-pb-md-2,
  .bs-py-md-2 {
    padding-bottom: 0.5rem !important;
  }
  .bs-pl-md-2,
  .bs-px-md-2 {
    padding-left: 0.5rem !important;
  }
  .bs-p-md-3 {
    padding: 1rem !important;
  }
  .bs-pt-md-3,
  .bs-py-md-3 {
    padding-top: 1rem !important;
  }
  .bs-pr-md-3,
  .bs-px-md-3 {
    padding-right: 1rem !important;
  }
  .bs-pb-md-3,
  .bs-py-md-3 {
    padding-bottom: 1rem !important;
  }
  .bs-pl-md-3,
  .bs-px-md-3 {
    padding-left: 1rem !important;
  }
  .bs-p-md-4 {
    padding: 1.5rem !important;
  }
  .bs-pt-md-4,
  .bs-py-md-4 {
    padding-top: 1.5rem !important;
  }
  .bs-pr-md-4,
  .bs-px-md-4 {
    padding-right: 1.5rem !important;
  }
  .bs-pb-md-4,
  .bs-py-md-4 {
    padding-bottom: 1.5rem !important;
  }
  .bs-pl-md-4,
  .bs-px-md-4 {
    padding-left: 1.5rem !important;
  }
  .bs-p-md-5 {
    padding: 3rem !important;
  }
  .bs-pt-md-5,
  .bs-py-md-5 {
    padding-top: 3rem !important;
  }
  .bs-pr-md-5,
  .bs-px-md-5 {
    padding-right: 3rem !important;
  }
  .bs-pb-md-5,
  .bs-py-md-5 {
    padding-bottom: 3rem !important;
  }
  .bs-pl-md-5,
  .bs-px-md-5 {
    padding-left: 3rem !important;
  }
  .bs-m-md-n1 {
    margin: -0.25rem !important;
  }
  .bs-mt-md-n1,
  .bs-my-md-n1 {
    margin-top: -0.25rem !important;
  }
  .bs-mr-md-n1,
  .bs-mx-md-n1 {
    margin-right: -0.25rem !important;
  }
  .bs-mb-md-n1,
  .bs-my-md-n1 {
    margin-bottom: -0.25rem !important;
  }
  .bs-ml-md-n1,
  .bs-mx-md-n1 {
    margin-left: -0.25rem !important;
  }
  .bs-m-md-n2 {
    margin: -0.5rem !important;
  }
  .bs-mt-md-n2,
  .bs-my-md-n2 {
    margin-top: -0.5rem !important;
  }
  .bs-mr-md-n2,
  .bs-mx-md-n2 {
    margin-right: -0.5rem !important;
  }
  .bs-mb-md-n2,
  .bs-my-md-n2 {
    margin-bottom: -0.5rem !important;
  }
  .bs-ml-md-n2,
  .bs-mx-md-n2 {
    margin-left: -0.5rem !important;
  }
  .bs-m-md-n3 {
    margin: -1rem !important;
  }
  .bs-mt-md-n3,
  .bs-my-md-n3 {
    margin-top: -1rem !important;
  }
  .bs-mr-md-n3,
  .bs-mx-md-n3 {
    margin-right: -1rem !important;
  }
  .bs-mb-md-n3,
  .bs-my-md-n3 {
    margin-bottom: -1rem !important;
  }
  .bs-ml-md-n3,
  .bs-mx-md-n3 {
    margin-left: -1rem !important;
  }
  .bs-m-md-n4 {
    margin: -1.5rem !important;
  }
  .bs-mt-md-n4,
  .bs-my-md-n4 {
    margin-top: -1.5rem !important;
  }
  .bs-mr-md-n4,
  .bs-mx-md-n4 {
    margin-right: -1.5rem !important;
  }
  .bs-mb-md-n4,
  .bs-my-md-n4 {
    margin-bottom: -1.5rem !important;
  }
  .bs-ml-md-n4,
  .bs-mx-md-n4 {
    margin-left: -1.5rem !important;
  }
  .bs-m-md-n5 {
    margin: -3rem !important;
  }
  .bs-mt-md-n5,
  .bs-my-md-n5 {
    margin-top: -3rem !important;
  }
  .bs-mr-md-n5,
  .bs-mx-md-n5 {
    margin-right: -3rem !important;
  }
  .bs-mb-md-n5,
  .bs-my-md-n5 {
    margin-bottom: -3rem !important;
  }
  .bs-ml-md-n5,
  .bs-mx-md-n5 {
    margin-left: -3rem !important;
  }
  .bs-m-md-auto {
    margin: auto !important;
  }
  .bs-mt-md-auto,
  .bs-my-md-auto {
    margin-top: auto !important;
  }
  .bs-mr-md-auto,
  .bs-mx-md-auto {
    margin-right: auto !important;
  }
  .bs-mb-md-auto,
  .bs-my-md-auto {
    margin-bottom: auto !important;
  }
  .bs-ml-md-auto,
  .bs-mx-md-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 992px) {
  .bs-m-lg-0 {
    margin: 0 !important;
  }
  .bs-mt-lg-0,
  .bs-my-lg-0 {
    margin-top: 0 !important;
  }
  .bs-mr-lg-0,
  .bs-mx-lg-0 {
    margin-right: 0 !important;
  }
  .bs-mb-lg-0,
  .bs-my-lg-0 {
    margin-bottom: 0 !important;
  }
  .bs-ml-lg-0,
  .bs-mx-lg-0 {
    margin-left: 0 !important;
  }
  .bs-m-lg-1 {
    margin: 0.25rem !important;
  }
  .bs-mt-lg-1,
  .bs-my-lg-1 {
    margin-top: 0.25rem !important;
  }
  .bs-mr-lg-1,
  .bs-mx-lg-1 {
    margin-right: 0.25rem !important;
  }
  .bs-mb-lg-1,
  .bs-my-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .bs-ml-lg-1,
  .bs-mx-lg-1 {
    margin-left: 0.25rem !important;
  }
  .bs-m-lg-2 {
    margin: 0.5rem !important;
  }
  .bs-mt-lg-2,
  .bs-my-lg-2 {
    margin-top: 0.5rem !important;
  }
  .bs-mr-lg-2,
  .bs-mx-lg-2 {
    margin-right: 0.5rem !important;
  }
  .bs-mb-lg-2,
  .bs-my-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .bs-ml-lg-2,
  .bs-mx-lg-2 {
    margin-left: 0.5rem !important;
  }
  .bs-m-lg-3 {
    margin: 1rem !important;
  }
  .bs-mt-lg-3,
  .bs-my-lg-3 {
    margin-top: 1rem !important;
  }
  .bs-mr-lg-3,
  .bs-mx-lg-3 {
    margin-right: 1rem !important;
  }
  .bs-mb-lg-3,
  .bs-my-lg-3 {
    margin-bottom: 1rem !important;
  }
  .bs-ml-lg-3,
  .bs-mx-lg-3 {
    margin-left: 1rem !important;
  }
  .bs-m-lg-4 {
    margin: 1.5rem !important;
  }
  .bs-mt-lg-4,
  .bs-my-lg-4 {
    margin-top: 1.5rem !important;
  }
  .bs-mr-lg-4,
  .bs-mx-lg-4 {
    margin-right: 1.5rem !important;
  }
  .bs-mb-lg-4,
  .bs-my-lg-4 {
    margin-bottom: 1.5rem !important;
  }
  .bs-ml-lg-4,
  .bs-mx-lg-4 {
    margin-left: 1.5rem !important;
  }
  .bs-m-lg-5 {
    margin: 3rem !important;
  }
  .bs-mt-lg-5,
  .bs-my-lg-5 {
    margin-top: 3rem !important;
  }
  .bs-mr-lg-5,
  .bs-mx-lg-5 {
    margin-right: 3rem !important;
  }
  .bs-mb-lg-5,
  .bs-my-lg-5 {
    margin-bottom: 3rem !important;
  }
  .bs-ml-lg-5,
  .bs-mx-lg-5 {
    margin-left: 3rem !important;
  }
  .bs-p-lg-0 {
    padding: 0 !important;
  }
  .bs-pt-lg-0,
  .bs-py-lg-0 {
    padding-top: 0 !important;
  }
  .bs-pr-lg-0,
  .bs-px-lg-0 {
    padding-right: 0 !important;
  }
  .bs-pb-lg-0,
  .bs-py-lg-0 {
    padding-bottom: 0 !important;
  }
  .bs-pl-lg-0,
  .bs-px-lg-0 {
    padding-left: 0 !important;
  }
  .bs-p-lg-1 {
    padding: 0.25rem !important;
  }
  .bs-pt-lg-1,
  .bs-py-lg-1 {
    padding-top: 0.25rem !important;
  }
  .bs-pr-lg-1,
  .bs-px-lg-1 {
    padding-right: 0.25rem !important;
  }
  .bs-pb-lg-1,
  .bs-py-lg-1 {
    padding-bottom: 0.25rem !important;
  }
  .bs-pl-lg-1,
  .bs-px-lg-1 {
    padding-left: 0.25rem !important;
  }
  .bs-p-lg-2 {
    padding: 0.5rem !important;
  }
  .bs-pt-lg-2,
  .bs-py-lg-2 {
    padding-top: 0.5rem !important;
  }
  .bs-pr-lg-2,
  .bs-px-lg-2 {
    padding-right: 0.5rem !important;
  }
  .bs-pb-lg-2,
  .bs-py-lg-2 {
    padding-bottom: 0.5rem !important;
  }
  .bs-pl-lg-2,
  .bs-px-lg-2 {
    padding-left: 0.5rem !important;
  }
  .bs-p-lg-3 {
    padding: 1rem !important;
  }
  .bs-pt-lg-3,
  .bs-py-lg-3 {
    padding-top: 1rem !important;
  }
  .bs-pr-lg-3,
  .bs-px-lg-3 {
    padding-right: 1rem !important;
  }
  .bs-pb-lg-3,
  .bs-py-lg-3 {
    padding-bottom: 1rem !important;
  }
  .bs-pl-lg-3,
  .bs-px-lg-3 {
    padding-left: 1rem !important;
  }
  .bs-p-lg-4 {
    padding: 1.5rem !important;
  }
  .bs-pt-lg-4,
  .bs-py-lg-4 {
    padding-top: 1.5rem !important;
  }
  .bs-pr-lg-4,
  .bs-px-lg-4 {
    padding-right: 1.5rem !important;
  }
  .bs-pb-lg-4,
  .bs-py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  .bs-pl-lg-4,
  .bs-px-lg-4 {
    padding-left: 1.5rem !important;
  }
  .bs-p-lg-5 {
    padding: 3rem !important;
  }
  .bs-pt-lg-5,
  .bs-py-lg-5 {
    padding-top: 3rem !important;
  }
  .bs-pr-lg-5,
  .bs-px-lg-5 {
    padding-right: 3rem !important;
  }
  .bs-pb-lg-5,
  .bs-py-lg-5 {
    padding-bottom: 3rem !important;
  }
  .bs-pl-lg-5,
  .bs-px-lg-5 {
    padding-left: 3rem !important;
  }
  .bs-m-lg-n1 {
    margin: -0.25rem !important;
  }
  .bs-mt-lg-n1,
  .bs-my-lg-n1 {
    margin-top: -0.25rem !important;
  }
  .bs-mr-lg-n1,
  .bs-mx-lg-n1 {
    margin-right: -0.25rem !important;
  }
  .bs-mb-lg-n1,
  .bs-my-lg-n1 {
    margin-bottom: -0.25rem !important;
  }
  .bs-ml-lg-n1,
  .bs-mx-lg-n1 {
    margin-left: -0.25rem !important;
  }
  .bs-m-lg-n2 {
    margin: -0.5rem !important;
  }
  .bs-mt-lg-n2,
  .bs-my-lg-n2 {
    margin-top: -0.5rem !important;
  }
  .bs-mr-lg-n2,
  .bs-mx-lg-n2 {
    margin-right: -0.5rem !important;
  }
  .bs-mb-lg-n2,
  .bs-my-lg-n2 {
    margin-bottom: -0.5rem !important;
  }
  .bs-ml-lg-n2,
  .bs-mx-lg-n2 {
    margin-left: -0.5rem !important;
  }
  .bs-m-lg-n3 {
    margin: -1rem !important;
  }
  .bs-mt-lg-n3,
  .bs-my-lg-n3 {
    margin-top: -1rem !important;
  }
  .bs-mr-lg-n3,
  .bs-mx-lg-n3 {
    margin-right: -1rem !important;
  }
  .bs-mb-lg-n3,
  .bs-my-lg-n3 {
    margin-bottom: -1rem !important;
  }
  .bs-ml-lg-n3,
  .bs-mx-lg-n3 {
    margin-left: -1rem !important;
  }
  .bs-m-lg-n4 {
    margin: -1.5rem !important;
  }
  .bs-mt-lg-n4,
  .bs-my-lg-n4 {
    margin-top: -1.5rem !important;
  }
  .bs-mr-lg-n4,
  .bs-mx-lg-n4 {
    margin-right: -1.5rem !important;
  }
  .bs-mb-lg-n4,
  .bs-my-lg-n4 {
    margin-bottom: -1.5rem !important;
  }
  .bs-ml-lg-n4,
  .bs-mx-lg-n4 {
    margin-left: -1.5rem !important;
  }
  .bs-m-lg-n5 {
    margin: -3rem !important;
  }
  .bs-mt-lg-n5,
  .bs-my-lg-n5 {
    margin-top: -3rem !important;
  }
  .bs-mr-lg-n5,
  .bs-mx-lg-n5 {
    margin-right: -3rem !important;
  }
  .bs-mb-lg-n5,
  .bs-my-lg-n5 {
    margin-bottom: -3rem !important;
  }
  .bs-ml-lg-n5,
  .bs-mx-lg-n5 {
    margin-left: -3rem !important;
  }
  .bs-m-lg-auto {
    margin: auto !important;
  }
  .bs-mt-lg-auto,
  .bs-my-lg-auto {
    margin-top: auto !important;
  }
  .bs-mr-lg-auto,
  .bs-mx-lg-auto {
    margin-right: auto !important;
  }
  .bs-mb-lg-auto,
  .bs-my-lg-auto {
    margin-bottom: auto !important;
  }
  .bs-ml-lg-auto,
  .bs-mx-lg-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 1200px) {
  .bs-m-xl-0 {
    margin: 0 !important;
  }
  .bs-mt-xl-0,
  .bs-my-xl-0 {
    margin-top: 0 !important;
  }
  .bs-mr-xl-0,
  .bs-mx-xl-0 {
    margin-right: 0 !important;
  }
  .bs-mb-xl-0,
  .bs-my-xl-0 {
    margin-bottom: 0 !important;
  }
  .bs-ml-xl-0,
  .bs-mx-xl-0 {
    margin-left: 0 !important;
  }
  .bs-m-xl-1 {
    margin: 0.25rem !important;
  }
  .bs-mt-xl-1,
  .bs-my-xl-1 {
    margin-top: 0.25rem !important;
  }
  .bs-mr-xl-1,
  .bs-mx-xl-1 {
    margin-right: 0.25rem !important;
  }
  .bs-mb-xl-1,
  .bs-my-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .bs-ml-xl-1,
  .bs-mx-xl-1 {
    margin-left: 0.25rem !important;
  }
  .bs-m-xl-2 {
    margin: 0.5rem !important;
  }
  .bs-mt-xl-2,
  .bs-my-xl-2 {
    margin-top: 0.5rem !important;
  }
  .bs-mr-xl-2,
  .bs-mx-xl-2 {
    margin-right: 0.5rem !important;
  }
  .bs-mb-xl-2,
  .bs-my-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .bs-ml-xl-2,
  .bs-mx-xl-2 {
    margin-left: 0.5rem !important;
  }
  .bs-m-xl-3 {
    margin: 1rem !important;
  }
  .bs-mt-xl-3,
  .bs-my-xl-3 {
    margin-top: 1rem !important;
  }
  .bs-mr-xl-3,
  .bs-mx-xl-3 {
    margin-right: 1rem !important;
  }
  .bs-mb-xl-3,
  .bs-my-xl-3 {
    margin-bottom: 1rem !important;
  }
  .bs-ml-xl-3,
  .bs-mx-xl-3 {
    margin-left: 1rem !important;
  }
  .bs-m-xl-4 {
    margin: 1.5rem !important;
  }
  .bs-mt-xl-4,
  .bs-my-xl-4 {
    margin-top: 1.5rem !important;
  }
  .bs-mr-xl-4,
  .bs-mx-xl-4 {
    margin-right: 1.5rem !important;
  }
  .bs-mb-xl-4,
  .bs-my-xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .bs-ml-xl-4,
  .bs-mx-xl-4 {
    margin-left: 1.5rem !important;
  }
  .bs-m-xl-5 {
    margin: 3rem !important;
  }
  .bs-mt-xl-5,
  .bs-my-xl-5 {
    margin-top: 3rem !important;
  }
  .bs-mr-xl-5,
  .bs-mx-xl-5 {
    margin-right: 3rem !important;
  }
  .bs-mb-xl-5,
  .bs-my-xl-5 {
    margin-bottom: 3rem !important;
  }
  .bs-ml-xl-5,
  .bs-mx-xl-5 {
    margin-left: 3rem !important;
  }
  .bs-p-xl-0 {
    padding: 0 !important;
  }
  .bs-pt-xl-0,
  .bs-py-xl-0 {
    padding-top: 0 !important;
  }
  .bs-pr-xl-0,
  .bs-px-xl-0 {
    padding-right: 0 !important;
  }
  .bs-pb-xl-0,
  .bs-py-xl-0 {
    padding-bottom: 0 !important;
  }
  .bs-pl-xl-0,
  .bs-px-xl-0 {
    padding-left: 0 !important;
  }
  .bs-p-xl-1 {
    padding: 0.25rem !important;
  }
  .bs-pt-xl-1,
  .bs-py-xl-1 {
    padding-top: 0.25rem !important;
  }
  .bs-pr-xl-1,
  .bs-px-xl-1 {
    padding-right: 0.25rem !important;
  }
  .bs-pb-xl-1,
  .bs-py-xl-1 {
    padding-bottom: 0.25rem !important;
  }
  .bs-pl-xl-1,
  .bs-px-xl-1 {
    padding-left: 0.25rem !important;
  }
  .bs-p-xl-2 {
    padding: 0.5rem !important;
  }
  .bs-pt-xl-2,
  .bs-py-xl-2 {
    padding-top: 0.5rem !important;
  }
  .bs-pr-xl-2,
  .bs-px-xl-2 {
    padding-right: 0.5rem !important;
  }
  .bs-pb-xl-2,
  .bs-py-xl-2 {
    padding-bottom: 0.5rem !important;
  }
  .bs-pl-xl-2,
  .bs-px-xl-2 {
    padding-left: 0.5rem !important;
  }
  .bs-p-xl-3 {
    padding: 1rem !important;
  }
  .bs-pt-xl-3,
  .bs-py-xl-3 {
    padding-top: 1rem !important;
  }
  .bs-pr-xl-3,
  .bs-px-xl-3 {
    padding-right: 1rem !important;
  }
  .bs-pb-xl-3,
  .bs-py-xl-3 {
    padding-bottom: 1rem !important;
  }
  .bs-pl-xl-3,
  .bs-px-xl-3 {
    padding-left: 1rem !important;
  }
  .bs-p-xl-4 {
    padding: 1.5rem !important;
  }
  .bs-pt-xl-4,
  .bs-py-xl-4 {
    padding-top: 1.5rem !important;
  }
  .bs-pr-xl-4,
  .bs-px-xl-4 {
    padding-right: 1.5rem !important;
  }
  .bs-pb-xl-4,
  .bs-py-xl-4 {
    padding-bottom: 1.5rem !important;
  }
  .bs-pl-xl-4,
  .bs-px-xl-4 {
    padding-left: 1.5rem !important;
  }
  .bs-p-xl-5 {
    padding: 3rem !important;
  }
  .bs-pt-xl-5,
  .bs-py-xl-5 {
    padding-top: 3rem !important;
  }
  .bs-pr-xl-5,
  .bs-px-xl-5 {
    padding-right: 3rem !important;
  }
  .bs-pb-xl-5,
  .bs-py-xl-5 {
    padding-bottom: 3rem !important;
  }
  .bs-pl-xl-5,
  .bs-px-xl-5 {
    padding-left: 3rem !important;
  }
  .bs-m-xl-n1 {
    margin: -0.25rem !important;
  }
  .bs-mt-xl-n1,
  .bs-my-xl-n1 {
    margin-top: -0.25rem !important;
  }
  .bs-mr-xl-n1,
  .bs-mx-xl-n1 {
    margin-right: -0.25rem !important;
  }
  .bs-mb-xl-n1,
  .bs-my-xl-n1 {
    margin-bottom: -0.25rem !important;
  }
  .bs-ml-xl-n1,
  .bs-mx-xl-n1 {
    margin-left: -0.25rem !important;
  }
  .bs-m-xl-n2 {
    margin: -0.5rem !important;
  }
  .bs-mt-xl-n2,
  .bs-my-xl-n2 {
    margin-top: -0.5rem !important;
  }
  .bs-mr-xl-n2,
  .bs-mx-xl-n2 {
    margin-right: -0.5rem !important;
  }
  .bs-mb-xl-n2,
  .bs-my-xl-n2 {
    margin-bottom: -0.5rem !important;
  }
  .bs-ml-xl-n2,
  .bs-mx-xl-n2 {
    margin-left: -0.5rem !important;
  }
  .bs-m-xl-n3 {
    margin: -1rem !important;
  }
  .bs-mt-xl-n3,
  .bs-my-xl-n3 {
    margin-top: -1rem !important;
  }
  .bs-mr-xl-n3,
  .bs-mx-xl-n3 {
    margin-right: -1rem !important;
  }
  .bs-mb-xl-n3,
  .bs-my-xl-n3 {
    margin-bottom: -1rem !important;
  }
  .bs-ml-xl-n3,
  .bs-mx-xl-n3 {
    margin-left: -1rem !important;
  }
  .bs-m-xl-n4 {
    margin: -1.5rem !important;
  }
  .bs-mt-xl-n4,
  .bs-my-xl-n4 {
    margin-top: -1.5rem !important;
  }
  .bs-mr-xl-n4,
  .bs-mx-xl-n4 {
    margin-right: -1.5rem !important;
  }
  .bs-mb-xl-n4,
  .bs-my-xl-n4 {
    margin-bottom: -1.5rem !important;
  }
  .bs-ml-xl-n4,
  .bs-mx-xl-n4 {
    margin-left: -1.5rem !important;
  }
  .bs-m-xl-n5 {
    margin: -3rem !important;
  }
  .bs-mt-xl-n5,
  .bs-my-xl-n5 {
    margin-top: -3rem !important;
  }
  .bs-mr-xl-n5,
  .bs-mx-xl-n5 {
    margin-right: -3rem !important;
  }
  .bs-mb-xl-n5,
  .bs-my-xl-n5 {
    margin-bottom: -3rem !important;
  }
  .bs-ml-xl-n5,
  .bs-mx-xl-n5 {
    margin-left: -3rem !important;
  }
  .bs-m-xl-auto {
    margin: auto !important;
  }
  .bs-mt-xl-auto,
  .bs-my-xl-auto {
    margin-top: auto !important;
  }
  .bs-mr-xl-auto,
  .bs-mx-xl-auto {
    margin-right: auto !important;
  }
  .bs-mb-xl-auto,
  .bs-my-xl-auto {
    margin-bottom: auto !important;
  }
  .bs-ml-xl-auto,
  .bs-mx-xl-auto {
    margin-left: auto !important;
  }
}
