#showCalendar { display: block; float: none; }
	#calendar{width:100%;  }
	#lastEvent{ width:100%;    padding: 0px;    clear: none;  }
	.lastEventPadding{    width: 100%;  }
	.imgEvent{    width: 100%;    height: 200px;  }
	.imgEvent img{  	width: 100%;  	height: 100%;  }
	.imgEvent i{ 	margin-bottom: auto; 	margin-top: auto; }
	#dropBtn{    display: none;  }
	#orgaDrop a, #orgaDrop ul{    width: 100%;  }
	.panel-transparent {    background: none;  }
	.fc-event-inner{  	padding-left: 5px;  	border-radius : 5px;  }
	.fc-event .fc-event-title::before, .event-category::before{  	color: white;  }
	.fc-grid th{  	text-align: center;  	color: black;  }
	#sectionNextEvent{  	clear:none;  }
	.fc-popover .fc-content{  	color:white;   }
	.fc-content{  	cursor: pointer;  }
	.fc button{	height: 3em;}
	.fc-event, #event-categories .event-category {
	    background: #ccc none repeat scroll 0 0 !important;
	    border: 1px solid #e8e9ec !important;
	    color: #000 !important;
	    }
	#modal-available{
	   	background-color: rgba(0,0,0,0.5);
	}
	#modal-available .modal-dialog{
		width: 80%;
		margin-left: 10%;
	}
	.spec-available-fc{
		    background-color: #EF5B34;
	    width: 87%;
	    float: left;
	    margin: 10px 2% !important;
	    border-radius: 5px;
	    text-align: center;
	    color: white;
	    font-size: 15px !important;
	    text-transform: uppercase;
	    padding: 0px 5px;
	}
	.fc-past {
  		background: #e4e1e1;
	}
	.fc-event{
		background-color: #FFA200 !important;
	    border-color: transparent !important;
	    color: white !important;
	    padding: 1px 10px;
	    border-radius: 10px;
	    font-weight: bold;
	}
	.fc-content{
		border-color: transparent !important;
		/*background-color: #FFA200;
		border-color: transparent !important;*/
		/*color:#2C3E50 !important;*/
	}
	.fc-content > button{
		width: 90%;
		height: inherit;
	}
	.fc-more-cell{
		text-align: center;
	}
	.fc-day.fc-widget-content:hover{
	  cursor: pointer;
	}

	.activeDay{
	  background-color: rgba(255, 167, 31, 0.61);
	}
	.selectedDay{
		background-color: rgba(255, 165, 31, 0.5) !important;
	  }
	.fc-past.activeDay{
	  background: rgba(228, 225, 225, 0.29);
	}
	a.fc-more {
	     margin: 1px 3px;
	    font-size: 12px;
	    cursor: pointer;
	    text-decoration: none;
	    padding: 3px 15px;
	    border-radius: 36px;
	    color: #2a3c4d;
	    width: 20px;
	    font-weight: bold;
	}
	#situate-day, .dayEvent{
		/*background: rgb(42, 60, 77);*/
	background: rgba(0, 0, 0, .8) !important;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
	}
	#situate-day h2, #dayEvent h2{
		text-transform: inherit;
	    padding-left: 15px;
	    margin-top: 10px;
	    font-size: 25px;
	}
	.fc th, .fc td {
    	border-width: 2px;
    	border-color: #c1c1c1;
	}
	.fc-scroller.fc-day-grid-container{
		overflow-y: hidden !important;
	}
	.fc td.fc-today{
    	background: transparent !important;
	}

	.fc td.fc-today.activeDay{
    	background-color: rgba(255, 167, 31, 0.7) !important;
	}
	.fc td.fc-today.selectedDay{
    	background-color: rgba(255, 165, 31, 0.5) !important;
	}
	.btn-primary.fc-button {
		color: #fff !important;
		opacity: 1;
	}