/* MENU COOP*/

#modalCoop.modal{
	z-index: 10300;
}

#modalCoop.modal,	
#modalCoop.modal .modal-dialog,
#modalCoop.modal .modal-content{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width:100%;
	margin:0px;
	padding:0px;
}

#modalCoop.modal .modal-header{
	padding: 0px;
}
#modalCoop.modal .modal-content{
	border-radius:0px;
	padding-top: 0px !important;
	border:0px !important;
	
}

#modalCoop.modal .modal-body{
	position: fixed;
    top: 52px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

ul#menuCoop{
	overflow-y: auto;
	position: absolute;
	top: 2px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	border-right: 1px solid #c6c4c4;
	padding: 0px;
}

#modalCoop.modal #main-coop-container{
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

#coop-container{
	position: absolute;
	top: 2px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

#modalCoop.modal #menu-room{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	padding: 10px 20px 10px 10px;
	overflow-y: auto;
}

#modalCoop.modal #coop-data-container{
	overflow-y: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	margin: 0px;
	background-color: white;
	padding: 10px 20px 10px 10px;
	left: unset;
	overflow-x: hidden;
}


/* MODAL */

ul.menuCoop {
    list-style-type: none;
    /*position: absolute;*/
    /*top:0px;*/
}

.menuCoop hr{
    margin-top: 7px;
	margin-bottom: 7px;	
	border-top: 2px solid #ededed;
}

.menuCoop .title-section{
	text-decoration: none !important;
	color:#FFF;
	background-color:#229296;
	font-size: 17px;
	padding: 6px;
	padding-left: 10px;
	display: block;
	text-align: left;
	font-weight: bold;
	border: 0px solid #e4e4e4;
	margin-top: 10px;
	margin-bottom: 10px;
	/*border-radius: 50px;*/
}

.menuCoop a.title-section.open{
	/*border-color: #a2c8ae;*/
}

.menuCoop a.title-section .fa-caret-down,
.menuCoop a.title-section .fa-caret-right{
	margin-top:3px;
	width:20px;
}

/*.menuCoop a.title-section:hover {
    color: #0095FF;
    background-color: #edecec;
    border: 2px solid #0095FF;
}*/

.menuCoop a{
	text-decoration: none !important;
	color:#3C545D;
	font-size: 13px;
	padding: 7px;
	padding-left: 20px;
	display: block;
	text-align: left;
	font-weight: bold;
	border-left: 3px solid transparent;
}


.menuCoop a.load-coop-data:hover{
	color:#0095FF;
	background-color: #edecec;
	border-left: 3px solid #0095FF;
}

.menuCoop a.letter-green:hover{
	border-left: 3px solid #34a853;
}

.menuCoop a.load-coop-data:active,
.menuCoop a.load-coop-data.active{
	background-color: #C8EBF5;
	border-left: 3px solid #0095FF;
	/*color:#0095FF;*/
}

.menuCoop i.fa{
	/*width: 25px;*/
	text-align: center;
}


.menuCoop a{
	padding-left:4px; 
}


.menuCoop a.load-coop-data{
	font-size:13px;
	padding-left: 14px;
}

.menuCoop .sub-rooms a.load-coop-data{
	font-size:14px;
}


#menuCoop a.letter-green,
#menuCoop a.text-dark{
	padding-left:15px; 
}

#div-reopen-menu-left-container{
	margin-top: 35px;
	padding-top: 10px;
}

#comments-container .footer-comments{
	background-color: white !important;
}

#coop-container h1, 
#coop-container h2,
#coop-container h3,
#coop-container h4, 
#coop-container h5, 
#coop-container h6 {
    text-transform: none !important;
    letter-spacing: -1px;
    font-weight: 200 !important;
}

#coop-container h6, 
#coop-container h5 {
    letter-spacing: 0px;
}

#coop-container .menuCoop .title-section{
	background-color: #d7eeef;
	color:#353535;
	border-radius:4px;
}


.submenucoop.sub-proposals{
	/*padding: 0px 10px 0 0 !important;*/
}

.ui-draggable-dragging{
	background-color: rgba(255,255,255,0.8);
	padding:5px;
	-webkit-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.5) ;
    -moz-box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.5) ;
    box-shadow: 0px 0px 5px -4px rgba(0,0,0,0.5) ;
}
.ui-draggable-dragging .tooltip.in{
	display: none !important;
}

.draggin .droppable i.fa.fa-inbox{
	display: inline;
}
.droppable i.fa.fa-inbox{
	display: none;
}



/* *********************************************************************************************************************** */
/* MENU ROOM ************************************************************************************************************* */

#coop-container, #menu-room, #coop-data-container{
	/*min-height:700px;*/
	
}


#menu-room{
	padding-top:10px;
	/*border-left: 1px solid #c6c4c4;
	border-right: 1px solid #c6c4c4;*/
}

li.submenucoop{
	list-style-type: none;
}



#menu-room  li.ui-draggable-dragging .load-coop-data{
	background-color: rgba(255, 255, 255, 0.3);
}

#menu-room .load-coop-data small{
	font-weight: 300 !important;
}

#menu-room .menuCoop .title-section{
	padding: 6px 6px 9px 15px;
}

#menu-room .menuCoop .title-section a{
	padding: 4px 8px 4px 4px;
	margin-top:-1px;
}
#menu-room .menuCoop .title-section a:hover{
	border-color:transparent!important;
	background-color: white;
	border-radius: 15px;

}

#menu-room a.btn-hide-data-room{
	width:30px;
	text-align: center;
	margin-right:5px;
}

#menu-room.min .submenucoop{
	width:100%;
}

#menu-room.min .hidden-min{
	display: none;
}

#coop-data-container{
	border-left: 1px solid #c6c4c4;
}

#coop-container .ctnr-txtarea{
	left:40px !important;
	right:0px !important;
}

#amendement-container{
	position: fixed;
	top: 53px;
	bottom: 0px;
	left: 0px;
	overflow-y: scroll;
}

#menu-room .inputSearchInMenuRoom{
	height:25px;
	font-size: 12px;
	padding: 3px 10px;
	border-radius: 40px;
	margin-left:10px;
	width:170px;
	border:none;
}
.submenucoop a:hover{
	border-left-width: 3px !important; 
}
.submenucoop a[data-status="amendable"]:hover{
	border-left: 3px solid #B082D5;
}
.submenucoop a[data-status="tovote"]:hover{
	border-left: 3px solid #34a853;
}
.submenucoop a[data-status="todo"]:hover{
	border-left: 3px solid #34a853;
}
.submenucoop a[data-status="closed"]:hover{
	border-left: 3px solid #E07171;
}
.submenucoop a[data-status="archived"]:hover{
	border-left: 3px solid #E0B471;
}

.submenucoop a[data-status="adopted"],
.submenucoop a[data-status="adopted"]:hover{
	border-left: 3px solid #34a853 !important;
}

.submenucoop a[data-status="refused"],
.submenucoop a[data-status="refused"]:hover{
	border-left: 3px solid #E07171 !important;
}


.load-coop-data[data-type="room"]:hover,
.load-coop-data[data-type="room"]:hover{
	border-left: 3px solid #229296 !important;
}


.submenucoop a[data-status="amendable"]:hover,
.submenucoop a[data-status="amendable"]:hover .lbl-status{
	color: #B082D5 !important;
}
.submenucoop a[data-status="tovote"]:hover,
.submenucoop a[data-status="tovote"]:hover .lbl-status{
	color: #34a853 !important;
}
.submenucoop a[data-status="todo"]:hover,
.submenucoop a[data-status="todo"]:hover .lbl-status{
	color: #34a853 !important;
}
.submenucoop a[data-status="closed"]:hover,
.submenucoop a[data-status="closed"]:hover .lbl-status{
	color: #E07171 !important;
}
.submenucoop a[data-status="archived"]:hover,
.submenucoop a[data-status="archived"]:hover .lbl-status{
	color: #E0B471 !important;
}

.submenucoop a[data-status="adopted"]:hover,
.submenucoop a[data-status="adopted"]:hover .lbl-status{
	color: #34a853 !important;
}

.submenucoop a[data-status="refused"]:hover,
.submenucoop a[data-status="refused"]:hover .lbl-status{
	color: #E07171 !important;
}




.progress{
	margin:5px 0 0 0;
}


#podVote .btn-link.bg-white, 
.podVoteAmendement .btn-link.bg-white,
#podVote .badge.bg-white, 
.podVoteAmendement .badge.bg-white{
	color:black;
	border: 1px solid black;
}
#podVote .btn-link, 
.podVoteAmendement .btn-link{
	width:100%;
	border-radius:4px;
	text-decoration: none;
}

.podVoteAmendement {
    /*background-color: #e7e7e7;*/
    border: 1px solid #b9b9b9;
	border-radius: 10px;
}

#ajax-modal .bootstrap-switch-wrapper{
	width: 100% !important;
	min-width: 300px !important;
	margin-left: 0% !important;
}

#ajax-modal .form-group.amendementActivatedcheckboxSimple,
#ajax-modal .form-group.amendementAndVotecheckboxSimple,
#ajax-modal .form-group.amendementDateEnddatetime,
#ajax-modal .form-group.voteActivatedcheckbox,
#ajax-modal .form-group.voteDateEnddatetime,
#ajax-modal .form-group.voteAnonymouscheckboxSimple,
#ajax-modal .form-group.voteCanChangecheckboxSimple,
#ajax-modal .form-group.multiChoicecheckboxSimple,
#ajax-modal .form-group.hasVehiclecheckboxSimple,
#ajax-modal .form-group.driverLicensecheckboxSimple{
	padding: 0 10px 10px 10px;
	float: left;
	background-color: #EDEDED;
}

#ajax-modal .form-group.voteAnonymouscheckboxSimple,
#ajax-modal .form-group.voteCanChangecheckboxSimple,
#ajax-modal .form-group.multiChoicecheckboxSimple,
#ajax-modal .form-group.hasVehiclecheckboxSimple,
#ajax-modal .form-group.driverLicensecheckboxSimple{
	margin-top:20px;
	display: flow-root;
}
#ajax-modal .form-group.voteAnonymouscheckboxSimple{
	margin-top:50px;
}

#ajax-modal .form-group.amendementActivatedcheckboxSimple,
#ajax-modal .form-group.amendementAndVotecheckboxSimple,
#ajax-modal .form-group.voteActivatedcheckbox{
	margin-bottom:0px;
	margin-top:30px;
	display: flow-root;
}

.bootstrap-switch-handle-off{
	background-color: white !important;
	color: #34a853 !important;
	font-weight: 800;
}
.bootstrap-switch-handle-on{
	background-color: white !important;
	color: #ea4335  !important;
	font-weight: 800;
}
.bootstrap-switch-container{
	background-color: #dadada;
}
.bootstrap-switch-label{
	background-color: transparent !important;
}

#coop-data-container .btn-link,
#amendement-container .btn-link{
	background-color: #f3f3f3;
	border-color: #b6b6b6;
}
#coop-data-container .btn-link:hover,
#amendement-container .btn-link:hover{
	background-color: #d8d4d4;
	text-decoration: none;
}

.progress-bar.bg-white{
	color: #3C545D;
	border: 1px solid #B3C9D2;
}

.textAmdt{
	font-size:14px;
	background-color: #DFDAE1 !important;
	border-radius: 5px;
	padding: 5px 10px !important;
}
.textAmdt hr{
	margin-top: 0px;
}

textarea#arguments{
	min-height:150px;
}

.extracted_content h4, .extracted_content p{
	font-size:13px;
	text-align: left;
}

#container-text-proposal{
	border-radius: 5px;
}

#container-text-resolution hr{
	border-top: 1px solid #b4c8cf;
}

.container-txtarea{
	margin-bottom:15px;
}

.title-section.elipsis{
	max-width: 100%;
}

.menuCoop .btn-add{
	display: inline !important;
}

#menu-room h4.room-desc{
	width: 50%;
}
#menu-room.col-md-4 h4.room-desc{
	width: 100%;
	display: none;
}

#urlCoop {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    font-size: 12px;
}

.link-assignee{
	padding:0 5px;
}
.link-assignee a{
	width:98%;
	border-radius: 40px;
	padding:5px 10px 5px 5px;
}
.link-assignee:hover{
}
.link-assignee a:hover{
	background-color: #e6e6e6;
	text-decoration: none!important;
}


#container-text-resolution a,
#container-text-action a,
#container-text-proposal a{
	text-decoration: underline;
	font-weight: bold;
}

.lbl-author-coop{
	max-width: 100px !important;
	margin-bottom: -5px;
}

#container-text-resolution a:hover,
#container-text-action a:hover,
#container-text-proposal a:hover{
	
}

.status-breadcrum span.letter-green.underline{
	border-bottom: solid 2px #34a853;
}

.status-breadcrum span.letter-red.underline{
	border-bottom: solid 2px #ea4335;
}

.status-breadcrum span.letter-purple.underline{
	border-bottom: solid 2px #976BB6;
}
.status-breadcrum span.letter-orange.underline{
	border-bottom: solid 2px #FFA200;
}
.status-breadcrum span{
	text-decoration: none !important;
	padding: 5px 15px;
}

h4.load-coop-data.title-room{
	padding: 0px;
	font-size: 18px;
	margin: 0px;
}
h4.load-coop-data.title-room:hover{
	padding: 0px;
	font-size: 18px;
	cursor: pointer;
	border:0px !important;
}

#container-text-action,
#container-text-proposal,
#container-text-resolution{
	padding-top:5px !important; 
	color:#2C3E50 !important; 
	font-size: 15px;
}

.md-editor > .md-preview{
	text-align: left;
	padding: 20px;
}
.md-editor > textarea{
	padding: 15px;
}

#modalCoop .progress-bar{
	font-weight:bold!important;
}

.bg-vote{	background-color: #c6c6c6!important; color: #1a1a1a; border-color: transparent !important; }
.btn.bg-vote:hover{	background-color: transparent!important; color: #1a1a1a; border-color: #c6c6c6; }

.bg-vote-0{	background-color: #68db87!important; color: #1a1a1a; border-color: transparent !important; }
.bg-vote-1{	background-color: #68cbdb!important; color: #1a1a1a; border-color: transparent !important; }
.bg-vote-2{	background-color: #e4cf58!important; color: #1a1a1a; border-color: transparent !important; }
.bg-vote-3{	background-color: #e47158!important; color: #1a1a1a; border-color: transparent !important; }
.bg-vote-4{	background-color: #b793d4!important; color: #1a1a1a; border-color: transparent !important; }
.bg-vote-5{	background-color: #f59580!important; color: #1a1a1a; border-color: transparent !important; }
.bg-vote-6{	background-color: #f5c680!important; color: #1a1a1a; border-color: transparent !important; }
.bg-vote-7{	background-color: #80f586!important; color: #1a1a1a; border-color: transparent !important; }
.bg-vote-8{	background-color: #8f80f5!important; color: #1a1a1a; border-color: transparent !important; }
.bg-vote-9{	background-color: #f580ba!important; color: #1a1a1a; border-color: transparent !important; }

.btn.bg-vote-0:hover{	border-color: #68db87!important; color: #68db87; }
.btn.bg-vote-1:hover{	border-color: #68cbdb!important; color: #68cbdb; }
.btn.bg-vote-2:hover{	border-color: #e4cf58!important; color: #e4cf58; }
.btn.bg-vote-3:hover{	border-color: #e47158!important; color: #e47158; }
.btn.bg-vote-4:hover{	border-color: #b793d4!important; color: #b793d4; }
.btn.bg-vote-5:hover{	border-color: #f59580!important; color: #f59580; }
.btn.bg-vote-6:hover{	border-color: #f5c680!important; color: #f5c680; }
.btn.bg-vote-7:hover{	border-color: #80f586!important; color: #80f586; }
.btn.bg-vote-8:hover{	border-color: #8f80f5!important; color: #8f80f5; }
.btn.bg-vote-9:hover{	border-color: #f580ba!important; color: #f580ba; }

.bg-vote.bg-green-k	{	background-color: #34a853!important; color:white; 			 }
.bg-vote.bg-red		{	background-color: #ea4335!important; 			  			 }
.bg-vote.bg-white	{	background-color: #ddd   !important; border: 1px solid #ddd; }
.bg-vote.bg-orange	{	background-color: #FFA200!important; 			  			 }

.border-vote{	border: solid #c6c6c6;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }

.border-vote-0{	border: solid #68db87;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-1{	border: solid #68cbdb;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-2{	border: solid #e4cf58;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-3{	border: solid #e47158;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-4{	border: solid #b793d4;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-5{	border: solid #f59580;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-6{	border: solid #f5c680;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-7{	border: solid #80f586;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-8{	border: solid #8f80f5;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-9{	border: solid #f580ba;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }

.border-vote-up			{	border: solid #34a853;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-down		{	border: solid #ea4335;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-uncomplet	{	border: solid #FFA200;  border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }
.border-vote-white		{	border: solid #ddd;  	border-width: 0 0 2px 2px; background: transparent; color: #5a5a5a; }

.letter-vote-0{	color: #68db87!important; }
.letter-vote-1{	color: #68cbdb!important; }
.letter-vote-2{	color: #e4cf58!important; }
.letter-vote-3{	color: #e47158!important; }
.letter-vote-4{	color: #b793d4!important; }
.letter-vote-5{	color: #f59580!important; }
.letter-vote-6{	color: #f5c680!important; }
.letter-vote-7{	color: #80f586!important; }
.letter-vote-8{	color: #8f80f5!important; }
.letter-vote-9{	color: #f580ba!important; }

#podVote{
	/*border: 1px dashed grey;*/
	border-radius: 20px;
	margin-top:35px;
	margin-bottom:30px;
	background: #f3f3f3;
	/*color: white;*/
}
.progress-res-vote{
	margin-top:0px;
	border-radius: 0px;
	border:none;
	box-shadow: none !important;
	background-color: transparent!important;
}
.progress-res-vote .progress-bar.bg-transparent{
	background-color: transparent!important;
	color:#666;
	text-align: left;
	padding-left:10px;
}
.progress-res-vote .progress-bar{
	box-shadow:none!important;
}




#menu-room .room-desc ul{ padding:5px 15px; }
#menu-room .room-desc p{ font-size:1em; }
#menu-room .room-desc h1{ font-size:1.5em; 	color:#404545;}
#menu-room .room-desc h2{ font-size:1.3em; 	color:#404545;}
#menu-room .room-desc h3{ font-size:1.2em;  color:#404545;}
#menu-room .room-desc h4{ font-size:1.1em; 	color:#404545;}
#menu-room .room-desc h5{ font-size:1em; 	color:#404545;}
#menu-room .room-desc h6{ font-size:0.8em; 	color:#404545;}

#coop-data-container #container-text-proposal ul{ font-size:1em; padding:5px 15px;}
#coop-data-container #container-text-proposal p { font-size:1em;				  }
#coop-data-container #container-text-proposal h1{ font-size:1.5em; 	color:#404545;}
#coop-data-container #container-text-proposal h2{ font-size:1.3em; 	color:#404545;}
#coop-data-container #container-text-proposal h3{ font-size:1.2em; 	color:#404545;}
#coop-data-container #container-text-proposal h4{ font-size:1.1em; 	color:#404545;}
#coop-data-container #container-text-proposal h5{ font-size:1em; 	color:#404545;}
#coop-data-container #container-text-proposal h6{ font-size:0.8em; 	color:#404545;}

#coop-data-container #container-text-complem { padding:15px 0px 0px 40px; }
#coop-data-container #container-text-complem ul{ font-size:1em; padding:5px 15px;}
#coop-data-container #container-text-complem p { font-size:1em;				  }
#coop-data-container #container-text-complem h1{ font-size:1.5em; 	color:#404545;}
#coop-data-container #container-text-complem h2{ font-size:1.3em; 	color:#404545;}
#coop-data-container #container-text-complem h3{ font-size:1.2em; 	color:#404545;}
#coop-data-container #container-text-complem h4{ font-size:1.1em; 	color:#404545;}
#coop-data-container #container-text-complem h5{ font-size:1em; 	color:#404545;}
#coop-data-container #container-text-complem h6{ font-size:0.8em; 	color:#404545;}
#central-container #coop-container{
	position: relative;
	top:inherit;
	left: inherit;
	bottom: 0px;
	right: 0px;
	background-color: transparent;
}
#central-container #main-coop-container{
	padding: 0px;
}
@media screen and (max-width: 992px) {

	#menu-room h4.room-desc{
		width: 100%;
	}
}