/* ---------------------------------------------------------------------- 
>>> TABLE OF CONTENT
-------------------------------------------------------------------------
1 - OWL CAROUSEL
2 - NDV3 CHART
3 - Easy Pie Chart
4 - Nestable List
5 - Jstree
6 - Form Wizard
7 - jQRangeSlider
8 - Jcrop - Crop Image
9 - Select2
10 - jQuery Tags Input
11 - jQuery Input Limiter
12 - Bootstrap Datepicker
13 - Bootstrap Date Range Picker
14 - Calendar
15 - Inline Editor
16 - Summernote
17 - Multiple File Upload
18 - Perfect Scrollbar
19 - Bootstrap File Upload
/* ---------------------------------------------------------------------- */
/*



*/
/* additional Settings */
/* additional Colour Settings */
/* Grey */
/* Orange */
/* Purple */
/* Pink */
/* Azure */
/* Green */
/* Blue */
/* Yellow */
/* Dark */
/* ---------------------------------------------------------------------- */
/*  OWL CAROUSEL
/* ---------------------------------------------------------------------- */
.panel .owl-item {
  overflow: hidden; }

.owl-theme .owl-controls .owl-page span, .owl-theme .owl-controls .owl-buttons div {
  background: rgba(255, 255, 255, 0.4) !important; }

.panel-white .owl-theme .owl-controls .owl-page span, .panel-white .owl-theme .owl-controls .owl-buttons div, .partition-white .owl-theme .owl-controls .owl-page span, .partition-white .owl-theme .owl-controls .owl-buttons div {
  background: rgba(0, 0, 0, 0.2) !important; }

.panel-note .owl-theme .owl-controls .owl-page span, .panel-note .owl-theme .owl-controls .owl-buttons div, .partition-note .owl-theme .owl-controls .owl-page span, .partition-note .owl-theme .owl-controls .owl-buttons div {
  background: rgba(0, 0, 0, 0.2) !important; }

/* ---------------------------------------------------------------------- */
/*  NDV3 CHART
/* ---------------------------------------------------------------------- */
#chart1, #chart4 {
  height: 100%;
  margin: 0;
  min-width: 100px;
  min-height: 100px; }

#chart4 .nvd3 .nv-axis line {
  fill: none;
  shape-rendering: crispedges;
  stroke: #1eb29e !important; }

#chart4 svg text {
  fill: #ffffff !important;
  font-size: 11px !important; }

#chart1 svg text {
  fill: #8B91A0 !important;
  font-size: 11px !important; }

.nvtooltip {
  background-color: black !important;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 12px;
  text-align: left; }

.nvtooltip h3 {
  font-size: 14px !important;
  background-color: rgba(0, 0, 0, 0.75) !important;
  text-align: center;
  border-bottom: 1px solid #333 !important; }

#chart3 {
  height: 200px;
  width: 100%;
  margin: 0;
  min-width: 100px;
  min-height: 100px; }

#chart3 .nvd3.nv-pie path {
  stroke: #894550 !important; }

#chart3 svg text {
  font: 400 12px Arial;
  fill: #ffffff !important; }

/* ---------------------------------------------------------------------- */
/*  Easy Pie Chart
/* ---------------------------------------------------------------------- */
.easy-pie-chart {
  position: relative;
  text-align: center; }
  .easy-pie-chart .number {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center; }
  .easy-pie-chart canvas {
    position: absolute;
    top: 0;
    left: 0; }

.percent {
  display: inline-block;
  line-height: 70px;
  z-index: 2; }
  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em; }

.label-chart {
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  display: inline;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap; }

/***
Bootstrap Daterangepicker
***/
.modal-open .daterangepicker {
  z-index: 10055 !important; }

.daterangepicker td {
  text-shadow: none; }

.daterangepicker td.active {
  background-color: #4b8df8;
  background-image: none;
  filter: none; }

.daterangepicker th {
  font-weight: 400;
  font-size: 14px; }

.daterangepicker .ranges input[type="text"] {
  width: 70px !important;
  font-size: 11px;
  vertical-align: middle; }

.daterangepicker .ranges label {
  font-weight: 300;
  display: block; }

.daterangepicker .ranges .btn {
  margin-top: 10px; }

.daterangepicker.dropdown-menu {
  padding: 5px; }

.daterangepicker .ranges li {
  color: #333; }

.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
  background: #4b8df8 !important;
  border: 1px solid #4b8df8 !important;
  color: #fff; }

.daterangepicker .range_inputs input {
  margin-bottom: 0 !important; }

/* ---------------------------------------------------------------------- */
/*  Nestable List
/* ---------------------------------------------------------------------- */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px; }

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }

.dd-list .dd-list {
  padding-left: 30px; }

.dd-collapsed .dd-list {
  display: none; }

.dd-item, .dd-empty, .dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px; }

.dd-handle {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px;
  color: #8b91a0;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #a7acb7;
  background: white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.dd-handle:hover {
  color: #707788;
  background: #fafafa; }

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold; }

.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0; }

.dd-item > button[data-action="collapse"]:before {
  content: '-'; }

.dd-placeholder, .dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white), -webkit-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
  background-image: -moz-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white), -moz-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
  background-image: linear-gradient(45deg, #ffffff 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #ffffff 75%, #ffffff), linear-gradient(45deg, #ffffff 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, #ffffff 75%, #ffffff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px; }

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999; }

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0; }

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1); }

/**
 * Nestable Extras
 */
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd; }

#nestable-menu {
  padding: 0;
  margin: 20px 0; }

#nestable-output, #nestable2-output {
  width: 100%;
  height: 7em;
  font-size: 13px;
  line-height: 1.333333em;
  padding: 5px;
  margin-bottom: 5px; }

#nestable2 .dd-handle {
  color: white;
  border: 1px solid #8b91a0;
  background: #8b91a0; }

#nestable2 .dd-handle:hover {
  background: #707788; }

#nestable2 .dd-item > button:before {
  color: #fff; }

.dd-hover > .dd-handle {
  background: #707788 !important; }

/**
 * Nestable Draggable Handles
 */
.dd3-content {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px 5px 40px;
  color: #8b91a0;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #a7acb7;
  background: white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.dd3-content:hover {
  color: #707788;
  background: #fafafa; }

.dd-dragel > .dd3-item > .dd3-content {
  margin: 0; }

.dd3-item > button {
  margin-left: 30px; }

.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #8b91a0;
  background: #8b91a0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.dd3-handle:before {
  content: '\f0c9';
  display: block;
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #fff;
  font-size: 10px;
  font-weight: normal; }

.dd3-handle:hover {
  background: #707788; }

/* ---------------------------------------------------------------------- */
/*  Jstree
/* ---------------------------------------------------------------------- */
.jstree-default .jstree-clicked {
  border: 0;
  background-color: #e1e1e1;
  box-shadow: none; }

.jstree-default .jstree-hovered {
  border: 0;
  background-color: #eee;
  box-shadow: none; }

.jstree-default .jstree-wholerow-clicked,
.jstree-wholerow .jstree-wholerow-clicked {
  background: none;
  border: 0;
  background-color: #e1e1e1;
  box-shadow: none; }

.jstree-default .jstree-wholerow-hovered,
.jstree-wholerow .jstree-wholerow-hovered {
  border: 0;
  background-color: #eee;
  box-shadow: none; }

.jstree-icon.icon-lg {
  margin-top: 1px; }

.jstree-open > .jstree-anchor > .fa-folder:before {
  margin-left: 2px;
  content: "\f07c"; }

.jstree-default.jstree-rtl .jstree-last {
  background: transparent;
  background-repeat: no-repeat; }

.vakata-context,
.vakata-context ul {
  padding: 0;
  min-width: 125px;
  background-color: #ffffff;
  font-size: 14px;
  font-family: "Segoe UI",Helvetica, Arial, sans-serif;
  box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
  border: 1px solid #efefef; }

.vakata-context li {
  border: 0; }

.vakata-context li a {
  padding: 0 10px;
  border: 0; }

.vakata-context li a i {
  display: none; }

.vakata-context li a .vakata-contextmenu-sep {
  display: none; }

.vakata-context .vakata-context-hover > a,
.vakata-context li a:hover {
  background-color: #eee;
  color: #333;
  box-shadow: none;
  margin: 0; }

.vakata-context .vakata-context-hover > a .span,
.vakata-context .vakata-context-hover > a .ins,
.vakata-context li a:hover .span,
.vakata-context li a:hover .ins {
  border: 0 !important; }

.vakata-context li a span,
.vakata-context li a ins {
  display: none;
  border: 0 !important; }

.vakata-context .vakata-context-separator a,
.vakata-context-rtl .vakata-context-separator a {
  margin: 0;
  border: 0; }

.jstree-rename-input {
  background-color: #ffffff !important;
  border: 1px solid #e5e5e5 !important;
  outline: none !important;
  padding: 2px 6px !important;
  margin-right: -4px !important; }

#jstree-marker {
  z-index: 1049; }

/* ---------------------------------------------------------------------- */
/*  Form Wizard
 /* ---------------------------------------------------------------------- */
.swMain > ul {
  display: table;
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
  width: 100%; }

.swMain > ul li {
  display: table-cell;
  text-align: center;
  width: 1%; }

.swMain > ul li > a:before {
  border-top: 4px solid #CED1D6;
  content: "";
  display: block;
  font-size: 0;
  height: 1px;
  overflow: hidden;
  position: relative;
  top: 21px;
  width: 100%;
  z-index: 1; }

.swMain > ul li:first-child > a:before {
  left: 50%;
  max-width: 51%; }

.swMain > ul li:last-child > a:before {
  max-width: 50%;
  width: 50%; }

.swMain > ul li > a.selected:before, .swMain li > a.done:before {
  border-color: #5293C4; }

.swMain > ul .stepNumber {
  background-color: white;
  border: 5px solid #CED1D6;
  border-radius: 100% 100% 100% 100%;
  color: #546474;
  display: inline-block;
  font-size: 15px;
  height: 40px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 2; }

.swMain > ul li > a.selected .stepNumber {
  border-color: #5293C4; }

.swMain ul li > a.done .stepNumber {
  border-color: #5293C4;
  background-color: #5293C4;
  color: #fff;
  text-indent: -9999px; }

.swMain ul li > a.done .stepNumber:before {
  content: "\f00c";
  display: inline;
  float: right;
  font-family: FontAwesome;
  font-weight: 300;
  height: auto;
  text-shadow: none;
  margin-right: 7px;
  text-indent: 0; }

.swMain ul li > a.done.wait .stepNumber {
  background-color: #F6F6F6 !important;
  color: #CCCCCC !important;
  text-indent: -0px !important; }

.swMain ul li > a.done.wait .stepNumber:before {
  content: "" !important; }

.swMain > ul li .stepDesc {
  color: #8b91a0;
  display: block;
  font-size: 14px;
  margin-top: 4px;
  max-width: 100%;
  table-layout: fixed;
  text-align: center;
  word-wrap: break-word;
  z-index: 104; }

.swMain > ul li > a.selected .stepDesc, .swMain li > a.done .stepDesc {
  color: #2B3D53; }

.swMain > ul li > a:hover {
  text-decoration: none; }

.swMain > ul li > a.disabled {
  cursor: default; }

.swMain .progress {
  margin-bottom: 30px; }

.swMain .stepContainer {
  height: auto !important; }

.swMain .loader {
  display: none; }

.swMain [class^="button"], .swMain [class*=" button"] {
  display: none; }

.swMain .close {
  display: none; }

/* ---------------------------------------------------------------------- */
/*  jQRangeSlider
/* ---------------------------------------------------------------------- */
[class^="slider-"] .ui-rangeSlider-bar {
  height: 18px !important; }

[class^="slider-"] .ui-rangeSlider-label {
  padding: 3px 6px !important;
  bottom: 25px !important;
  background: none !important; }

[class^="slider-"] .ui-rangeSlider-label:after {
  content: "\f0d7";
  display: inline;
  float: right;
  font-family: FontAwesome;
  font-size: 16px;
  margin: 0 -6px;
  width: 100%;
  bottom: -14px;
  position: absolute;
  text-align: center;
  text-shadow: none; }

[class^="slider-"] .ui-rangeSlider-arrow {
  height: 14px !important;
  margin: 3px 0 !important;
  font-size: 20px;
  line-height: 14px;
  cursor: pointer; }

[class^="slider-"] .ui-rangeSlider-arrow.ui-rangeSlider-leftArrow {
  background-image: none !important; }

[class^="slider-"] .ui-rangeSlider-arrow.ui-rangeSlider-leftArrow:before {
  content: "\f0d9";
  display: inline;
  float: right;
  font-family: FontAwesome;
  margin-right: 5px; }

[class^="slider-"] .ui-rangeSlider-arrow.ui-rangeSlider-rightArrow {
  background-image: none !important; }

[class^="slider-"] .ui-rangeSlider-arrow.ui-rangeSlider-rightArrow:before {
  content: "\f0da";
  display: inline;
  float: right;
  font-family: FontAwesome;
  margin-right: 5px; }

[class^="slider-"] .ui-rangeSlider-innerBar {
  height: 14px !important; }

[class^="slider-"] .ui-rangeSlider-handle {
  height: 20px !important; }

[class^="slider-"].ui-rangeSlider-disabled {
  opacity: 0.5; }

.slider-teal .ui-rangeSlider-bar {
  background: rgba(86, 144, 153, 0.6) !important; }

.slider-teal .ui-rangeSlider-handle {
  background: rgba(86, 144, 153, 0.8) !important; }

.slider-teal .ui-rangeSlider-label {
  background-image: none !important;
  background-color: #569099 !important;
  color: #FFFFFF !important;
  text-shadow: 0 1px 0 #000000; }

.slider-teal .ui-rangeSlider-label:after {
  color: #569099 !important; }

.slider-teal .ui-rangeSlider-arrow {
  color: #4D8189; }

.slider-bricky .ui-rangeSlider-bar {
  background: rgba(200, 58, 42, 0.6) !important; }

.slider-bricky .ui-rangeSlider-handle {
  background: rgba(200, 58, 42, 0.8) !important; }

.slider-bricky .ui-rangeSlider-label {
  background-image: none !important;
  background-color: #C83A2A !important;
  color: #FFFFFF !important;
  text-shadow: 0 1px 0 #000000; }

.slider-bricky .ui-rangeSlider-label:after {
  color: #C83A2A !important; }

.slider-bricky .ui-rangeSlider-arrow {
  color: #B33426; }

.slider-purple .ui-rangeSlider-bar {
  background: rgba(87, 81, 123, 0.6) !important; }

.slider-purple .ui-rangeSlider-handle {
  background: rgba(87, 81, 123, 0.8) !important; }

.slider-purple .ui-rangeSlider-label {
  background-image: none !important;
  background-color: #57517B !important;
  color: #FFFFFF !important;
  text-shadow: 0 1px 0 #000000; }

.slider-purple .ui-rangeSlider-label:after {
  color: #57517B !important; }

.slider-purple .ui-rangeSlider-arrow {
  color: #413D5C; }

.slider-green .ui-rangeSlider-bar {
  background: rgba(61, 148, 0, 0.6) !important; }

.slider-green .ui-rangeSlider-handle {
  background: rgba(61, 148, 0, 0.8) !important; }

.slider-green .ui-rangeSlider-label {
  background-image: none !important;
  background-color: #3D9400 !important;
  color: #FFFFFF !important;
  text-shadow: 0 1px 0 #000000; }

.slider-green .ui-rangeSlider-label:after {
  color: #3D9400 !important; }

.slider-green .ui-rangeSlider-arrow {
  color: #327B00; }

.slider-yellow .ui-rangeSlider-bar {
  background: rgba(255, 167, 34, 0.6) !important; }

.slider-yellow .ui-rangeSlider-handle {
  background: rgba(255, 167, 34, 0.8) !important; }

.slider-yellow .ui-rangeSlider-label {
  background-image: none !important;
  background-color: #FFA722 !important;
  color: #FFFFFF !important;
  text-shadow: 0 1px 0 #482C00; }

.slider-yellow .ui-rangeSlider-label:after {
  color: #FFB848 !important; }

.slider-yellow .ui-rangeSlider-arrow {
  color: #FFAE2F; }

.slider-blue .ui-rangeSlider-bar {
  background: rgba(54, 79, 106, 0.6) !important; }

.slider-blue .ui-rangeSlider-handle {
  background: rgba(54, 79, 106, 0.8) !important; }

.slider-blue .ui-rangeSlider-label {
  background-image: none !important;
  background-color: #364F6A !important;
  color: #FFFFFF !important;
  text-shadow: 0 1px 0 #000000; }

.slider-blue .ui-rangeSlider-label:after {
  color: #364F6A !important; }

.slider-blue .ui-rangeSlider-arrow {
  color: #2D4259; }

/* ---------------------------------------------------------------------- */
/*  Jcrop - Crop Image
/* ---------------------------------------------------------------------- */
.crop-image form {
  margin: 1.5em 0; }

.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0, 0, 0, 0.4) solid;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2); }

/* The Javascript code will set the aspect ratio of the crop
 area based on the size of the thumbnail preview,
 specified here */
#preview-pane .preview-container {
  width: 250px;
  height: 170px;
  overflow: hidden; }

/* ---------------------------------------------------------------------- */
/*  Select2
/* ---------------------------------------------------------------------- */
.select2-container .select2-choice {
  background-image: none;
  border: 1px solid #e6e8e8;
  border-radius: 2px;
  height: 35px;
  padding: 3px 9px;
  transition: border 0.2s linear 0s; }

.select2-container .select2-choice .select2-arrow {
  background: none repeat scroll 0 0 transparent;
  border-left: 0 none; }

.select2-container .select2-choice .select2-arrow b {
  background: none; }

.select2-container .select2-choice .select2-arrow b:before {
  content: "\f0d7";
  font-family: 'FontAwesome';
  font-size: 12px;
  position: relative;
  left: 6px;
  top: 0px; }

.select2-container.select2-drop-above .select2-choice {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  background: F8F8F8;
  border: 1px solid #e6e8e8; }

.select2-dropdown-open .select2-choice .select2-arrow b {
  transform: scale(1, -1); }

.select2-drop.select2-drop-above {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: none; }

.select2-drop.select2-drop-above.select2-drop-active {
  border-color: #e6e8e8;
  border-image: none;
  border-radius: 2px;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  padding-top: 0; }

.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  background: #f4f5f7;
  border: 1px solid #e5e9ec;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: none; }

.select2-search {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px; }

.select2-search input {
  border: 1px solid #e6e8e8 !important;
  border-radius: 2px;
  font-size: 12px;
  line-height: 28px;
  vertical-align: baseline; }

.select2-search input:focus {
  background: white !important;
  border: 1px solid #e6e8e8 !important; }

.select2-results {
  margin: 3px 10px 10px 3px; }

.select2-results li {
  color: #6f7b8a; }

.select2-results li.select2-result-with-children > .select2-result-label {
  color: #282323; }

.select2-results .select2-highlighted {
  background: #0090d9;
  border-radius: 3px; }

.select2-results .select2-highlighted .select2-result-label {
  color: #ffffff; }

.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  background: none;
  color: #6f7b8a;
  font-size: 12px;
  padding-left: 8px;
  padding-top: 0;
  position: relative;
  top: -5px; }

.select2-drop-active {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-color: #e6e8e8;
  border-image: none;
  border-left: 1px solid #e6e8e8;
  border-right: 1px solid #e6e8e8;
  border-style: none solid;
  border-width: medium 1px;
  padding-top: 5px; }

.select2-container-multi .select2-choices {
  background-image: none;
  border: 1px solid #dae0e4;
  border-radius: 4px; }

.select2-container-multi:not(.aapstatus-container) .select2-choices .select2-search-choice {
  background-color: #e8edf1;
  background-image: none;
  border: medium none;
  border-radius: 8px;
  box-shadow: none;
  color: inherit;
  direction: ltr;
  margin: 8px -5px 7px 10px;
  padding: 4px 8px 4px 21px; }

.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #dae0e4;
  box-shadow: none; }

.select2-container-multi.select2-container-active .select2-search-choice {
  background-color: #ffffff !important; }

.select2-container-multi .select2-search-choice-close {
  left: 6px; }

.select2-search-choice-close {
  background: none;
  right: 0;
  top: 4px; }

.select2-search-choice-close:hover {
  text-decoration: none; }

.select2-search-choice-close:before {
  color: #94a1b2;
  content: "\f00d";
  font-family: 'FontAwesome';
  font-size: 12px; }

.select2-drop-multi .select2-results .select2-no-results, .select2-drop-multi .select2-results .select2-searching, .select2-drop-multi .select2-results .select2-selection-limit {
  top: 0; }

.select2-container-multi .select2-choices .select2-search-field input {
  min-height: 35px;
  padding: 6px 11px !important;
  background: none !important; }

.select2.form-control {
  border: 0 none;
  box-shadow: none;
  padding: 0; }

/* ---------------------------------------------------------------------- */
/*  jQuery Tags Input
/* ---------------------------------------------------------------------- */
div.tagsinput span.tag {
  background: #e8edf1;
  border-radius: 8px;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 8px;
  font-size: 14px;
  line-height: 14px;
  border: none; }

div.tagsinput span.tag a {
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  color: transparent;
  position: relative; }

div.tagsinput span.tag a:before {
  color: #94a1b2;
  content: "\f00d";
  font-family: 'FontAwesome';
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0; }

div.tagsinput input {
  font-size: 14px;
  width: 90px; }

.not_valid {
  border-radius: 8px; }

/* ---------------------------------------------------------------------- */
/* jQuery Input Limiter
/* ---------------------------------------------------------------------- */
.limiterBox {
  border-top: 0;
  background-color: #65BCDA !important;
  padding: 3px 6px;
  font-size: 12px;
  color: #FFF;
  margin-top: 6px; }

.limiterBox:after {
  display: none; }

.limiterBox:before {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -8px;
  left: 50%;
  margin-left: -5px;
  border-color: transparent;
  border-style: solid;
  border-bottom-color: #65BCDA;
  border-width: 0 8px 8px; }

/* ---------------------------------------------------------------------- */
/* Bootstrap Datepicker
/* ---------------------------------------------------------------------- */
.datepicker {
  border-radius: 2px;
  font-size: 12px;
  padding: 10px 16px; }

.datepicker thead tr .datepicker-switch {
  color: #6f7b8a;
  font-size: 13px; }

.datepicker thead tr .prev {
  color: #0090d9;
  content: "";
  font-size: 0; }

.datepicker thead tr .prev:before {
  color: #0090d9;
  content: "\f053";
  font-family: 'FontAwesome';
  font-size: 13px; }

.datepicker thead tr .next {
  color: #0090d9;
  content: "";
  font-size: 0; }

.datepicker thead tr .next:before {
  color: #0090d9;
  content: "\f054";
  font-family: 'FontAwesome';
  font-size: 13px; }

.datepicker thead tr .dow {
  color: #0090d9;
  font-size: 11px;
  text-transform: uppercase; }

.datepicker tbody tr .odd {
  color: #d0d3d8; }

.datepicker table tr td.day:hover {
  background: none repeat scroll 0 0 #eeeeee;
  opacity: 0.65; }

.datepicker table tr td span {
  border-radius: 4px; }

.datepicker th, .datepicker td {
  padding: 5.5px !important; }

.datepicker table tr td.old, .datepicker table tr td.new {
  color: #d0d3d8; }

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
  background-image: none;
  font-weight: 600;
  text-shadow: none; }

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
  background-color: #e5e9ec;
  background-image: none;
  color: #ffffff; }

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active.active:hover, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled.disabled:hover, .datepicker table tr td.active[disabled], .datepicker table tr td.active[disabled]:hover, .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled[disabled]:hover {
  background-color: #0090d9; }

.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
  background-image: none;
  border: medium none;
  text-shadow: none; }

.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active.active:hover, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled.disabled:hover, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active[disabled]:hover, .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled[disabled]:hover {
  background-color: #0090d9; }

/* ---------------------------------------------------------------------- */
/* Bootstrap Datepicker
/* ---------------------------------------------------------------------- */
.bootstrap-timepicker-widget table td a i {
  color: #0090d9; }

/* ---------------------------------------------------------------------- */
/* Bootstrap Date Range Picker
/* ---------------------------------------------------------------------- */
.daterangepicker .calendar th {
  color: #0090d9; }

/* ---------------------------------------------------------------------- */
/*  Calendar
/* ---------------------------------------------------------------------- */
#calendar {
  position: relative; }

.fc-event, #event-categories .event-category {
  padding: 2px 5px;
  background: #edeef0 !important;
  border: 1px solid #e8e9ec !important;
  color: #8b91a0 !important; }

#event-categories .event-category {
  cursor: move; }

.fc-day-number {
  margin: 2px 2px 0 0; }

.fc-header-title h2 {
  color: #8b91a0;
  font-weight: 200;
  letter-spacing: -1px; }

.fc-today .fc-day-number {
  font-weight: bold; }

.fc-state-highlight {
  background: #F5F5F5 !important; }

.fc-button {
  color: #858585 !important;
  height: 40px !important;
  line-height: 40px;
  opacity: 0.6; }

.fc-button:hover {
  opacity: 1; }

.fc-button-prev, .fc-button-next {
  padding: 0;
  width: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
  text-indent: -9999px; }

.fc-button-prev .fc-text-arrow, .fc-button-next .fc-text-arrow {
  font-weight: bold; }

.fc-button-prev:after, .fc-button-next:after {
  font-family: FontAwesome;
  text-indent: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0; }

.fc-button-prev:after {
  content: "\f104"; }

.fc-button-next:after {
  content: "\f105"; }

.fc-state-default {
  background-color: #ffffff !important;
  background-image: none !important;
  border-color: #DDDDDD !important;
  box-shadow: none !important;
  color: #666666;
  text-shadow: none !important;
  border-radius: 0 !important; }

.fc-state-down, .fc-state-active {
  opacity: 1; }

.fc-header-left {
  position: absolute !important;
  top: 0;
  left: 15px;
  width: 50% !important; }

.fc-header-right {
  position: absolute !important;
  top: 0;
  right: 15px;
  width: 50% !important; }

.fc-header-center {
  display: block !important;
  padding-top: 60px !important; }

.event-category {
  color: #ffffff;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0; }

.fc-border-separate tr.fc-last th {
  border-top: none !important;
  border-left: none !important; }

.fc-border-separate th.fc-last {
  border-right: none !important; }

.fc-grid th {
  text-align: right; }

.fc-event {
  background-color: #F0F0F0;
  border: none;
  color: #333333;
  font-size: 12px; }

.fc-event .fc-event-title:before, .event-category:before {
  content: "\f111";
  font-family: FontAwesome;
  font-size: 6px;
  line-height: 16px;
  padding-right: 5px;
  color: #00AEFF;
  float: left; }

.event-category {
  color: #858585; }

.event-category:before {
  line-height: 20px; }

.event-cancelled .fc-event-title:before, .event-category.event-cancelled:before {
  color: #E6C800; }

.event-home .fc-event-title:before, .event-category.event-home:before {
  color: #FF2968; }

.event-overtime .fc-event-title:before, .event-category.event-overtime:before {
  color: #711A76; }

.event-generic .fc-event-title:before, .event-category.event-generic:before {
  color: #00AEFF; }

.event-job .fc-event-title:before, .event-category.event-job:before {
  color: #882F00; }

.event-offsite .fc-event-title:before, .event-category.event-offsite:before {
  color: #44A703; }

.event-todo .fc-event-title:before, .event-category.event-todo:before {
  color: #FF3B30; }

.fc-view-month .fc-event-time {
  display: none; }

/* ---------------------------------------------------------------------- */
/*  Inline Editor
/* ---------------------------------------------------------------------- */
#inline-container [contenteditable="true"] {
  padding: 10px; }

#inline-container {
  border: 1px solid #CCCCCC;
  margin: 30px auto 0;
  padding: 10px; }

#inline-container hr {
  background-color: #05B2D2;
  height: 5px;
  color: #05B2D2;
  border: 0; }

#inline-header {
  overflow: hidden;
  padding: 0 0 30px;
  position: relative; }

#inline-headerLeft {
  padding-top: 10px; }

#inline-headerLeft h2, #inline-headerLeft h3 {
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  text-align: center; }

#inline-headerLeft h2 {
  font-family: "Arial Black", arial-black;
  font-size: 52px;
  line-height: 1.1em;
  text-transform: uppercase; }

#inline-headerLeft h3 {
  color: #666666;
  font-size: 24px;
  line-height: 1.1em;
  margin: 0.2em 0 0; }

#inline-headerRight p {
  margin: 0;
  text-align: justify; }

#inline-headerRight p + p {
  margin-top: 20px; }

#inline-headerRight div {
  color: #666666;
  font-size: 16px; }

#inline-columns {
  color: #333333;
  overflow: hidden;
  padding-top: 20px; }

#inline-columns blockquote {
  font-family: "Times New Roman", Times, Georgia, serif;
  font-size: 2em;
  font-style: italic;
  margin: 30px 40px;
  position: relative;
  border: none; }

#inline-columns blockquote:before {
  color: #666666;
  content: "\f10d";
  font-size: 45px;
  left: -40px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  width: 35px;
  clear: both;
  display: block;
  font-family: FontAwesome;
  font-weight: bold;
  position: absolute;
  text-align: center; }

#inline-tagLine {
  border-top: 5px solid #05B2D2;
  padding-top: 20px; }

#inline-taglist {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 0 20px; }

/* ---------------------------------------------------------------------- */
/*  Summernote
/* ---------------------------------------------------------------------- */
.noteWrap {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative; }

.noteWrap .note-editor {
  border: none; }

.noteWrap .note-editor .note-toolbar {
  background: none;
  border-bottom: none;
  padding: 0; }

.noteWrap .note-editor .note-editable {
  min-height: 240px;
  background: url("../images/line_detail.png");
  line-height: 20px;
  padding: 0;
  margin-top: 20px;
  color: #858585; }

.noteWrap .note-editor .note-statusbar {
  background: none; }

.noteWrap .note-editor .note-statusbar .note-resizebar {
  border-top: none; }

.slider {
  display: inline-block;
  position: relative;
  vertical-align: middle; }

.slider.slider-horizontal {
  margin: 10px 0;
  width: 210px !important; }

.slider.slider-horizontal .slider-track {
  height: 5px !important;
  left: 0;
  margin-top: -5px;
  top: 50%;
  width: 100%; }

.slider.slider-horizontal .slider-handle {
  margin-top: -10px !important; }

.slider.slider-vertical {
  margin: 0 10px; }

.slider.slider-vertical .slider-handle {
  margin-left: -10px !important; }

.slider.slider-vertical .slider-track {
  width: 5px !important; }

.slider.slider-vertical .slider-handle {
  margin-left: -10px !important; }

.slider-handle.round {
  background: linear-gradient(to bottom, #dddddd 13%, #ffffff 97%) repeat scroll 0 0 transparent;
  box-shadow: 0 2px 1px -1px white inset, 0 1px 3px rgba(0, 0, 0, 0.39);
  height: 26px;
  opacity: 1;
  width: 26px; }

.slider-selection {
  background-color: #dddddd !important;
  background-image: none !important;
  border-radius: none;
  box-shadow: none; }

.slider.slider-blue .slider-track {
  background: #5f8295; }

.slider.slider-green .slider-track {
  background: #1fbba6; }

.slider.slider-orange .slider-track {
  background: #f58a5c; }

.slider.slider-red .slider-track {
  background: #e66b6b; }

.slider.slider-yellow .slider-track {
  background: #ffb848; }

.slider.slider-purple .slider-track {
  background: #804c75; }

.slider.slider-azure .slider-track {
  background: #00bdcc; }

/* ---------------------------------------------------------------------- */
/*  Multiple File Upload
/* ---------------------------------------------------------------------- */
.fileupload .uneditable-input {
  white-space: nowrap; }

.fileupload-new .input-group .btn-file {
  -webkit-border-radius: 0 3px 3px 0 !important;
  -moz-border-radius: 0 3px 3px 0 !important;
  border-radius: 0 3px 3px 0 !important; }

.fileinput-button {
  overflow: hidden;
  position: relative; }

.fileinput-button input {
  cursor: pointer;
  direction: ltr;
  font-size: 23px;
  margin: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-300px, 0px) scale(4); }

/* ---------------------------------------------------------------------- */
/*  Perfect Scrollbar
/* ---------------------------------------------------------------------- */
.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
  background-color: #eee !important; }

.ps-container .ps-scrollbar-y-rail {
  width: 6px;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear; }

.ps-container .ps-scrollbar-y {
  width: 6px;
  -moz-transition: width 0.2s linear;
  -o-transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear; }

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4; }

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover,
.ps-container .ps-scrollbar-y-rail.in-scrolling {
  background-color: #eee;
  width: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6; }

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.in-scrolling .ps-scrollbar-y {
  background-color: #999;
  width: 10px; }

/* ---------------------------------------------------------------------- */
/*  Bootstrap File Upload
/* ---------------------------------------------------------------------- */
.fileupload-new.thumbnail {
}

.fileupload-preview.thumbnail {
  /*max-width: 200px;
  max-height: 150px;*/
  line-height: 20px; }

/* ---------------------------------------------------------------------- 
* font-awesome-animation - v0.0.7
 * https://github.com/l-lin/font-awesome-animation
 * License: MIT
 ---------------------------------------------------------------------- */
@-webkit-keyframes wrench{0%{-webkit-transform:rotate(-12deg);transform:rotate(-12deg)}8%{-webkit-transform:rotate(12deg);transform:rotate(12deg)}10%{-webkit-transform:rotate(24deg);transform:rotate(24deg)}18%,20%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg)}28%,30%{-webkit-transform:rotate(24deg);transform:rotate(24deg)}38%,40%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg)}48%,50%{-webkit-transform:rotate(24deg);transform:rotate(24deg)}58%,60%{-webkit-transform:rotate(-24deg);transform:rotate(-24deg)}68%{-webkit-transform:rotate(24deg);transform:rotate(24deg)}75%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}@keyframes wrench{0%{-webkit-transform:rotate(-12deg);-ms-transform:rotate(-12deg);transform:rotate(-12deg)}8%{-webkit-transform:rotate(12deg);-ms-transform:rotate(12deg);transform:rotate(12deg)}10%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg)}18%,20%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg)}28%,30%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg)}38%,40%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg)}48%,50%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg)}58%,60%{-webkit-transform:rotate(-24deg);-ms-transform:rotate(-24deg);transform:rotate(-24deg)}68%{-webkit-transform:rotate(24deg);-ms-transform:rotate(24deg);transform:rotate(24deg)}75%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}}.faa-parent.animated-hover:hover>.faa-wrench,.faa-wrench.animated,.faa-wrench.animated-hover:hover{-webkit-animation:wrench 2.5s ease infinite;animation:wrench 2.5s ease infinite;transform-origin-x:90%;transform-origin-y:35%;transform-origin-z:initial}.faa-parent.animated-hover:hover>.faa-wrench.faa-fast,.faa-wrench.animated-hover.faa-fast:hover,.faa-wrench.animated.faa-fast{-webkit-animation:wrench 1.2s ease infinite;animation:wrench 1.2s ease infinite}.faa-parent.animated-hover:hover>.faa-wrench.faa-slow,.faa-wrench.animated-hover.faa-slow:hover,.faa-wrench.animated.faa-slow{-webkit-animation:wrench 3.7s ease infinite;animation:wrench 3.7s ease infinite}@-webkit-keyframes ring{0%{-webkit-transform:rotate(-15deg);transform:rotate(-15deg)}2%{-webkit-transform:rotate(15deg);transform:rotate(15deg)}4%{-webkit-transform:rotate(-18deg);transform:rotate(-18deg)}6%{-webkit-transform:rotate(18deg);transform:rotate(18deg)}8%{-webkit-transform:rotate(-22deg);transform:rotate(-22deg)}10%{-webkit-transform:rotate(22deg);transform:rotate(22deg)}12%{-webkit-transform:rotate(-18deg);transform:rotate(-18deg)}14%{-webkit-transform:rotate(18deg);transform:rotate(18deg)}16%{-webkit-transform:rotate(-12deg);transform:rotate(-12deg)}18%{-webkit-transform:rotate(12deg);transform:rotate(12deg)}20%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}}@keyframes ring{0%{-webkit-transform:rotate(-15deg);-ms-transform:rotate(-15deg);transform:rotate(-15deg)}2%{-webkit-transform:rotate(15deg);-ms-transform:rotate(15deg);transform:rotate(15deg)}4%{-webkit-transform:rotate(-18deg);-ms-transform:rotate(-18deg);transform:rotate(-18deg)}6%{-webkit-transform:rotate(18deg);-ms-transform:rotate(18deg);transform:rotate(18deg)}8%{-webkit-transform:rotate(-22deg);-ms-transform:rotate(-22deg);transform:rotate(-22deg)}10%{-webkit-transform:rotate(22deg);-ms-transform:rotate(22deg);transform:rotate(22deg)}12%{-webkit-transform:rotate(-18deg);-ms-transform:rotate(-18deg);transform:rotate(-18deg)}14%{-webkit-transform:rotate(18deg);-ms-transform:rotate(18deg);transform:rotate(18deg)}16%{-webkit-transform:rotate(-12deg);-ms-transform:rotate(-12deg);transform:rotate(-12deg)}18%{-webkit-transform:rotate(12deg);-ms-transform:rotate(12deg);transform:rotate(12deg)}20%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}}.faa-parent.animated-hover:hover>.faa-ring,.faa-ring.animated,.faa-ring.animated-hover:hover{-webkit-animation:ring 2s ease infinite;animation:ring 2s ease infinite;transform-origin-x:50%;transform-origin-y:0;transform-origin-z:initial}.faa-parent.animated-hover:hover>.faa-ring.faa-fast,.faa-ring.animated-hover.faa-fast:hover,.faa-ring.animated.faa-fast{-webkit-animation:ring 1s ease infinite;animation:ring 1s ease infinite}.faa-parent.animated-hover:hover>.faa-ring.faa-slow,.faa-ring.animated-hover.faa-slow:hover,.faa-ring.animated.faa-slow{-webkit-animation:ring 3s ease infinite;animation:ring 3s ease infinite}@-webkit-keyframes vertical{0%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}4%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}8%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}12%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}16%{-webkit-transform:translate(0,-3px);transform:translate(0,-3px)}20%{-webkit-transform:translate(0,3px);transform:translate(0,3px)}22%{-webkit-transform:translate(0,0);transform:translate(0,0)}}@keyframes vertical{0%{-webkit-transform:translate(0,-3px);-ms-transform:translate(0,-3px);transform:translate(0,-3px)}4%{-webkit-transform:translate(0,3px);-ms-transform:translate(0,3px);transform:translate(0,3px)}8%{-webkit-transform:translate(0,-3px);-ms-transform:translate(0,-3px);transform:translate(0,-3px)}12%{-webkit-transform:translate(0,3px);-ms-transform:translate(0,3px);transform:translate(0,3px)}16%{-webkit-transform:translate(0,-3px);-ms-transform:translate(0,-3px);transform:translate(0,-3px)}20%{-webkit-transform:translate(0,3px);-ms-transform:translate(0,3px);transform:translate(0,3px)}22%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}}.faa-parent.animated-hover:hover>.faa-vertical,.faa-vertical.animated,.faa-vertical.animated-hover:hover{-webkit-animation:vertical 2s ease infinite;animation:vertical 2s ease infinite}.faa-parent.animated-hover:hover>.faa-vertical.faa-fast,.faa-vertical.animated-hover.faa-fast:hover,.faa-vertical.animated.faa-fast{-webkit-animation:vertical 1s ease infinite;animation:vertical 1s ease infinite}.faa-parent.animated-hover:hover>.faa-vertical.faa-slow,.faa-vertical.animated-hover.faa-slow:hover,.faa-vertical.animated.faa-slow{-webkit-animation:vertical 4s ease infinite;animation:vertical 4s ease infinite}@-webkit-keyframes horizontal{0%{-webkit-transform:translate(0,0);transform:translate(0,0)}6%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}12%{-webkit-transform:translate(0,0);transform:translate(0,0)}18%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}24%{-webkit-transform:translate(0,0);transform:translate(0,0)}30%{-webkit-transform:translate(5px,0);transform:translate(5px,0)}36%{-webkit-transform:translate(0,0);transform:translate(0,0)}}@keyframes horizontal{0%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}6%{-webkit-transform:translate(5px,0);-ms-transform:translate(5px,0);transform:translate(5px,0)}12%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}18%{-webkit-transform:translate(5px,0);-ms-transform:translate(5px,0);transform:translate(5px,0)}24%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}30%{-webkit-transform:translate(5px,0);-ms-transform:translate(5px,0);transform:translate(5px,0)}36%{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}}.faa-horizontal.animated,.faa-horizontal.animated-hover:hover,.faa-parent.animated-hover:hover>.faa-horizontal{-webkit-animation:horizontal 2s ease infinite;animation:horizontal 2s ease infinite}.faa-horizontal.animated-hover.faa-fast:hover,.faa-horizontal.animated.faa-fast,.faa-parent.animated-hover:hover>.faa-horizontal.faa-fast{-webkit-animation:horizontal 1s ease infinite;animation:horizontal 1s ease infinite}.faa-horizontal.animated-hover.faa-slow:hover,.faa-horizontal.animated.faa-slow,.faa-parent.animated-hover:hover>.faa-horizontal.faa-slow{-webkit-animation:horizontal 3s ease infinite;animation:horizontal 3s ease infinite}@-webkit-keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}@keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}.faa-flash.animated,.faa-flash.animated-hover:hover,.faa-parent.animated-hover:hover>.faa-flash{-webkit-animation:flash 2s ease infinite;animation:flash 2s ease infinite}.faa-flash.animated-hover.faa-fast:hover,.faa-flash.animated.faa-fast,.faa-parent.animated-hover:hover>.faa-flash.faa-fast{-webkit-animation:flash 1s ease infinite;animation:flash 1s ease infinite}.faa-flash.animated-hover.faa-slow:hover,.faa-flash.animated.faa-slow,.faa-parent.animated-hover:hover>.faa-flash.faa-slow{-webkit-animation:flash 3s ease infinite;animation:flash 3s ease infinite}@-webkit-keyframes bounce{0%,10%,20%,50%,80%{-webkit-transform:translateY(0);transform:translateY(0)}40%,60%{-webkit-transform:translateY(-15px);transform:translateY(-15px)}}@keyframes bounce{0%,10%,20%,50%,80%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}40%,60%{-webkit-transform:translateY(-15px);-ms-transform:translateY(-15px);transform:translateY(-15px)}}.faa-bounce.animated,.faa-bounce.animated-hover:hover,.faa-parent.animated-hover:hover>.faa-bounce{-webkit-animation:bounce 2s ease infinite;animation:bounce 2s ease infinite}.faa-bounce.animated-hover.faa-fast:hover,.faa-bounce.animated.faa-fast,.faa-parent.animated-hover:hover>.faa-bounce.faa-fast{-webkit-animation:bounce 1s ease infinite;animation:bounce 1s ease infinite}.faa-bounce.animated-hover.faa-slow:hover,.faa-bounce.animated.faa-slow,.faa-parent.animated-hover:hover>.faa-bounce.faa-slow{-webkit-animation:bounce 3s ease infinite;animation:bounce 3s ease infinite}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes spin{0%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);-ms-transform:rotate(359deg);transform:rotate(359deg)}}.faa-parent.animated-hover:hover>.faa-spin,.faa-spin.animated,.faa-spin.animated-hover:hover{-webkit-animation:spin 1.5s linear infinite;animation:spin 1.5s linear infinite}.faa-parent.animated-hover:hover>.faa-spin.faa-fast,.faa-spin.animated-hover.faa-fast:hover,.faa-spin.animated.faa-fast{-webkit-animation:spin .7s linear infinite;animation:spin .7s linear infinite}.faa-parent.animated-hover:hover>.faa-spin.faa-slow,.faa-spin.animated-hover.faa-slow:hover,.faa-spin.animated.faa-slow{-webkit-animation:spin 2.2s linear infinite;animation:spin 2.2s linear infinite}@-webkit-keyframes float{0%{-webkit-transform:translateY(0);transform:translateY(0)}50%{-webkit-transform:translateY(-6px);transform:translateY(-6px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes float{0%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}50%{-webkit-transform:translateY(-6px);-ms-transform:translateY(-6px);transform:translateY(-6px)}100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}.faa-float.animated,.faa-float.animated-hover:hover,.faa-parent.animated-hover:hover>.faa-float{-webkit-animation:float 2s linear infinite;animation:float 2s linear infinite}.faa-float.animated-hover.faa-fast:hover,.faa-float.animated.faa-fast,.faa-parent.animated-hover:hover>.faa-float.faa-fast{-webkit-animation:float 1s linear infinite;animation:float 1s linear infinite}.faa-float.animated-hover.faa-slow:hover,.faa-float.animated.faa-slow,.faa-parent.animated-hover:hover>.faa-float.faa-slow{-webkit-animation:float 3s linear infinite;animation:float 3s linear infinite}@-webkit-keyframes pulse{0%{-webkit-transform:scale(1.1);transform:scale(1.1)}50%{-webkit-transform:scale(0.8);transform:scale(0.8)}100%{-webkit-transform:scale(1.1);transform:scale(1.1)}}@keyframes pulse{0%{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}50%{-webkit-transform:scale(0.8);-ms-transform:scale(0.8);transform:scale(0.8)}100%{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}}.faa-parent.animated-hover:hover>.faa-pulse,.faa-pulse.animated,.faa-pulse.animated-hover:hover{-webkit-animation:pulse 2s linear infinite;animation:pulse 2s linear infinite}.faa-parent.animated-hover:hover>.faa-pulse.faa-fast,.faa-pulse.animated-hover.faa-fast:hover,.faa-pulse.animated.faa-fast{-webkit-animation:pulse 1s linear infinite;animation:pulse 1s linear infinite}.faa-parent.animated-hover:hover>.faa-pulse.faa-slow,.faa-pulse.animated-hover.faa-slow:hover,.faa-pulse.animated.faa-slow{-webkit-animation:pulse 3s linear infinite;animation:pulse 3s linear infinite}.faa-parent.animated-hover:hover>.faa-shake,.faa-shake.animated,.faa-shake.animated-hover:hover{-webkit-animation:wrench 2.5s ease infinite;animation:wrench 2.5s ease infinite}.faa-parent.animated-hover:hover>.faa-shake.faa-fast,.faa-shake.animated-hover.faa-fast:hover,.faa-shake.animated.faa-fast{-webkit-animation:wrench 1.2s ease infinite;animation:wrench 1.2s ease infinite}.faa-parent.animated-hover:hover>.faa-shake.faa-slow,.faa-shake.animated-hover.faa-slow:hover,.faa-shake.animated.faa-slow{-webkit-animation:wrench 3.7s ease infinite;animation:wrench 3.7s ease infinite}@-webkit-keyframes tada{0%{-webkit-transform:scale(1);transform:scale(1)}10%,20%{-webkit-transform:scale(.9) rotate(-8deg);transform:scale(.9) rotate(-8deg)}30%,50%,70%{-webkit-transform:scale(1.3) rotate(8deg);transform:scale(1.3) rotate(8deg)}40%,60%{-webkit-transform:scale(1.3) rotate(-8deg);transform:scale(1.3) rotate(-8deg)}80%{-webkit-transform:scale(1) rotate(0);transform:scale(1) rotate(0)}}@keyframes tada{0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}10%,20%{-webkit-transform:scale(.9) rotate(-8deg);-ms-transform:scale(.9) rotate(-8deg);transform:scale(.9) rotate(-8deg)}30%,50%,70%{-webkit-transform:scale(1.3) rotate(8deg);-ms-transform:scale(1.3) rotate(8deg);transform:scale(1.3) rotate(8deg)}40%,60%{-webkit-transform:scale(1.3) rotate(-8deg);-ms-transform:scale(1.3) rotate(-8deg);transform:scale(1.3) rotate(-8deg)}80%{-webkit-transform:scale(1) rotate(0);-ms-transform:scale(1) rotate(0);transform:scale(1) rotate(0)}}.faa-parent.animated-hover:hover>.faa-tada,.faa-tada.animated,.faa-tada.animated-hover:hover{-webkit-animation:tada 2s linear infinite;animation:tada 2s linear infinite}.faa-parent.animated-hover:hover>.faa-tada.faa-fast,.faa-tada.animated-hover.faa-fast:hover,.faa-tada.animated.faa-fast{-webkit-animation:tada 1s linear infinite;animation:tada 1s linear infinite}.faa-parent.animated-hover:hover>.faa-tada.faa-slow,.faa-tada.animated-hover.faa-slow:hover,.faa-tada.animated.faa-slow{-webkit-animation:tada 3s linear infinite;animation:tada 3s linear infinite}@-webkit-keyframes passing{0%{-webkit-transform:translateX(-50%);transform:translateX(-50%);opacity:0}50%{-webkit-transform:translateX(0%);transform:translateX(0%);opacity:1}100%{-webkit-transform:translateX(50%);transform:translateX(50%);opacity:0}}@keyframes passing{0%{-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);opacity:0}50%{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%);opacity:1}100%{-webkit-transform:translateX(50%);-ms-transform:translateX(50%);transform:translateX(50%);opacity:0}}.faa-parent.animated-hover:hover>.faa-passing,.faa-passing.animated,.faa-passing.animated-hover:hover{-webkit-animation:passing 2s linear infinite;animation:passing 2s linear infinite}.faa-parent.animated-hover:hover>.faa-passing.faa-fast,.faa-passing.animated-hover.faa-fast:hover,.faa-passing.animated.faa-fast{-webkit-animation:passing 1s linear infinite;animation:passing 1s linear infinite}.faa-parent.animated-hover:hover>.faa-passing.faa-slow,.faa-passing.animated-hover.faa-slow:hover,.faa-passing.animated.faa-slow{-webkit-animation:passing 3s linear infinite;animation:passing 3s linear infinite}@-webkit-keyframes burst{0%{opacity:.6}50%{-webkit-transform:scale(1.8);transform:scale(1.8);opacity:0}100%{opacity:0}}@keyframes burst{0%{opacity:.6}50%{-webkit-transform:scale(1.8);-ms-transform:scale(1.8);transform:scale(1.8);opacity:0}100%{opacity:0}}.faa-burst.animated,.faa-burst.animated-hover:hover,.faa-parent.animated-hover:hover>.faa-burst{-webkit-animation:burst 2s infinite linear;animation:burst 2s infinite linear}.faa-burst.animated-hover.faa-fast:hover,.faa-burst.animated.faa-fast,.faa-parent.animated-hover:hover>.faa-burst.faa-fast{-webkit-animation:burst 1s infinite linear;animation:burst 1s infinite linear}.faa-burst.animated-hover.faa-slow:hover,.faa-burst.animated.faa-slow,.faa-parent.animated-hover:hover>.faa-burst.faa-slow{-webkit-animation:burst 3s infinite linear;animation:burst 3s infinite linear}
