.iamgurdeep-pic {
    position: relative;
}
.profilSocial .blockUsername {
    bottom: 0;
    color: #ffffff;
    padding: 30px 0px 0px;
    position: absolute;
    width: 100%;
    text-shadow: 1px 1px 2px #000000;
    
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #1b1b1b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a64d4d4d',GradientType=0 ); /* IE6-9 */
} 
.iamgurdeeposahan {
    border-radius: 4px 4px 0 0;
}
#modal-confidentiality{
    z-index: 100000;
}
.profilSocial .blockUsername > h2 {
    /*font-family: oswald;*/
    font-size: 27px;
    font-weight: lighter;
    margin: 31px 0 4px;
    position: relative;
    text-shadow: 1px 1px 2px #000000;
    text-transform: uppercase;
}
.profilSocial .blockUsername > h2 small {
    color: #ffffff;
    /*font-family: open sans;*/
    font-size: 13px;
    font-weight: 400;
    position: relative;
}
.profilSocial .blockUsername .fa{
    color: #ffffff;
    font-size: 14px;
    margin: 0 0 0 4px;
    position: static;
}
.edit-pic a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 21px;
    height: 39px;
    line-height: 38px;
    margin: 8px;
    text-align: center;
    width: 39px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-decoration: none !important;
     display: list-item;
     background-color: rgba(255, 255, 255, 0.6) !important;
}
.edit-pic a:hover {
   font-size: 17px;
   opacity: 0.9;
 background-color: rgba(255, 255, 255, 0.9) !important;
  }
.edit-pic a:focus {
   background:#0095FF;
    color: #fff;
    border: 1px solid #0095FF;
}
.edit-pic {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.pageElement .tags {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 0 0;
    padding: 2px 5px;
     -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.pageElement .tags:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 0 0;
    padding: 2px 5px;
}
#accordion:hover .edit-pic {
    opacity: unset;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.btn-o {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    color: #ffffff !important;
    display: inline-block;
    /*font-family: open sans;*/
    font-size: 15px !important;
    font-weight: normal !important;
    margin: 0 0 10px;
    padding: 5px 11px;
    text-decoration: none !important;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.btn-o:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
    color: #fff !important;
  }
.btn-o:hover {
  background-color: rgba(255, 255, 255, 0.4) !important;
    color: #fff !important;
  }
.blockUsername .navbar-nav:hover .btn-o{
    background-color: rgba(255, 255, 255, 0.4) !important;
    color: #fff !important;
}
/*.btn-o:focus {
   background:#0095FF !important;
    color: #fff;
    border: 1px solid #0095FF !important;
}*/
.submenu .iamgurdeeposahan {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;
    border-radius: 50%;
    height: 60px;
    padding: 2px;
    width: 60px;
}
.photosgurdeep > a {
    background: #ffffff none repeat scroll 0 0;
    /*border-radius: 50%;*/
    display: inline-block !important;
    padding: 0 !important;
}
.view-all {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;
    border: 1px solid;
    float: right;
    /*font-family: oswald;*/
    font-size: 26px;
    height: 60px;
    line-height: 61px;
    text-align: center;
    width: 60px;
}
.photosgurdeep {
    padding: 10px 9px 4px 35px;
}

.profilSocial ul {
    list-style-type: none;
}

.profilSocial a {
    color: #0095FF;
    text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
.profilSocial h1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
 }

.profilSocial h1 a {
    color: #c12c42;
    font-size: 16px;
 }
/**
 * Submenu
 -----------------------------*/
 .profilSocial .submenu {
    display: none;
    background: #F5F5F5;
    font-size: 14px;
 }

 .profilSocial .submenu li {
    border-bottom: 1px solid #dbdbdb;
    display: block;
    text-decoration: none;
    color: #4E4E4E;
    padding: 12px;
    /*padding-left: 42px;*/
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
 }

 .profilSocial .submenu a {
    color: #767677;
 }

 .profilSocial .submenu li.editable li:hover {
    cursor:pointer;
    background: #0095FF;
    color: #FFF;
 }
 .profilSocial .submenu li.editable li:hover a {
    color: #FFF;
 }


.searchSmallMenu{
    font-weight: 300;
}

#social-header{
    min-height: 280px;
    background-color: rgba(230,230,230,0.6);
    padding: 0px;
    padding-top: 0px;
}

/*********************************************/
    .header{
        position: absolute;
        width:100%;
        height:300px;
    }
    .social-main-container, #central-container{
        background-color: #f8f8f8;
        min-height:1200px;
    }

    #shortDescription *{
        font-size:0px !important;
    }

    iframe.wysihtml5-sandbox{
        border:1px solid lightgrey!important;
        padding:10px!important;
    }

    section#timeline-social{
        /*position: absolute;*/
        /*top:300px;*/
    }

    .profilSocial{
        /*position: absolute;
        top:0px;*/
    }
    .sub-menu-social{
        background-color: white;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    #menu-top-profil-social #menu-top-profil-image{
        position: absolute;
        bottom: 0px;
    }
    .sub-menu-social button, .sub-menu-social a.ssmla{
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: 0px;
        border-bottom: 0px;
        height:45px;
        line-height: 35px;
        margin-top: 0px;
        border-radius: 0px;
    }
    .central-section{
        margin-top: 10px;
        padding-top: 50px;
    }
    #subsubMenuLeft{
        list-style: none;
        margin-top: 10px;
        padding-top: 18px!important;
    }
    footer{
        /*position: absolute!important;*/
        bottom: 0px;
    }

    #small_profil{
        font-weight: 300;
        text-transform: none;
        font-size:13px;
        margin-top:4px;
    }

#btnHeaderEditInfos{
    padding: 0px 8px;
    margin-top: 5px;
    margin-left: 5px;
}


#central-container #dropdown_search{
    min-height:500px;
}
#central-container .row.headerDirectory{
    margin-top: 20px;
    display: none;
}
#central-container p {
    font-size: 13px;
}

#listCollections .text-white{
  color:black!important;
}

.notif-column .alert{
    font-size:12px;
    border:none!important;
    border-radius: 0px;
}
.notif-column a .fa-times{
    margin-left:-5px;
}



.favElBtn, .favAllBtn{
  padding: 5px 8px;
  font-weight: 800;
  margin-bottom:5px;
}
.menu-params{
    position: absolute;
    top: 60px;
    right: -5px;
    left: inherit !important;
}

#main-name-element{
    /*background-color: white;
    border-radius:50px;
    padding:10px;
    padding-right: 22px;*/
}
#second-name-element{
  margin-top:5px;
}
#uploadScropResizeAndSaveImage{
    /*position:absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    background-color: rgba(1,1,1,0.8);
    padding-top: 150px;
    padding-left: 50px;*/
}
#banner_photoAdd{
    position:absolute;
    z-index: 1000;
}



.pastille-type-element{
    border-radius: 50px;
    height: 20px;
    width: 20px;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-right: 10px;
    margin: 5px;
}
.name-header{
    line-height: 30px;
    font-size: 20px;
    text-transform: none;
}
.type-header, #typeHeader i{
    line-height: 30px;
    font-size: 15px;
    text-transform: none;
}
#shortDescriptionHeader{
    white-space: pre-line;
    font-size: 16px;
    line-height: 19px;
    margin-left: 5px;
}
.backgroundHeaderInformation{
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 20%);
}
.contentHeaderInformation{
    text-shadow: 1 1px 3px rgba(0,0,0,1);
    padding: 40px 0px 25px 0;
    bottom: 0px;
    position: absolute;
}
#col-banner{
    min-height:280px;
}
.container-preview #col-banner{
    min-height: inherit;
}
#fileuploadContainer{
    box-shadow: 0px 0px 5px 0px grey;
}

.sub-menu-social.affix {
    position: fixed;
    right: 0;
    z-index: 100;
    margin-top: 0px !important;
    width:100%!important;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
}
.main-container .sub-menu-social.affix {
    right: 0px !important;
    left: 53px;
    width: initial !important;
}

#menu-top-profil-social.affix #menu-top-profil-image{
    display: none;
}
#menu-top-profil-social.affix #menu-top-profil-image{
    display: none;
}
#menu-top-profil-social.affix #menu-top-btn-group{
    width: 100%;
    margin-left: inherit;
}
#menu-top-profil-social.affix #menu-top-btn-group .affixMenuImg{
    display: block !important;
    height: 52px;
}
#menu-top-profil-social #menu-top-btn-group .dropdown-menu-top{
    height: 45px;
}

#menu-top-profil-social #menu-top-btn-group .dropdown-menu-top{
    height: 45px;
}
#menu-top-profil-social #menu-top-btn-group .dropdown-menu-top > a {
    font-size: 18px;
    padding: 10px;
}
#menu-top-profil-social #menu-top-btn-group .dropdown-menu-top > a:hover{
    color: gray;
}
#menu-top-profil-social #menu-top-btn-group .dropdown-menu-top .dropdown-menu{
    margin: 0px;
}
#menu-top-profil-social #menu-top-btn-group .dropdown-menu-top .dropdown-menu .arrow_box:after,
#menu-top-profil-social #menu-top-btn-group .dropdown-menu-top .dropdown-menu .arrow_box:before{
    left: 90%;
}
.dropdown-menu-top ul.dropdown-menu > a{
    width: 100%;
    border: none;
    height: 30px;
    padding: 0px;
    line-height: 30px;
}
.dropdown-menu-top ul.dropdown-menu > a > i{
    padding: 0px 5px; 
}
.dropdown-menu-top ul.dropdown-menu > a{
    width: 100%;
    border: none;
    height: 30px;
    padding: 0px 15px;
    line-height: 30px;
    text-align: left;
}
.dropdown-menu-top ul.dropdown-menu > a:hover{
    background-color: #edecec;
}

#menu-top-profil-social #menu-top-left{
    position: absolute;
    bottom: 0px;
}

#menu-left-container a {
    color: #5B5B5C;
    font-size: 16px;
    padding: 6px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    text-align: left;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    font-weight: bold;
    border-left: 3px solid transparent;
}

#menu-left-container {
    display: inline-grid;
}

#menu-left-container a.active{
    color: #0095FF;
    background-color: #edecec;
    border-left: 3px solid #0095FF;
}

#menu-left-container .btn-menu-tooltips:hover{
    color: #0095FF;
    background-color: #edecec;
    border-left: 3px solid #0095FF;
}
#menu-left-container > a > span > i {
    padding: 2px 10px 0px 10px;
    width: 40px;
    float: left;
    text-align: center;
}
.element-xs-menu{
    position: absolute;
    z-index: 10;
    width: 100%;
    bottom: inherit;
}
.element-xs-menu a.hidden-xs{
    display: block !important;
}
@media (max-width: 767px) {
   #menu-top-profil-social .open-xs-menu{
    line-height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    font-weight: 800;
   }
   .social-main-container, #central-container {
        padding-right: 7px;
        padding-left: 7px;
    }
}
@media (max-width: 767px) {   
    #central-container .containInvitation{
        width: 80% !important;
    }
}
#fileuploadContainer{
    box-shadow: 1px -1px 3px 0px #969696;
}
.menu-left-min{
    display:none;
}
.sub-menu-social.affix .menu-left-min{
    display: inline;
}
.identity-min{
    display: none;
}
.identity-min .pastille-type-element{
    margin-top:12px;
}
.sub-menu-social.affix .identity-min{
    display: inline;
}

#name-lbl-title{
    text-decoration: none;
    font-weight: 800;
    font-size:20px;
}
.labelTitleDir{
    font-size: 18px;
}


.divInvited {
    border: 1px solid #ccc !important;
    padding: 5px;
    background-color: blanchedalmond;
}
.select2-drop-multi{
    z-index:1000000;
}
.section-date, .section-address,.section-badges{
    font-size: 20px;
    font-weight: bold;
    padding:10px 20px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 7px;
    position: absolute;
    z-index: 1;
    right: 15px;
    margin-top:10px;
}
.section-badges{
    font-size: 15px;
    padding: 5px;
    top: 0px;
}
.section-address{
    font-size: 16px;
    top: 0px;
}

.section-date .numday{
    font-size: 16px;
    font-size: 30px;
}
.section-date .letter-orange{
    color:#2C3E50 !important;
}

#noMoreNews{
    position: relative;
    padding: 15px;
    bottom:0px;
    border-radius: 50px;
    margin-left: 10px;
}


/* LIVE NOW */
.elemt_name, .elemt_date {
    font-size: 13px;
    height: 25px;
    padding: 5px 10px;
    width: 60%;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    font-weight: 600;
}
.no-img .elemt_name, 
.no-img .elemt_date {
    width: 100%;
}
.no-img .cnt-img{
    display: none;
}
.elemt_date {
    font-weight: 200;
    padding-top: 2px;
    font-size: 11px;
}
.elemt_name a{
    color:#3C5665;

}
.elemt_name a:hover{
   text-decoration: underline !important;
}
.elemt_name i.fa{
    /*font-size: 19px;*/
}
.col-updated .border-dark {
    border: 0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.elemt_img{
    max-height:150px;
    overflow: hidden;
    width:100%;
    text-align:center;
    float:left;
    background: #cfcfcf;

}
.elemt_img img{
    min-height: 60px;
}

.elemt_img .img-responsive{
    display:inline-block;
}

.el-nowList{
    background-color: white;
}

.el-nowList:hover{
    /*width: 300px;*/
    float: right;
}
.el-nowList .address{
    display: inline;
}
.el-nowList:hover .address{
    display: inline;
}

.el-nowList:hover .elemt_name, 
.el-nowList:hover .elemt_date {
    /*width: 80%;*/
}

.previewLocalActivity{
    width: 600px;
    float: right;
    background-color: white;
    padding:25px 15px;
    margin-bottom:5px;
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.6);
}

.previewLocalActivity .searchEntityContainer{
    width:100%!important;
    margin:0px!important;
    min-height: 170px !important;
    max-height: unset !important;
}

.btn-communecter{
    border-radius: 50px;
    border:0px!important;
    height:40px;
    border:2px solid transparent;
    font-weight: bold;
}
.btn-communecter:hover{
    background-color: #fff !important;
    color: #ea4335 !important;
    border: 2px solid #ea4335 !important;
}
/* LIVE NOW */
#div-select-create{
    display:none;
    margin-bottom: 20px;
}
#div-select-create a.btn-open-form{
    border:none;
    border-radius:5px;
    background: transparent;
}

#div-select-create a.btn-open-form small{
    white-space: initial;
}

#div-select-create a.btn-open-form i.fa{
    width:50px;
    height:50px;
    text-align: center;
    border-radius: 50px;
    color:white!important;
    padding-top:12px;
    font-size: 25px;
    margin-bottom: 6px;

}

#div-select-create a.btn-open-form:hover{
    background-color: transparent;
    box-shadow: 0px 0px 3px 1px #e3e3e3;
}
#div-select-create small{
    text-transform: uppercase;
    font-size: 10px;
}
.btn-open-form:hover,
.btn-open-form:active{
    text-decoration: none;
}


#btn-show-links-onmap{
    margin-right: 10px;
    margin-top: -15px;
}

#listRoles{
    margin-top: 10px;
    /*border: 1px solid #d8d8d8;*/
    /*padding-top: 5px;*/
    padding-left: 10px;
    background-color: #eaeaea;
    border-radius: 4px;
    font-size: 15px;
}

#communitySearchContent #listRoles .horizontalList .btn{
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 10px;
    border-radius: 3px;
    padding-top: 10px;
    color: #9fbd38;
}

#communitySearchContent #listRoles .horizontalList .btn.active{
    padding-top: 5px;
    margin-top: 5px;
    background-color: #9fbd38;
    color: white;
}

#communitySearchContent #listRoles .horizontalList .badge{
    background-color: #9fbd38;
    color: #fff;
    position: relative;
    border-radius: 0 7px 0 7px;
    height: 20px;

}
#communitySearchContent #listRoles .horizontalList .btn.active .badge{
    color: #9fbd38;
    background-color: #fff;
}
#communitySearchContent #listRoles .horizontalList .btn:hover{
    text-decoration: none !important;
    color:  #2c3e50;
}

#communitySearchContent #listRoles .horizontalList .btn:hover .badge{
    background-color:  #2c3e50;
}
#listRoles .btn.active:hover{
    color: #ece1e1;
}
#listRoles .btn.active:hover .badge{
    background-color: #ece1e1;
}
#descProfilsocial p{
    font-size:15px;
}

#ajaxFormModal .slugtext .help-block{
    display: none!important;
}

/* menuLeftElement*/

.img-thumb{
    height: 50px;
    width: 50px;
}

.podInside .panel-heading,
.podInside .panel-tools{
    display:none;
}
.podInside .panel,
.podInside .table{
    margin-bottom: 0px;
    border: 0px;
}

.podInside.collections a{
    font-size: 15px;
    font-weight: 700;
    padding:10px;
    display: inline-block;
}

.podchart .panel-heading{
    background-color: white !important;
}

.favElBtn{
    /*color: #FC4D4D !important;*/
    /*padding: 6px;
    margin-bottom: 4px;*/
}

.editBtn{
    float: right;
}


.btn-update-info, 
.btn-update-network, 
.btn-update-desc{

}

a.letter-grey{
    color:#425B5F;
}



#subsubMenuLeft hr{
    margin-top: 7px;
    margin-bottom: 7px; 
    border-top: 2px solid #ededed;
}

#subsubMenuLeft a{
    color:#5B5B5C;
    font-size: 16px;
    padding: 6px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    border-left: 3px solid transparent;
}

#subsubMenuLeft a:hover, #subsubMenuLeft a:active,
#subsubMenuLeft a.active{
    color:#0095FF;
    background-color: #edecec;
    border-left: 3px solid #0095FF;
}

#subsubMenuLeft i.fa{
    width: 25px;
    text-align: center;
}
.containInvitation{
    border-bottom: 1px solid lightgray;
    margin-bottom:10px;
}
.containInvitation .btn-accept{
    border-radius:3px !important;
    color: white;
    background-color: #71CE4E;
    padding: 5px 10px;
    margin-top: 5px;
}
.containInvitation .btn-accept:hover{
    color: #71CE4E !important;
    background-color: white;
    border: 1px solid #71CE4E;
}
.containInvitation .btn-accept i{
    font-size:12px;
}
.containInvitation .btn-refuse{
    border-radius:3px !important;
    color: white;
    background-color: #E33551;
    padding: 5px 10px;
margin-top: 5px;
}
#menuCommunity {
    text-align: center;
}
#menuCommunity a{
    font-size: 14px;
    background-color: white;
    padding: 10px 15px;
    /*border-radius: 10px;
    border-bottom: 2px solid;*/
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
}
#menuCommunity a .badge{
    margin-left: 5px;
    background-color: #2C3E50;
}
#menuCommunity a.active .badge{
    background-color: #e6344d !important;
}
#menuCommunity a.active{
    color:#e6344d !important;
    border-color: #e6344d !important;
}
#menuCommunity a:hover{
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
}
.containInvitation .btn-refuse:hover{
    color: #E33551 !important;
    background-color: white;
    border: 1px solid #E33551;
}
.containInvitation .btn-refuse i{
    font-size:12px;
}
.dropdown-menu.menu-params{
    right:10px !important;
    top:55px !important;
}
#menu-left-container{
     
}
.boxBtnLink{
    background-color: #454444;
}
.boxBtnLink a.menu-linksBtn,
.boxBtnLink .nav.navbar-nav,
.boxBtnLink .dropdown {
    width: 100%;
}
.boxBtnLink a.menu-linksBtn {
    padding:10px;
}
@media screen and (max-width: 1024px) {
    #main-name-element{
        font-size: 1.2em;
    }
    /* LIVE NOW */
    .elemt_name, .elemt_date {
        width: 60% !important;
    }
}
@media (min-width: 991px){
 .section-date {
    top:-30px;
 }      
}
@media (min-width: 768px) and (max-width: 991px){
    .section-date {
        position: relative;
        float: left !important;
        margin-left: 28%;
        margin-top: 10px;
    }     

    .panel-btn-confidentiality strong{
        font-size: 0.8em;
    } 
    #central-container .containInvitation{
        width: 30% !important;
    }


}
@media (max-width: 768px) {
    .section-date {
        position: relative;
        float: left !important;
        left: 20px;
    }      
    #shortDescriptionHeader{
        font-size: 13px;
        line-height: 17px;
        max-height: 34px;
        margin-bottom: 15px;
        overflow: hidden;
    }
    #div-select-create small{
        font-size: 9px;
        text-transform: none !important;
        font-weight: bold;
    }

    .sub-menu-social.affix {
        /*top:133px !important;*/
        left: 0px !important;
    }
    #vertical #affix-sub-menu{
        box-shadow: none !important;
    } 
    #menu-left-container{
        padding: 0px;
        background-color: white;
        margin-top: 0px;
        box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.5);
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 0px 0px 10px 10px;
    }
    #menu-left-container #subsubMenuLeft{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #menu-left-container .boxBtnLink .dropdown-menu{
        top: 40px;
        left: 0px;
        right: 0px;
    }
}
#menu-left-container .boxBtnLink .dropdown-menu{
    right: 0px;
}
#menu-left-container #subsubMenuLeft li:last-child hr{
    border:0px;
}
.adminToolBar.entityProfil{
    display: none;
    position: absolute;
    top: 0px;
    height: 150px;
    right: 15px;
    background-color: rgba(0,0,0,0.6);
    left: 15px;
}

.adminToolBar.entityProfil a{
    font-weight:100;
}
.adminToolBar.entityProfil button, .adminToolBar.entityProfil a{
    width: 100%;
    border-radius: inherit;
    background-color: transparent;
    color: white;
    font-size: 16px;
    position: absolute;
    height:30px;

}
.adminToolBar.entityProfil button:hover, .adminToolBar.entityProfil a:hover{
    background-color: white;
    color: black;
    font-size: 17px;
}
.adminIconDirectory{
  z-index:10;
}
    hr.angle-down::after {
        display: none;
    }
    hr.angle-down{
        border-top: 0px solid #ccc;
        margin-bottom:10px!important;
    }
    .grayscale{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

#ajax-modal .container,
#formContact .container{
    background-color: white;
    border-radius: 4px;
}
#ajax-modal.portfolio-modal,
#formContact.portfolio-modal {
    background-color: transparent;
}

#btn-show-activity-onmap{
    width:100%;
}

#central-container #content-results-profil .coop-wraper{
    width:31%!important;
    margin: 0 1% 15px 0 !important;
    border:1px solid #229296!important;
    padding:0px;
}

#central-container #content-results-profil .coop-wraper .searchEntity.coopPanelHtml{
    border:0px !important;
}

#central-container #content-results-profil .coop-wraper .searchEntity.coopPanelHtml .all-coop-detail{
    display:none;
}

#central-container #content-results-profil .coop-wraper .searchEntity.coopPanelHtml .panel-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 75%;
    display: inline-block;
    margin-top:7px;
    font-size: 13px;
}

.menu-linksBtn{
    text-shadow: 1px 1px 1px rgb(0,0,0);
    padding: 5px 10px;
    font-size: 14px;
    text-transform: none;
    border:none;
    margin:0px;
    border-radius: 0px;
    float: left;
}
.menu-linksBtn i{
    margin:0px !important;
}
.menu-linksBtn .fa-chevron-down{
    font-size: 10px !important;
}
.menu-linksBtn li{
    font-size:12px !important;
}
.blockUsername .dropdown-menu li{
    text-shadow: none !important;
    color: #333;
}
.blockUsername .dropdown-menu a{
    padding:0px 5px !important;
}
.blockUsername .dropdown-menu{
    /*position:absolute!important;*/
    border: 1px solid #ccc !important;
    border-radius: 0px !important;
}
.blockUsername .noHover{
    background-color: white !important;
    font-size: 12px !important;
    font-style: italic;
    padding:0px 5px !important;
}
.littleActions{
    padding-top: 10px !important;
    padding-bottom: 20px !important; 
}
.no-border-right{
    border-right: inherit;
}
.blockUsername{
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background-color: rgba(0, 0, 0, 0.5);
}
/*IMAGE UPLOAD*/
    #fileuploadContainer{
        position: relative;
        background-color: transparent;
        width: 100%;
    }
    .fileupload-new .thumbnail, .fileupload-exists .thumbnail{
        height: auto;
    }
    .fileupload-new, .fileupload-preview{
        max-height: 250px;
        overflow-y: hidden;
    }
    .fileupload-preview .thumbnail, .fileupload-new .thumbnail{
        /*min-height: 250px;*/
        /*line-height: 250px;*/
        background-color: black;
    }
    .fileupload-preview.thumbnail, .fileupload-new.thumbnail {
        border: 3px solid white !important;
    }
    .fileupload, .fileupload-preview.thumbnail, .fileupload-new .thumbnail, .fileupload-new .thumbnail img, .fileupload-preview.thumbnail img{
        padding : 0px;
        margin:0px !important;
        transition: none !important;
        border-radius: 0px;
        /*min-height: 250px;*/
        width:100%;
    }

    .photoUploading{
        position: absolute;
        width: 100%;
        display: none;
        top:35%;
        left: 0%;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    .fileupload-preview img{
        max-height:100%; 
    }

    #profil_imgPreview, #slider_imgPreview{
        background-color:#E7EBEF;
        background-color: transparent !important;
        border: 0;
    }
    .user-image .user-image-buttons {
      position: absolute;
      top: 10px;
      left: 10px;
      display: none;
    }
    .user-image .user-image-buttons a.fileupload-new:hover{
        color: #0095FF;
        background-color: white;
        border:1px solid #0095FF;
        border-radius: 3px;
        margin-right: 2px;
    }
    .user-image .user-image-buttons a.fileupload-new{
        background-color: #0095FF;
        color: white;
        border-radius: 3px;
        margin-right: 2px;
    }
    .user-image .user-image-buttons .btn-red:hover{
        color: #ea4335;
        background-color: white;
        border:1px solid red;
        border-radius: 3px;
        margin-right: 2px;
    }
    .user-image .user-image-buttons .btn-red{
        background-color: #ea4335;
        color: white;
        border-radius: 3px;
        margin-right: 2px;
    }
    .user-image:hover .user-image-buttons {
      display: block;
    }
    #galleryPad .dropdown-add-file .dropdown-menu{
        position: absolute;
    }
    #galleryPad .dropdown-add-file .dropdown-menu:after, #galleryPad .dropdown-add-file .dropdown-menu:before{
        left: 8%;
    }
    
    /*IMAGE UPLOAD*/
@media screen and (max-width: 992px) {
    #central-container #content-results-profil .coop-wraper.col-sm-12{
        width:48%!important;
    }
}

/* Menu Mode-XS Made by Nicoss */

@media (max-width: 767px){
    
    #menu-top-profil-social #menu-top-btn-group .open-xs-menu {
        line-height: 28px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .affixMenuImg{
        height: 45px
    }
    #menu-top-profil-social.affix #menu-top-btn-group .affixMenuImg {
        display: block !important;
        height: 45px;
        width: auto;
    }

    .central-section {
        margin-top: 10px;
        padding-left: 0px!important;
    }
}

/* ModalExplaine by Nicoss  #1d3b58*/

.explain-modal.modal {
    background-color: rgba(44, 62, 80, 0.8);
}

.modal-content  .circle-effect{
    position: relative;
    background: #fff;
    border: 15px solid #1d3b58;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    box-shadow: inset 0 2px 10px 0 rgb(63, 78, 88), inset 0 2px 10px 0 rgb(63, 78, 88);
}

.btn-show-more {
    background-color: #1d3b58!important;
    padding: 4px;
    padding-top: 4px!important;
    border: 2px solid #1d3b58;
    border-radius: 4px;
    color: #fff;
    margin: 0px 5px;
 }

.modal-content .circle-effect{
    animation: none;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #1d3b58!important;
    box-shadow: 0 2px 10px 0 rgb(63, 78, 88), 0 2px 10px 0 rgb(63, 78, 88);
    width: 120px;
    height: 120px;
}
.explain-modal.in .modal-dialog {
    top: 110px;
}
.explain-modal.in .modal-content {
    border: 5px solid #1d3b58;
    border-radius: 10px;
}

.circle-effect img.img-responsive {
    max-width: 70%;
}

.explain-modal .text-secondary {
    color: #2c3e50;
    text-transform: none;
}
.explain-modal .modal-content .name {
    text-decoration: underline;
}


@media (min-width: 992px ) and (max-width: 1199px ){
    .modal-content .circle-effect {
        width: 125px;
        height: 125px;
        border: 12px solid #1d3b58;
    }
    .modal-content .circle-effect {
        margin-top: -80px;
    }
}

@media (min-width: 768px) and (max-width: 991px ) {
     .modal-content .circle-effect {
        width: 130px;
        height: 130px;
        border: 13px solid #1d3b58;
    }
    .modal-content .circle-effect {
        margin-top: -80px;
    }
}

@media (max-width: 767px) {
    .modal-content .circle-effect {
        width: 75px;
        height: 75px;
        border: 6px solid #1d3b58;
    }
    .modal-content .circle-effect {
        margin-top: -50px;
    }
}

#central-container .containInvitation{
    position: absolute;
    z-index: 1;
    top : 0px;
    right: 0px;
    width: 20%;
    background-color: #3f4e58;
    border : 1px solid #3f4e58;
    opacity: 0.8;
    border-radius: 15px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    text-align: center;
}
#central-container  .containInvitation a.lbh{
    color: #9fbd38;
}
#central-container  .containInvitation a.btn-accept {
    border: 2px solid #1bbca3;
}
#central-container  .containInvitation a.btn {		
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 50px!important;
    line-height: 1;
    color: #fff;
}
#central-container  .containInvitation a.btn-refuse {
    border: 2px solid #E33551;
}