.jp-audio, .jp-audio-stream, .jp-video{
        border: 0px solid #009be3;
    }
    .jp-audio-stream {
        width:100%;
    }
    /*.jp-interface{
        background-color: transparent;
    }
    .jp-controls button{
        background:none;
        text-indent:0;
    }
    .jp-play{
        background:none;
    }*/
    #modalRadioTool.portfolio-modal .modal-content{
       /*background: url("../img/radios/bg-wave-t.png") repeat; /*background-onepage/pattern/dark_mosaic.png* / */
       background: url("../img/radios/bg-wave-t.png") ; /*background-onepage/pattern/dark_mosaic.png*/
         background-position: 0 -85px;
        -webkit-background-size: 100% 900px;
        -moz-background-size: 100% 900px;
        background-size: 100% 900px;
        -o-background-size: 100% 900px;
        /*background-color: black;*/
    }
    #modalRadioTool{
         background: url("../img/background-onepage/pattern/simple_dashed.png") repeat;
       
    }
    .row-radio{
        background-color: rgba(17,17,17,0.7);
        -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
        border-radius:5px;
    }

    .radio-name{
        min-height:50px;
        padding-top:15px;
    }
    #modalRadioTool.portfolio-modal .close-modal .lr .rl,
    #modalRadioTool.portfolio-modal .close-modal .lr{
        background-color:#C0CEDD!important;
    }
    .btn-radioplay{
        background-color: transparent;
        border:none;
        margin-bottom:4px;
    }
    .btn-radioplay img{
        border:4px solid white;
        height: 70px;
        background-color: white;
    }

    .btn-radioplay:hover img{
        border:4px solid  #13ddd5;
    }

    .btn-radioplay.selected img{
        border:4px solid #34a853;
    }

    #cntr-radio{
        margin-top:5px;
        min-height:110px;
        min-height: 450px;
    }

    .jp-audio .jp-interface, .jp-audio-stream .jp-interface {
        height: 24px;
    }
    .jp-volume-controls {
        top: 5px;
    }


@media (max-width: 1000px) {
  .btn-radioplay img{
    height: 35px;
  }
  #cntr-radio{
    /*background-color: #f8f8f8;
    margin-top:-20px;
  }

  #cntr-radio h4{
    font-size: 8px;
  }

}