.fileupload, .fileupload-preview.thumbnail, .fileupload-new .thumbnail, .fileupload-new .thumbnail img, .fileupload-preview.thumbnail img{
	border-radius: 50%;
	text-align: right;
	object-fit: contain;
	object-position: center;
}.contentHeaderInformation{
	    background-color: rgba(63, 78, 88, 0.8);
    bottom: 0px;
    /* opacity: 0.8; */
    padding-top: 20px;
    padding-bottom: 15px;
    z-index: 10;
}
.dropdown-profil-menu-params .menu-params{
	margin-top: 10px;
}
.section-badges {
    background-color: #3f4e58!important;
    /*opacity: 0.8;*/
    font-weight: inherit;
    border-radius: 30px;
    position: absolute;
	z-index: 10;
}
.badgePH a{
	color: white!important;
	font-size: 13px;
}
.fileupload-preview.thumbnail, .fileupload-new.thumbnail {
    border: 10px solid white !important;
}

.sub-menu-social {
    border-top: none!important;
}
.social-sub-header{
	background-color: white;
	position: absolute;
    top: 100%;
}
#menu-top-profil-image #fileuploadContainer {
    position: relative;
    background-color: transparent;
    margin-left: 25%;
    box-shadow: 0px 0px 6px 0px #404545;
    border-radius: 50%;
    float: right;
}
@media (min-width:1200px){
	#menu-top-profil-image img>.img-responsive {
	    width: 200px!important;
	    height: 200px!important;
	}
	#menu-top-profil-image #fileuploadContainer {
		width: 220px!important;
	    height: 220px!important;
	    margin-top: -320px!important;
	}
	#menu-top-profil-image .fileupload-new .thumbnail img{
		width: 200px!important;
	    height: 200px!important;
	    }
	.fileupload-preview.thumbnail img {
    	height: 200px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
	#menu-top-profil-image img>.img-responsive{
	    width: 145px!important;
	    height: 145px!important;
	}
	#menu-top-profil-image #fileuploadContainer {
		width: 200px;
	    height: 200px;
	    margin-top: -300px!important;
	}
	#menu-top-profil-image .fileupload-new .thumbnail img{
		width: 180px!important;
	    height: 180px!important;
	}
	.fileupload-preview.thumbnail img {
    	height: 180px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
	#menu-top-profil-image img>.img-responsive {
    width: 125px!important;
    height: 125px!important;
	}
	#menu-top-profil-image #fileuploadContainer {
	    width: 155px!important;
	    height: 155px!important;
	    margin-top: -285px!important;
	}
	#menu-top-profil-image .fileupload-new .thumbnail img{
		width: 135px!important;
	    height: 135px!important;
	}
	.fileupload-preview.thumbnail img {
    	height: 135px;
    }
}

#menu-top-profil-social #menu-top-btn-group{
    padding-right: 0px;
    padding-left: 52px;
}
/*
.user-image .user-image-buttons a.fileupload-new {
    background-color: #9fbd38;
    color: white;
}

.user-image .user-image-buttons a.fileupload-new:hover {
    background-color: white;
    color: #9fbd38;
    border: 1px solid #9fbd38;
}
*/
#social-header {
    min-height: 247px;
    background-color: rgba(230,230,230,0.6);
    padding: 0px;
    padding-top: 0px;
}

.sub-menu-social {
    /*background-color: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: -45px!important;*/
}

#menu-top-profil-social #menu-top-profil-image {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.menu-top-height {
	min-height: 50px; 
}



/*menu horizontale*/
.label-link{
	margin-top: 50px;
    position: absolute;
    color: #3f4e58;
}
.label-link:hover{
	color: #1d3b58;
}
.link-circle{
    font-size: 25px;
    border-radius: 50%!important;
    color: #fff;
    width: 50px!important;
    height: 50px!important;
    position: absolute;
    line-height: 50px;
    background-color: #1d3b58;
    transition: all .3s ease-out;
}

.link-circle:hover {
	color: #1d3b58;
	background-color: #fff;
	border: 1px solid #1d3b58;
}

a.place-align.active .link-circle {
	color: #1d3b58;
	background-color: #fff;
	border: 1px solid #1d3b58;
}
a.place-align .link-circle img {
	width: 28px;
	margin-top: -9px;
}
a.place-align.active .label-link{
	color: #1d3b58;
}
a.place-align:hover .label-link{
	color: #1d3b58;
}

a.place-align:hover .link-circle {
	color: #1d3b58;
	background-color: #fff;
	border: 1px solid #1d3b58;
	transform: rotate(360deg);
}
a#btn-start-costumizer:hover .link-circle {
	color: #fff;
	background-color: #1d3b58;
	border: 1px solid #1d3b58;
	transform: rotate(360deg);
}

#horizontal-top {
	padding: 50px 20px 20px 20px;
}


.place-align {
	width: 10%;
    text-align: center!important;
    border: none!important;
    margin-bottom: 50px;
    margin-top: 10px!important;
    box-shadow: none!important;
    background-color: #fff!important;
    justify-content: center;
    display: inline-flex;
}


@media (max-width: 992px){
	.sub-menu-social.affix .place-align {
 /*  		display: none;*/
	}
}
.text-dark-green{
    color: #4caf50;
}
@media (min-width: 768px){
	.sub-menu-social.affix .link-circle{
	    font-size: 20px;
	    width: 40px!important;
	    height: 40px!important;
	    line-height: 40px;
	}
	.sub-menu-social.affix .label-link{
	   display: none;
	}

	.sub-menu-social.affix .place-align {
	   margin-top:0px!important;
	   margin-bottom: 7px;
	   width: auto;
	   margin-left: 22px;
	   margin-right: 22px;
	 }
}
.horizontal-affix{
	display: none;
}
.sub-menu-social.affix .horizontal-affix{
	display: inline;
}

.sub-menu-social.affix .menuTopDesc{
	display: none!important;
}


.top-18{
	margin-top: -18px!important;
}
.top-7{
	margin-top: 7px;
}

.tag-contain ul.tag-list li.adress-banner-element {
    font-size: 14px;
    background-color: transparent;
    padding: 5px 12px;
    color: #fff;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
    /*border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;*/
}
.tag-list li a {
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 2px;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
}
ul.tag-list li {
    list-style: none;
}
.tag-list li {
    float: left;
}

.shortDescTop{
	font-size: 18px; 
	font-weight: 700;
}

.sub-menu-social.affix .tooltips-visivility {
    visibility: visible!important;
}
@media (max-width: 768px){
	#menu-left-container #subsubMenuLeft {
    padding-top: 1px!important;
}
}
#menu-left-container .boxBtnLink{
	display: none;
}
.main-container .sub-menu-social.affix {
    left: 0px!important;
}

@media (max-width: 767px){
	#menu-top-profil-social #menu-top-btn-group {
    padding-right: 0px;
    padding-left: 0px;
	}
}

/*Button UPDATE IMAGE PROFIL*/

#menu-top-profil-image .user-image .user-image-buttons .userLabelBtn {
	display: none;
}

#menu-top-profil-image .user-image .user-image-buttons {
	display: block;
}
#menu-top-profil-image .user-image .user-image-buttons a.fileupload-new:hover {
	background-color: white;
	color: #9fbd38;
	border: 2px solid #9fbd38;
	transform: rotate(360deg);
}

@media (min-width:1200px){
	#menu-top-profil-image .user-image .user-image-buttons a.fileupload-new {
	    background-color: white;
	    opacity: 0.9;
	    color: #3f4e58;
	    position: absolute;
	    top: auto;
	    bottom: -205px;
	    border-top: 3px solid white;
	    left: 137px;
	    width: 43px;
	    height: 43px;
	    line-height: 33px;
	    border-radius: 50%;
	    border: 2px solid;
	}

	#menu-top-profil-image .user-image .user-image-buttons a.fileupload-new i{
		font-size: 18px
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	#menu-top-profil-image .user-image .user-image-buttons a.fileupload-new {
	    background-color: white;
	    opacity: 0.9;
	    color: #3f4e58;
	    position: absolute;
	    top: auto;
	    bottom: -175px;
	    border-top: 3px solid white;
	    left: 137px;
	    width: 40px;
	    height: 40px;
	    line-height: 30px;
	    border-radius: 50%;
	    border: 2px solid;
	}

	#menu-top-profil-image .user-image .user-image-buttons a.fileupload-new i{
		font-size: 15px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	#menu-top-profil-image .user-image .user-image-buttons a.fileupload-new {
	    background-color: white;
	    opacity: 0.9;
	    color: #3f4e58;
	    position: absolute;
	    top: auto;
	    bottom: -140px;
	    border-top: 3px solid white;
	    left: 95px;
	    width: 40px;
	    height: 40px;
	    line-height: 28px;
	    border-radius: 50%;
	    border: 2px solid;
	}

	#menu-top-profil-image .user-image .user-image-buttons a.fileupload-new i{
		font-size: 15px;
	}
}


/* Menu Mode-XS Made by Nicoss */

@media (max-width: 767px){
/*	#menu-top-profil-social #menu-top-btn-group .open-xs-menu {
    	line-height: 28px;
	    padding-left: 18px;
	    padding-right: 18px;
    }
*/    
    #menu-top-profil-social.affix #menu-top-btn-group {
    	/*display: none;*/
	}
	.element-xs-menu {
	    position: absolute;
	    z-index: 10;
	    width: 100%;
	    bottom: inherit;
	    top: 46px!important;
	}
/*. 
	affixMenuImg{
		height: 45px
	}
	#menu-top-profil-social.affix #menu-top-btn-group .affixMenuImg {
	    display: block !important;
	    height: 45px;
	    width: auto;
	}
*/	
	.sub-menu-social.affix .menu-xs-container {
		display: none;
	}
	.menu-xs-container {
		left: 0px;
	    width: 90%;
	    height: auto;
	    /* bottom: 10px; */
	    background: white;
	    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.6);
	    overflow-y: scroll;
	}
	.link-circle {
	    font-size: 20px;
	    border-radius: 50%!important;
	    color: #fff;
	    width: 40px!important;
	    height: 40px!important;
	    position: absolute;
	    line-height: 40px;
	    /*background-color: #1d3b58;*/
	    transition: all .3s ease-out;
	}
	.label-link {
	    margin-left: 50px;
	    margin-top: 0px;
	    position: absolute;
	    color: #3f4e58;
	}
	.place-align {
	    width: 100%;
	    text-align: left!important;
	    border: none!important;
	    margin-bottom: 6px;
	    margin-top: 6px!important;
	    box-shadow: none!important;
	    background-color: #fff!important;
	}
	/*.central-section {
	    margin-top: 10px;
	    padding-top: 0px!important;
	}*/
	#menu-top-btn-group a .label-menu {
		display: none;
	}
	#menu-top-btn-group a.invite-btn {
		background-color: #fff;
	    border: 1px solid #ccc;
	    border-top: 0px;
	    border-bottom: 0px;
	    height: 45px;
	    line-height: 35px;
	    margin-top: 0px;
	    border-radius: 0px;
	}
	.link-circle {

	}
}
#menu-top-profil-social.affix-top .tooltip {
	display: none!important;
}







