.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

@media (min-width:576px){
    .flex-sm-row{
        -ms-flex-direction:row!important;
        flex-direction:row!important
    }
    .flex-sm-column{
        -ms-flex-direction:column!important;
        flex-direction:column!important
    }
    .flex-sm-wrap{
        -ms-flex-wrap:wrap!important;
        flex-wrap:wrap!important
    }
}
@media (max-width:575px){
    .flex-xs-row{
        -ms-flex-direction:row!important;
        flex-direction:row!important
    }
    .flex-xs-column{
        -ms-flex-direction:column!important;
        flex-direction:column!important
    }
    .flex-xs-wrap{
        -ms-flex-wrap:wrap!important;
        flex-wrap:wrap!important
    }
}
@media (min-width:768px){
    .flex-md-row{
        -ms-flex-direction:row!important;flex-direction:row!important
    }
    .flex-md-column{
        -ms-flex-direction:column!important;flex-direction:column!important
    }
}
@media (min-width:992px){
    .flex-lg-row{
        -ms-flex-direction:row!important;
        flex-direction:row!important
    }
    .flex-lg-column{
        -ms-flex-direction:column!important;
        flex-direction:column!important
    }
}