
        /*----------
        Blocks
        ----------*/
        /*Pricing table and price blocks*/
        .pricing_table {
            line-height: 150%; 
            font-size: 12px; 
            margin: 0 auto; 
            width: 75%; 
            max-width: 800px; 
        }
        
        .price_block {
            text-align: center; 
            width: 100%; 
            color: #fff; 
            float: left; 
            list-style-type: none; 
            transition: all 0.25s; 
            position: relative; 
            box-sizing: border-box;
            
            margin-bottom: 10px; 
            border-bottom: 1px solid transparent; 
        }
        
        /*Price heads*/
        .pricing_table h3 {
            text-transform: uppercase; 
            padding: 5px 0; 
            background: #2a3945; 
			color:#fff;
            margin: -10px 0 1px 0;
        }
        
        /*Price tags*/
        .price {
            display: table; 
            background: #2a3945; 
            width: 100%; 
            height: 70px; 
        }
        .price_figure {
            font-size: 24px; 
            text-transform: uppercase; 
            vertical-align: middle; 
            display: table-cell;
        }
        .price_number {
            font-weight: bold; 
            display: block;
        }
        .price_tenure {
            font-size: 11px; 
        }
        
        /*Features*/
        .features {
            background: #418ab4; 
            color: #fff;
        }
        .features li {
            padding: 8px 15px;
            border-bottom: 1px solid #ccc; 
            font-size: 11px; 
            list-style-type: none;
        }
        
        .footer {
            padding: 15px; 
            background: #418ab4;
        }
        .action_button {
            text-decoration: none; 
            color: #fff; 
            font-weight: bold; 
            border-radius: 5px; 
            background: linear-gradient(#666, #333); 
            padding: 5px 20px; 
            font-size: 11px; 
            text-transform: uppercase;
        }
        
        .price_block:hover {
            box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); 
            transform: scale(1.04) translateY(-5px); 
            z-index: 1; 
            border-bottom: 0 none;
        }
        .price_block:hover .price {
            background:#F7E400; 
      color:#333;
            /*box-shadow: inset 0 0 45px 1px white;*/
        }
        .price_block:hover h3 {
            background: #222;
        }
        .price_block:hover .action_button {
            background:#F7E400; 
  color:#333;
        }
        
        
        @media only screen and (min-width : 480px) and (max-width : 768px) {
            .price_block {width: 50%;}
            .price_block:nth-child(odd) {border-right: 1px solid transparent;}
            .price_block:nth-child(3) {clear: both;}
            
            .price_block:nth-child(odd):hover {border: 0 none;}
        }
        @media only screen and (min-width : 768px){
            .price_block {width: 25%;}
            .price_block {border-right: 1px solid transparent; border-bottom: 0 none;}
            .price_block:last-child {border-right: 0 none;}
            
            .price_block:hover {border: 0 none;}
        }
        
        .skeleton, .skeleton ul, .skeleton li, .skeleton div, .skeleton h3, .skeleton span, .skeleton p {
            border: 5px solid rgba(255, 255, 255, 0.9);
            border-radius: 5px;
            margin: 7px !important;
            background: rgba(0, 0, 0, 0.05) !important;
            padding: 0 !important;
            text-align: left !important;
            display: block !important;
            
            width: auto !important;
            height: auto !important;
            
            font-size: 10px !important;
            font-style: italic !important;
            text-transform: none !important;
            font-weight: normal !important;
            color: black !important;
        }
        .skeleton .label {
            font-size: 11px !important;
            font-style: italic !important;
            text-transform: none !important;
            font-weight: normal !important;
            color: white !important;
            border: 0 none !important;
            padding: 5px !important; 
            margin: 0 !important;
            float: none !important;
            text-align: left !important;
            text-shadow: 0 0 1px white;
            background: none !important;
        }
        .skeleton {
            display: none !important;
            margin: 100px !important;
            clear: both;
        }